</main>
<!--Footer start-->
<footer id="footer" class="bg-dark text-white position-relative">
    <div class="container pt-9 pt-lg-12">
        <div class="row">
            <div class="col-md-12 col-lg-3 mb-5 h-100 me-auto">
                <!--Title-->
                <!-- <h2 class="display-6 mb-0 position-relative">
                    Work with us
                </h2> -->
                <img src="/assets/logo/ss-logo.svg" width="200px">
                <div class="pt-3">
                    <!-- <a class="link-underline fs-5" href="mailto:mail@doamin.com">mail@domain.com</a> -->
                    <span class="small">Data sciences through telecom</span>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2 mb-5 mb-md-0 ms-auto h-100">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-2">PRODUCT</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="/product/sipstack-uc">SIPSTACK UC</a></li>
                    <li class="nav-item"><a class="nav-link" href="/product/smart-cnam">Smart CNAM</a></li>
                    <li class="nav-item"><a class="nav-link" href="/product/sip-free">SIP Free</a></li>
                    <li class="nav-item"><a class="nav-link" href="/product/whois">Whois</a></li>

                </ul>
            </div>
            <!--/.Col-->
            <div class="col-md-4 col-lg-3 col-xl-2  mb-5 h-100">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-2">RESOURCES</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="/resources/knowledge-base">Knowledge Base</a></li>
                    <li class="nav-item"><a class="nav-link" href="/resources/docs">Documentation</a></li>
                    <li class="nav-item"><a class="nav-link" href="/resources/case-study">Case Studies</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://github.com/sipstack/sipstack/discussions" target="_blank">Community <i class="small text-muted pb-1 bx bx-link-external"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/resources/blog">Blog</a></li>

                </ul>
            </div>
            <!--/.Col-->
            <div class="col-md-4 col-lg-3 col-xl-2 mb-5 h-100">
                <!--Title-->
                <h6 class="small mb-3 mb-lg-2">COMPANY</h6>
                <!--Nav-->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/resources/blog">In the media</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs">Careers
                            <span class="badge badge-pill ms-1 bg-primary small" style="font-size:xx-small;">Hiring</span>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contact/us">Investor Relations</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact/us">Contact</a></li>

                </ul>
            </div>
            <!--/.Col-->
        </div>
        <div class="pb-1 mt-4">
            <div class="container">
                <div class="row justify-content-md-between justify-content-center small text-muted">
                    SIPSTACK is a registered trademark of SIPSTACK Inc.
                    <div class="text-sm-end" style="padding-right:0;margin-top:-30px;">
                
                            <!-- Social button -->
                            <a href="#!" class="d-inline-block me-2 si ">
                                <i class="bx bxl-facebook fs-5"></i>
                                <i class="bx bxl-facebook fs-5"></i>
                            </a>
                            <!-- Social button -->
                            <a href="#!" class="d-inline-block me-2 si ">
                                <i class="bx bxl-twitter fs-5"></i>
                                <i class="bx bxl-twitter fs-5"></i>
                            </a>
                            <!-- Social button -->
                            <a href="#!" class="d-inline-block me-2 si">
                                <i class="bx bxl-linkedin fs-5"></i>
                                <i class="bx bxl-linkedin fs-5"></i>
                            </a>
                            <!-- Social button -->
                            <a href="#!" class="d-inline-block si ps-0 ">
                                <i class="bx bxl-instagram fs-5"></i>
                                <i class="bx bxl-instagram fs-5"></i>
                            </a>

                            <a href="#!" class="d-inline-block si ps-0 ">
                                <i class="bx bxl-youtube fs-5"></i>
                                <i class="bx bxl-youtube fs-5"></i>
                            </a>

                            <a href="#!" class="d-inline-block si ps-0 ">
                                <i class="bx bxl-tiktok fs-5"></i>
                                <i class="bx bxl-tiktok fs-5"></i>
                            </a>

                            <a href="#!" class="d-inline-block si ps-0 ">
                                <i class="bx bxl-github fs-5"></i>
                                <i class="bx bxl-github fs-5"></i>
                            </a>
                     
                    </div>
                </div>
            </div>
        </div>
        <hr class="mb-5 mt-0">
    </div> <!-- / .container -->
    <div class="pb-5">
        <div class="container">
            <div class="row justify-content-md-between align-items-center text-muted">
                ©
                    <script>
                        document.write(new Date().getFullYear())

                    </script> SIPTACK Inc.
         
                <div class="col-sm-6 col-md-4 text-sm-end">
                    <!-- <a class="nav-link" href="#!">About</a> -->
                    <ul class="list-inline">
                        <li class="list-inline-item ss-footer-sub-link">
                            <a class="link-hover-underline" href="/legal/tos">Terms of Service</a>
                        </li>

                        <li class="list-inline-item ss-footer-sub-link">
                            <a class="link-hover-underline" href="/legal/privacy">Privacy</a>
                        </li>

                        <li class="list-inline-item ss-footer-sub-link">
                            <a class="link-hover-underline" href="/legal/cookie">Cookie Policy</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>                    
<!-- begin:Back to Top button -->
<a href="#" class="toTop">
    <i class="bx bxs-up-arrow" style="font-size:unset;"></i>
  </a>

  <script src="/assets/js/theme.bundle.js"></script>
  <script src="/assets/vendor/node_modules/js/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/node_modules/js/jquery.min.js"></script>
  <script src="/assets/js/sipstack.js"></script>
</body>
</html>
