<!-- prettier-ignore -->
@@include('components/layouts/head.html', {
    title: "SIP Free // SIPSTACK",
    meta: {
        description: "Simple Termination, STIR/SHAKEN managed so you dont have to",
        keywords: "voip, multi-tenant, hosted pbx, pbx, sip, trunk, trunking, robocall, mitigation, cnam, termination, fcc, crtc, regulatory, compliance",
        author: "SIPSTACK",
        robots: "index, follow",
        url: "product/sip-free",
        image: "logo/logo.png",
        type: "website",
        created: "", 
        updated: "", 
    },
    body: 'data-bs-spy="scroll" data-bs-target="#navbar-secondary"',
    css: [
    '/assets/vendor/node_modules/css/swiper-bundle.min.css',
    '/assets/vendor/node_modules/css/glightbox.min.css'
    ],
    nav: {
        class: ''
    }
})

<!-- prettier-ignore -->
@@include('components/sections/header.logo.html', {
    label: 'Products',
    title :'SIP Free',
    description: 'Simple Termination, STIR/SHAKEN managed so you dont have to',
    button1: {
        label: 'Get Started',
        link: 'https://partner.sipstack.com/signup'
    },
    button2: {
        label: 'Book Demo',
        link: '/'
    },
    
})

<!-- prettier-ignore -->
@@include('components/parts/nav.secondary.html', {
    menu: [
        {title:'Overview', link:'#overview'},
        {title:'Features', link:'#features'},
        {title:'Pricing', link:'#pricing'},
        {title:'FAQs', link:'#faq'},
    ]
})

<!-- prettier-ignore -->
@@include('components/sections/feature.title.html', {
    id: 'overview',
    class: '',
    title: 'Overview',
    description: 'Get Started - It\'s Free',
    extra: ''
})

<!-- prettier-ignore -->
@@include('components/sections/cta.starter.html', {
    class: 'pb-9',
    description: 'Simple SIP Trunking with free termination to North American Toll-Free destination. Supporting ULAW, G729, G722 and T.38 where available.',
    button: 'Create Account',
    arrow: 'true',
})

<!-- prettier-ignore -->
@@include('components/sections/feature.card-list.html',{
    class:'pb-9',
    cols:
        [
            {
                title: 'Create your account',
                description: 'Sign up and confirm your email by following the sign-up wizard.',
                icon: 'bi-1-circle',
            },
            {   
                title: 'Authorize your hosts',
                description: 'Enable each of your hosts by authorizing their IP address, then add to your routes.',
                icon: 'bi-2-circle'
            },
            {
                title: 'Authorize your DIDs', 
                description: 'Submit your phone numbers in bulk or integrate via API to add additional layer of call security.',
                icon: 'bi-3-circle',
            },
            {   
                title: 'Let the calls begin',
                description: 'Enjoy free SIP calls with advanced call detail reporting from the partner portal.',
                icon: 'bi-4-circle'
            },
        ],
})

<!-- prettier-ignore -->
@@include('components/sections/feature.title.html', {
    id: 'features',
    class: 'bg-light',
    title: 'Features',
    description: 'Plug & Play SIP Termination',
    extra: ''
})

<!-- prettier-ignore -->
@@include('components/sections/feature.card-list.html',{
    class:'border-bottom bg-light pb-9',
    cols:
        [
            {
                title: 'Free Toll-Free Termination',
                description: 'Unlimited Toll-Free termination regardless of subscription plan.',
                icon: 'bx bx-hash',
            },
            {   
                title: 'STIR/SHAKEN Certified',
                description: 'All US termination include managed STIR/SHAKEN automatically validated DIDs submitted to our Trust profiles.',
                icon: 'bx bx-certification'
            },
            {
                title: 'Simple Competative Pricing', 
                description: 'Fixed termination rates make managing cost of usage easy.',
                icon: 'bx bx-dollar-circle',
            },
            {   
                title: 'Robocall Mitigation',
                description: 'Advanced alerting can be set as brand defaults or on a phone number level.',
                icon: 'bx bx-notification'
            },
        ],
})

  <!-- prettier-ignore -->
  @@include('components/sections/feature.title.html', {
    id: 'pricing',
    class: 'mb-n10',
    title: 'Pricing',
    description: 'Smart plans, auto volume discounted',
    extra: ''
})

@@include('components/sections/pricing.table.html', 
    {
        cols: [
            { name: '' , sup: '', class: '', monthly: '', yearly: '', sub: '', tag: '' },
            { name: 'Free', sup: '$', class: 'price',monthly: '0', yearly: '0', sub: 'Per Month', tag: ''},
            { name: 'Starter', sup: '$', class: 'price',monthly: '45', yearly: '36', sub: 'Per Month', tag: ''},
            { name: 'Competitor', sup: '$', class: 'price',monthly: '1000', yearly: '800', sub: 'Per Month', tag: 'Most Popular'},
            { name: 'Provider', sup: '$', class: 'price',monthly: '3500', yearly: '2800', sub: 'Per Month', tag: ''},
            { name: 'Carrier', sup: '', class: '', monthly: 'Call', yearly: 'Call', sub: 'for pricing', tag: ''},
        ],
        rows: [

            '<td class="bg-gray-200" colspan="6"><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block"><strong>FEATURES</strong></small></div></td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block">Included USA/Canada <strong>Local</strong> Minutes per month</small></div></td><td>50</td><td>10,000</td><td>250,000</div></td><td>1,000,000</td><td>2,000,000+</td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block">Included USA/Canada <strong>Toll-Free</strong> Minutes per month</small></div></td><td>Unlimited</td><td>Unlimited</td><td>Unlimited</div></td><td>Unlimited</td><td>Unlimited</td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block">STIR/SHAKEN Certified (US Only)</small></div></td><td><i class="bx bx-check lh-1 fs-4"></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block">Robocall Mitigation Tools</small></div></td><td></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block">Advanced Alerting</small></div></td><td></td><td></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block">Intelligent Anylytics & Mapping</small></div></td><td></td><td></td><td></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>',

            

            '<td colspan="6" class="bg-gray-200"><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block"><strong>EXTRAS</strong></small></div></td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block ">Support SLA <i class="text-muted small bx bxs-help-circle" style="" ></i></small></div></td><td>Community</td><td>Community</td><td>Within 8 hours</td><td>Within 4 hours</td><td>Within 2 hours</td>' ,

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block ">Integration specialist <i class="text-muted small bx bxs-help-circle" style="" ></i></small></div></td><td></td><td></td><td></td><td><i class="bx bx-check lh-1 fs-4"></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>' ,

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block ">Regional SBC proximity <i class="text-muted small bx bxs-help-circle" style="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="SIP Free SBC cluster deployed within 100 Miles of customer datacenter"></i></small></div></td><td></td><td></td><td></td><td></td><td><i class="bx bx-check lh-1 fs-4"></i></td>' ,

            '<td></td><td><button class="btn btn-primary">Get Started</button></td><td><button class="btn btn-primary">Subscribe</button></td><td><button class="btn btn-primary">Subscribe</button></td><td><button class="btn btn-primary">Subscribe</button></td><td><button class="btn btn-primary">Contact</button></td>' ,

            ]
    }
)

<!-- prettier-ignore -->
@@include('components/sections/feature.title.html', {
    id: 'faq',
    class: 'bg-light',
    title: 'FAQs',
    description: 'Frequently Asked Questions',
    extra: ''
})

<!-- prettier-ignore -->
@@include('components/sections/faq.default.html', {
    class: 'bg-light',
    cols: [
        {
            title: 'Why is this product free?',
            description: 'As a data science through telecom company, we offer products that drive data into our AI/ML learning models to help us achieve our primary goals, making a safer connected tomorrow.',
        },
        {
            title: 'How does caller driven data help SIPSTACK?',
            description: 'Learning more about traffic patterns provide our AI/ML added insight into our dynamic call rating system when providing a call score.',
        },
        {
            title: 'Do my calls have to originate from US or Canada?',
            description: 'No, you can add SIP Free in your product and originate calls from everywhere as long as the original caller ID number has been authorized on your account. Please see our Terms of Service, Acceptable Use Policy for more details.',
        },
        {
            title: 'Is there an API to automate DID authorization?',
            description: "Yes, from the SIP Free section of the partner portal, links to our API reference pages will help you integrate adding, modifying and removing phone numbers / DID's from your authorized pool.",
        },
        {
            title: 'Is there a concurrent call limit?',
            description: 'No, while there is no concurrent call limit, there are call limits per minute. Please see our resource center for call limits for more details.',
        },
        {
            title: 'Is there a call duration limit?',
            description: 'Yes, while these are usually never required, we terminate calls at the 8 hour mark. This is really for stale channels or calls to help prevent incorrect call lengths on a call disconnect without proper SIP completions.',
        },
    ]
})

<!-- prettier-ignore -->
@@include('components/sections/cta.default.html', {
    class: 'p-9',
    label: 'Get Started',
    title: 'Smarter SIP Termination',
    description: 'Volume discounted and STIR/SHAKEN managed',
    input_class: 'bg-light',
    placeholder: 'Your email address...',
    button: 'Signup',
    demo: '',
    link: '',
})

<script>
    window.addEventListener('load', function () {
      $('#ss-form-cta').submit(function (e) {
        e.preventDefault()
    
        var formData = $('#ss-form-cta').serialize()
        window.location.href=`https://partner.sipstack.com/signup?${formData}`
      })
    })
  </script>

<!-- END SECTIONS ----------------------------------------------------------------------------------------- -->
@@include('components/layouts/tail.html')
