<!-- prettier-ignore -->
@@include('components/layouts/head.html', {
    title: "SIP Guard // SIPSTACK",
    meta: {
        description: "Protect your voice infrastructure",
        keywords: "voip, multi-tenant, hosted pbx, pbx, sip, trunk, trunking, robocall, mitigation, cnam, termination, fcc, crtc, regulatory, compliance",
        author: "SIPSTACK",
        robots: "index, follow",
        url: "product/sip-guard",
        image: "logo/logo.png",
        type: "website",
        created: "", 
        updated: "", 
    },
    body: 'data-bs-spy="scroll" data-bs-target="#navbar-secondary"',
    css: [
    '/assets/vendor/node_modules/css/swiper-bundle.min.css',
    '/assets/vendor/node_modules/css/glightbox.min.css'
    ],
    nav: {
        class: ''
    }
})

<!-- prettier-ignore -->
@@include('components/sections/header.logo.html', {
    label: 'Products',
    title :'SIP Guard',
    description: 'Protect your voice infrastructure',
    button1: {
        label: 'Request Invite',
        link: '/invite'
    },
    button2: {
        label: '',
        link: ''
    },
    
})

<!-- prettier-ignore -->
@@include('components/parts/nav.secondary.html', {
    menu: [
        {title:'Overview', link:'#overview'},
        {title:'Features', link:'#features'},
        {title:'Pricing', link:'#pricing'},
        {title:'FAQs', link:'#faq'},
    ]
})

<!-- prettier-ignore -->
@@include('components/sections/feature.title.html', {
    id: 'overview',
    class: '',
    title: 'Overview',
    description: 'Hackers — no more',
    extra: 'Protect your voice infrastructure, in cloud or on-premise from bad actors. Become (FCC) compliant with the TRACED Act by stopping robocalls, unauthorized SIP registrations, provisioning server scraping, and spoofing with SIP Guard by SIPSTACK'
})

<!-- prettier-ignore -->
@@include('components/sections/cta.starter.html', {
    class: 'pb-9',
    description: '',
    button: 'Get Notified',
    arrow: 'true',
})

<!-- prettier-ignore -->
@@include('components/sections/feature.title.html', {
    id: 'features',
    class: 'bg-light',
    title: 'Features',
    description: 'Plug & Play Protection',
    extra: ''
})

<!-- prettier-ignore -->
@@include('components/sections/feature.card-list.html',{
    class:'border-bottom bg-light pb-9',
    cols:
        [
            {
                title: 'SIP Protect',
                description: 'Monitors a variety of attempts on your network, such as, REGISTER, INVITE, OPTIONS, etc. Alerting you of these attempts and auto block them if needed.',
                icon: 'bx bx-coffee-togo',
            },
            {   
                title: 'Robocall Mitigation',
                description: 'Monitors call patterns and alerts you when robocalls are calling from your network.',
                icon: 'bx bx-shield-alt'
            },
            {
                title: 'Provisioning Guard',
                description: 'Monitors your provisioning / tftp servers for unauthorized access or unusual attempts.',
                icon: 'bx bx-server',
            },
            {   
                title: 'DID Authority',
                description: 'Monitors your overall customer use against their Smart CNAM Risk Score and receive alerts when it matters.',
                icon: 'bx bx-check-shield'
            },
            
        ],
})

<!-- prettier-ignore -->
@@include('components/sections/feature.title.html', {
    id: 'pricing',
    class: '',
    title: 'Pricing',
    description: 'Pricing not available',
    extra: 'Stay tuned for updates.'
})

<!-- prettier-ignore -->
@@include('components/sections/feature.title.html', {
    id: 'faq',
    class: 'bg-light',
    title: 'FAQs',
    description: 'Frequently Asked Questions',
    extra: 'Stay tuned for updates.'
})

<!-- prettier-ignore -->
@@include('components/sections/cta.default.html', {
    class: 'p-9',
    label: 'Request Invite',
    title: 'Join our preview circle',
    description: 'Join our preview program and be the first to experience next level UCaaS.',
    input_class: 'bg-light',
    placeholder: 'Email Address',
    button: 'Notify Me',
    demo: '',
    link: ''
})

<script>
  window.addEventListener('load', function () {
    $('#ss-form-cta').submit(function (e) {
      e.preventDefault()

      var formData = $('#ss-form-cta').serialize()
      $('#ss-form-cta-submit').attr('disabled', '')
      apiRequest('f/www/cap/invite?' + formData, 'GET')
    })
  })
</script>
<!-- END SECTIONS ----------------------------------------------------------------------------------------- -->
@@include('components/layouts/tail.html')
