<!-- prettier-ignore -->
@@include('components/layouts/head.html', {
    title: 'Smart CNAM // SIPSTACK',
    body: 'data-bs-spy="scroll" data-bs-target="#navbar-secondary"',
    css: [
    '/assets/vendor/node_modules/css/swiper-bundle.min.css',
    '/assets/vendor/node_modules/css/glightbox.min.css'
    ]
})

<!-- prettier-ignore -->
@@include('components/sections/header.logo.html', {
    label: 'Products',
    title :'SIP Scribe',
    description: 'Transcribe recordings or voicemail with ease',
    button1: {
        label: 'Request Invite',
        link: '/invite'
    },
    button2: {
        label: '',
        link: ''
    },
    
})

<!-- prettier-ignore -->
@@include('components/parts/nav.secondary.html', {
    menu: [
        {title:'Overview', link:'#overview'},
        {title:'Features', link:'#features'},
        {title:'Pricing', link:'#pricing'},
        {title:'FAQs', link:'#faq'},
    ]
})

<!-- prettier-ignore -->
@@include('components/sections/feature.title.html', {
    id: 'overview',
    class: '',
    title: 'Overview',
    description: 'Drop in voice transcription — that works',
    extra: 'Simple voice to text transcription service designed for ITSP\'s. Simple drop in API calls in your call routes to return transcribed messages. Offer your customers enhanced user experiences with transcribed voicemails and call recordings.'
})

<!-- prettier-ignore -->
@@include('components/sections/cta.starter.html', {
    class: 'pb-9',
    description: '',
    button: 'Get Notified',
    arrow: 'true',
})

<!-- prettier-ignore -->
@@include('components/sections/feature.title.html', {
    id: 'features',
    class: 'bg-light',
    title: 'Features',
    description: 'Plug & Play API Transcription',
    extra: ''
})

<!-- prettier-ignore -->
@@include('components/sections/feature.card-list.html',{
    class:'border-bottom bg-light pb-9',
    cols:
        [
            {
                title: 'Voicemails',
                description: 'Transcribe voicemails and send them in emails.',
                icon: 'bx bx-voicemail',
            },
            {   
                title: 'Call recordings',
                description: 'Transcribe recorded calls for email or cdrs.',
                icon: 'bx bx-microphone'
            },
            
        ],
})

<!-- prettier-ignore -->
@@include('components/sections/feature.title.html', {
    id: 'pricing',
    class: '',
    title: 'Pricing',
    description: 'Pricing not available',
    extra: 'Stay tuned for updates.'
})

<!-- prettier-ignore -->
@@include('components/sections/feature.title.html', {
    id: 'faq',
    class: 'bg-light',
    title: 'FAQs',
    description: 'Frequently Asked Questions',
    extra: 'Stay tuned for updates.'
})

<!-- END SECTIONS ----------------------------------------------------------------------------------------- -->
@@include('components/layouts/tail.html')
