<!-- prettier-ignore -->
@@include('components/layouts/head.html', {
    title: 'Smart CNAM // SIPSTACK',
    body: 'data-bs-spy="scroll" data-bs-target="#navbar-secondary"',
    css: [
    '/assets/vendor/node_modules/css/swiper-bundle.min.css',
    '/assets/vendor/node_modules/css/glightbox.min.css'
    ]
})


<!-- SECTIONS --------------------------------------------------------------------------------------------- -->
@@include('components/sections/header.logo.html', {
    label: 'Products',
    title :'Smart CNAM',
    description: 'Caller ID lookups just got smarter',
    button1: {
        label: 'Get Started',
        link: 'https://partner.sipstack.com/signup'
    },
    button2: {
        label: 'Book Demo',
        link: '/'
    },
    
})

        <div class=" sticky-top top-0 " id="navbar-secondary" >
            <ul class="nav nav-fill bg-white nav-tabs position-relative">
                <li class="nav-item">
                    <a class="nav-link  py-lg-3" href="#overview">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-lg-3" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-lg-3" href="#pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-lg-3" href="#faq">FAQs</a>
                </li>
            </ul>
        </div>



@@include('components/sections/paragraph.html', {
    subTitle:'',
    title: 'We are',
    typedText: '{"strings": ["self hosted...", "open source..."]}',
    id:'',
    cols: [
        {
            title:'',
            text: 'SIPSTACK Cloud UC has several major components that make up the platform. The core PBX functions are built on Asterisk and is provided as an open-source download in several installer methods and from our GitHub page.',
        },
        {
            title:'',
            text: 'The API, web portals and email relays are all contained within the SISPTACK network, across regional datacenters keeping data within borders where compliance and regulatory boards require.',
        },
    ]
})

@@include('components/sections/pop-up-image.html', {
    id:'',
    cols: [
        {
            image:'/assets/img/stack-debian.png',
            tooltip: 'Easily migrate existing Asterisk, FreePBX based systems into SIPSTACK Cloud UC.',
        },
        {
            image:'/assets/img/stack-debian.png',
            tooltip: 'Easily migrate existing Asterisk, FreePBX based systems into SIPSTACK Cloud UC.',  
        },
    ]
})


@@include('components/sections/cta.html', {
    id: 'overview',
    subTitle: 'Overview',
    class: '',
    title: 'Get Started - It\'s Free',
    description: 'Simple SIP Trunking with free termination to North American Toll-Free destination. Supporting ULAW, G729, G722 and T.38 where available.',
    button: 'Create Account',
    arrow: 'true',
})



@@include('components/sections/overview-images-left.html', {
    headerTitle: '',
    subTitle: 'Overview',
    id: 'overview',
    title: 'Level up your hosted PBX service offering',
    description: 'Cloud UC is an Asterisk based, open source, unified communications platform, that allows you to scale and manage from a single console. Cloud UC augments Smart CNAM and other rich data into all elements of the experience.',
    checkboxes:['Multi-brand', 'Multi-tenant', 'Self-hosted'],
    image: '/assets/img/create-brand.png',     
    
})

@@include('components/sections/overview-images-right.html', {
    headerTitle: '',
    subTitle: '',
    id: '',
    title: 'Create multiple white-label brands',
    description: 'Whether you want to allow re-sellers Cloud UC capabilities while still managing & scaling their hosts or if you are expanding into different markets, Cloud UC allows the creation of multiple brands for white labeling.',
    checkboxes:[],
    image: '/assets/img/create-brand.png',     
    
})



@@include('components/sections/features.html',{
    subTitle: 'Features',
    id:'features',
    title: 'Asterisk trusted, AI/ML augmented',
    cols:
        [
            {
                title: 'Multi-Tenant', 
                description: 'Deploy one or many hosts to serve multiple PBX from a single branded management web portal.',
                icon: 'bx bx-server',
            },

            {
                title: 'Multi-Brand',
                description: 'Expand your reach to resellers and channels by allowing sub-whitelabeling without compromise.',
                icon: 'bx bx-outline',
            },

            {   
                title: 'Self-Hosted',
                description: 'Open source and self hosted allows you to deploy hosts in cloud or on premise with your own equipment.',
                icon: 'bx bx-desktop'
            },

            {   
                title: 'Self-Hosted',
                description: 'Open source and self hosted allows you to deploy hosts in cloud or on premise with your own equipment.',
                icon: 'bx bx-desktop'
            },
        ],
})

@@include('components/sections/pricing-comparison.html', 
    {
        subTitle: 'Pricing',
        title: 'Our Plans',
        id:'pricing',
        cols: [
            { name: '' , sup: '', class: '', monthly: '', yearly: '', sub: '', tag: '' },
            { name: 'Free', sup: '$', class: 'price',monthly: '0', yearly: '0', sub: 'Per Month', tag: ''},
            { name: 'Starter', sup: '$', class: 'price',monthly: '30', yearly: '24', sub: 'Per Month', tag: ''},
            { name: 'Competitor', sup: '$', class: 'price',monthly: '700', yearly: '560', sub: 'Per Month', tag: 'Most Popular'},
            { name: 'Provider', sup: '$', class: 'price',monthly: '2500', yearly: '2000', sub: 'Per Month', tag: ''},
            { name: 'Carrier', sup: '', class: '', monthly: 'Call', yearly: 'Call', sub: 'for pricing', tag: ''},
        ],
        rows: [

            '<td class="bg-gray-200"><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block"><strong>INCLUDED API REQUESTS PER MONTH</strong></small></div></td><td class="bg-gray-200">50</td><td class="bg-gray-200">10,000</td><td class="bg-gray-200">250,000</td><td class="bg-gray-200">1,000,000</td><td class="bg-gray-200">2,000,000+</td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block">Score (risk)</small></div></td><td><i class="bx bx-check lh-1 fs-4"></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td><td><i class="bx bx-check lh-1 fs-4"></i></div></td><td><i class="bx bx-check lh-1 fs-4"></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block">CNAM</small></div></td><td><i class="bx bx-check lh-1 fs-4"></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block">Regional</small></div></td><td></td><td></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block">Telco</small></div></td><td></td><td></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block">Do not call</small></div></td><td></td><td></td><td></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block">Profile</small></div></td><td></td><td></td><td></td><td><i class="bx bx-check lh-1 fs-4 "></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>',

            '<td colspan="6" class="bg-gray-200"><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block"><strong>EXTRAS</strong></small></div></td>',

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block ">Support SLA<i class="text-muted small bx bxs-help-circle" style="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Smart CNAM API cluster deployed within 100 Miles of customer datacenter"></i></small></div></td><td>Community</td><td>Community</td><td>Within 8 hours</td><td>Within 4 hours</td><td>Within 2 hours</td>' ,

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block ">Integration specialist <i class="text-muted small bx bxs-help-circle" style="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Smart CNAM API cluster deployed within 100 Miles of customer datacenter"></i></small></div></td><td></td><td></td><td></td><td><i class="bx bx-check lh-1 fs-4"></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>' ,

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block ">Regional API proximity <i class="text-muted small bx bxs-help-circle" style="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Smart CNAM API cluster deployed within 100 Miles of customer datacenter"></i></small></div></td><td></td><td></td><td></td><td><i class="bx bx-check lh-1 fs-4"></i></td><td><i class="bx bx-check lh-1 fs-4"></i></td>' ,

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block ">On-premise deployment <i class="text-muted small bx bxs-help-circle" style="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Smart CNAM API cluster deployed within 100 Miles of customer datacenter"></i></small></div></td><td></td><td></td><td></td><td></td><td><i class="bx bx-plus lh-1 fs-4"></i></td>' ,

            '<td><div class="d-flex justify-content-between flex-nowrap"><small class="mb-0 d-block ">On-premise integration & training <i class="text-muted small bx bxs-help-circle" style="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Smart CNAM API cluster deployed within 100 Miles of customer datacenter"></i></small></div></td><td></td><td></td><td></td><td></td><td><i class="bx bx-plus lh-1 fs-4"></i><i class="bx bx-plus lh-1 fs-4"></i></td>' ,
            '<td></td><td><button class="btn btn-primary">Get Started</button></td><td><button class="btn btn-primary">Subscribe</button></td><td><button class="btn btn-primary">Subscribe</button></td><td><button class="btn btn-primary">Subscribe</button></td><td><button class="btn btn-primary">Contact</button></td>' ,

            ]
    }
)

@@include('components/sections/faq.html', {
    id: 'faq', 
    title: 'FAQs',
    subTitle: 'Frequently Asked Questions',
    cols: [
        {
            title: 'How does billing work?',
            description: 'Activated services that require billing will need a valid credit card to enable features and unlock capabilities. Billing and invoices are generated on the first of every month for the previous month’s usage. Invoices are billed in USD by default and in CAD for Canadian Partners.',
        },
        
        {
            title: 'Do I need a credit card to create an account?',
            description: 'No! Many products have a free basic/starter tier which covers access for most cases, and so we do not require a credit card. For products and services that do incur usage charges, a credit card payment method must be added in order to unlock the feature.',
        },

        {
            title: 'Are there alternative payment methods for frequent users?',
            description: 'This is a common request. Partner accounts that expect to incur more than $10,000 USD in monthly recurring charges can contact our billing team for additional payment options.',
        },

    ]
})
    </div>

<!-- END SECTIONS ----------------------------------------------------------------------------------------- -->
@@include('components/layouts/tail.html')
