# files ############################
.env
*.pid
*.seed
*.pid.lock
.DS_Store

# specific folders #################
/log/
## .vscode/

# folders ##########################
.idea/
node_modules/
build/
tmp/
temp/
dist/

