  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-gray-200 text-secondary mb-4 btn-sm" data-bs-toggle="modal"
   data-bs-target="#snippet-component-card-icon-5">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-icon-5" tabindex="-1" aria-labelledby="snippet-component-card-icon-5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#cardIconHTML-5" data-bs-toggle="tab" class="nav-link active">HTML</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="cardIconHTML-5">
              <div class="position-relative">
                <button
                    class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                    data-clipboard-target="#copyCodeIcon5" data-clipboard-action="copy" id="copyCodeIcon5-1">Copy code</button>
                <pre id="copyCodeIcon5" class="language-markup" data-lang="html">
<code>
  &lt;!--Card-->
  &lt;div class="overflow-hidden card card-body py-5 rounded-4 hover-lift
   hover-shadow-lg flex-row align-items-stretch">
   &lt;!--Icon-->
   &lt;div class="me-4 flex-shrink-0 width-6x height-6x text-success flex-center position-relative">
     &lt;!--Icon bg shape-->
     &lt;svg class="position-absolute start-0 top-0 w-100 h-100"
         preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
         width="84" height="92" viewBox="0 0 84 92" fill="none">
         &lt;path fill-rule="evenodd" clip-rule="evenodd" d="M41.3828 0.0129826C55.5202 -0.410183 67.474
         9.57304 75.7126 20.9401C83.3878 31.531 85.5334 44.6132 82.9678 57.3932C80.293 70.7184 74.4344
         84.5754 61.8454 90.0204C49.6096 95.312 36.2153 89.0111 24.4948 82.6812C13.7354 76.8709 3.88915
         68.9009 0.94914 57.1331C-2.04982 45.1292 2.39369 33.0501 9.56447 22.9202C17.4794 11.7389 27.5859
         0.425968 41.3828 0.0129826Z" fill="currentColor" />
      &lt;/svg>
     &lt;!--Icon-->
    &lt;i class="icon-Idea-3 fs-3 text-white position-relative">&lt;/i>
  &lt;/div>
  &lt;div class="flex-grow-1">
      &lt;!--Title-->
      &lt;h5 class="mb-3">Feature heading&lt;/h5>
      &lt;!--Description-->
      &lt;p class="mb-0">
          Lorem ipsum is placeholder text commonly used in the graphic, print, and
          publishing
          industries for layouts and visual mockups.
      &lt;/p>
  &lt;/div>
 &lt;/div>
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>