  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-4 btn-sm" data-bs-toggle="modal" data-bs-target="#snippet-component-card-image-8">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-image-8" tabindex="-1" aria-labelledby="snippet-component-card-image-8Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#demo8HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
            <a href="#demo8CSS" data-bs-toggle="tab" class="nav-link">CSS</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo8HTML">
              <div class="position-relative">
                <button
                    class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                    data-clipboard-target="#copyCodeMain8" data-clipboard-action="copy" id="copyCodeMain8-1">Copy code</button>
                <pre id="copyCodeMain8" class="language-markup" data-lang="html">
<code>
  &lt;!--article-->
  &lt;article
  class="card card-hover hover-lift hover-shadow-lg text-white rounded-4 border-0 overflow-hidden">
  &lt;img src="assets/img/960x640/3.jpg" class="img-fluid img-zoom" alt="...">
  &lt;!--Overlay background-->
  &lt;div class="bg-gradient-dark position-absolute start-0 top-0 w-100 h-100">&lt;/div>
  &lt;!--Overlay Content-->
  &lt;div
      class="card-body z-index-1 d-flex flex-column position-absolute start-0 top-0 w-100 h-100 justify-content-end p-4">
     &lt;div class="position-relative">
      &lt;p class="small mb-1">&lt;span>Design&lt;/span>&lt;/p>
      &lt;h5 class="h3 mb-3">&lt;span>How good designs helps to grow business&lt;/span>
      &lt;/h5>
      &lt;div class="d-flex align-items-center">
          &lt;span>
              &lt;img src="assets/img/avatar/4.jpg" alt=""
                  class="avatar sm rounded-circle me-2">
          &lt;/span>
          &lt;div class="small">
              Asako Takakura
          &lt;/div>
      &lt;/div>
     &lt;/div>
  &lt;/div>
  &lt;a href="#!" class="stretched-link">&lt;/a>
  &lt;/article>
</code>
</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="demo8CSS">
              <div class="position-relative">
                <button
                    class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                    data-clipboard-target="#copyCodeCss8" data-clipboard-action="copy" id="copyCodeCss8-2">Copy code</button>
                <pre id="copyCodeCss8" class="language-markup" data-lang="html">
<code>
&lt;!-- Bootstrap + Vendor + Theme -->
&lt;link href="assets/css/theme.min.css" rel="stylesheet">
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>