  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-4 btn-sm" data-bs-toggle="modal" data-bs-target="#snippet-component-card-image-9">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-image-9" tabindex="-1" aria-labelledby="snippet-component-card-image-9Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#demo9HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
            <a href="#demo9CSS" data-bs-toggle="tab" class="nav-link">CSS</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo9HTML">
                <div class="position-relative">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeMain9" data-clipboard-action="copy" id="copyCodeMain9-1">Copy code</button>
                    <pre id="copyCodeMain9" class="language-markup" data-lang="html">
<code>
    &lt;!--article-->
    &lt;article class="card-hover card shadow-sm hover-lift hover-shadow-lg overflow-hidden rounded-3">
       &lt;!--image-->
       &lt;a href="#!" class="d-block overflow-hidden">
           &lt;img src="assets/img/960x640/7.jpg" alt=""
               class="img-fluid img-zoom position-relative">
       &lt;/a>
       &lt;div class="position-relative d-block p-4">
           &lt;!--Date-->
           &lt;div class="d-flex justify-content-start w-100 pb-3">
               &lt;small class="text-muted">Mar 12, 2021&lt;/small>
           &lt;/div>
           &lt;div>
               &lt;a href="#!" class="text-reset">
                   &lt;h5 class="link-multiline">10 Best Slack Apps for Remote Work In 2021&lt;/h5>
   
               &lt;/a>
           &lt;/div>
       &lt;/div>
   &lt;/article>
   &lt;!--/.article-->
</code>
</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="demo9CSS">
                <div class="position-relative">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeCss9" data-clipboard-action="copy" id="copyCodeCss9-2">Copy code</button>
                    <pre id="copyCodeCss9" class="language-markup" data-lang="html">
<code>
&lt;!-- Bootstrap + Vendor + Theme -->
&lt;link href="assets/css/theme.min.css" rel="stylesheet">
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>