  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-4 btn-sm" data-bs-toggle="modal"
   data-bs-target="#snippet-component-card-image-3">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-image-3" tabindex="-1" aria-labelledby="snippet-component-card-image-3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#demo3HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
            <a href="#demo3CSS" data-bs-toggle="tab" class="nav-link">CSS</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo3HTML">
                <div class="highlight-js position-relative">
                    <!--Copy clipboard button-->
                    <button
                    class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                    data-clipboard-target="#copyCodeMain3" data-clipboard-action="copy" id="copyCodeMain3-1">Copy code</button>
                <pre id="copyCodeMain3" class="language-markup" data-lang="html">
<code>
    &lt;!--Card-hover-->
    &lt;a href="#!" class="text-white position-relative d-block rounded-2
     overflow-hidden card-hover-2">
    &lt;!--Image-->
    &lt;img src="assets/img/960x640/6.jpg" alt="" class="w-100 img-zoom">
    &lt;!--Overlay-->
    &lt;div class="card-hover-2-overlay position-absolute start-0 top-0 w-100 h-100
         d-flex px-4 py-5 flex-column justify-content-between">
        &lt;!--overlay header-->
        &lt;div class="card-hover-2-header w-100">
            &lt;div class="card-hover-2-title">
                &lt;h5 class="fs-3 mb-2">UI Advanced Course&lt;/h5>
            &lt;/div>
            &lt;p class="mb-0">
                &lt;i class="bx bx-person d-inline-block align-middle me-1">&lt;/i> 149 Members
            </p>
        &lt;/div>
        &lt;!--Overlay footer-->
        &lt;div class="card-hover-2-footer w-100 mt-auto">
            &lt;span class="tags d-block flex-grow-1">Design, Code, Mobile&lt;/span>
            &lt;span class="card-hover-2-footer-link">
                &lt;span>View Course&lt;/span>
            &lt;/span>
        &lt;/div>
    &lt;/div>
   &lt;/a>
</code>
</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="demo3CSS">
                <div class="highlight-js position-relative">
                    <!--Copy clipboard button-->
                    <button
                    class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                    data-clipboard-target="#copyCodeCss3" data-clipboard-action="copy" id="copyCodeCss3-2">Copy code</button>
                <pre id="copyCodeCss3" class="language-markup" data-lang="html">
<code>
&lt;!-- Bootstrap + Vendor + Theme -->
&lt;link href="assets/css/theme.min.css" rel="stylesheet">
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>