  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-4 btn-sm" data-bs-toggle="modal" data-bs-target="#snippet-component-card-image-7">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-image-7" tabindex="-1" aria-labelledby="snippet-component-card-image-7Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#demo7HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
            <a href="#demo7CSS" data-bs-toggle="tab" class="nav-link">CSS</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo7HTML">
              <div class="position-relative">
                <button
                    class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                    data-clipboard-target="#copyCodeMain7" data-clipboard-action="copy" id="copyCodeMain7-1">Copy code</button>
                <pre id="copyCodeMain7" class="language-markup" data-lang="html">
<code>
    &lt;!--Card-->
    &lt;div class="card align-items-md-center rounded-0 shadow-lg flex-md-row flex-column overflow-hidden
     border-0 bg-white">
       &lt;div class="col-md-6">
           &lt;!--Image-->
           &lt;img src="assets/img/960x1140/2.jpg" alt="" class="img-fluid">
       &lt;/div>
       &lt;div class="card-body h-100 p-4 px-lg-6 py-lg-6 flex-grow-1">
           &lt;p class="fs-4 mb-4">
               “ Loved working with the beautiful theme. Everything clean and
               professional,
               also very helpful throughout the customisation. Looking forward to buy
               more
               license of Assan again in the future.”
           </p>
           &lt;div class="mb-5">
               &lt;h5 class="mb-2">Anastasia&lt;/h5>
               &lt;small class="d-block lh-1 text-muted"> at Deliveroo&lt;/small>
           &lt;/div>
           &lt;a href="#" class="btn btn-outline-secondary btn-hover-arrow">
               &lt;span>Ready full story&lt;/span>
           &lt;/a>
       &lt;/div>
   &lt;/div>
</code>
</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="demo7CSS">
              <div class="position-relative">
                <button
                    class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                    data-clipboard-target="#copyCodeCss7" data-clipboard-action="copy" id="copyCodeCss7-2">Copy code</button>
                <pre id="copyCodeCss7" class="language-markup" data-lang="html">
<code>
&lt;!-- Bootstrap + Vendor + Theme -->
&lt;link href="assets/css/theme.min.css" rel="stylesheet">
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>