  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-4 btn-sm" data-bs-toggle="modal" data-bs-target="#snippet-component-card-image-10">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-image-10" tabindex="-1" aria-labelledby="snippet-component-card-image-10Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#demo10HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
            <a href="#demo10CSS" data-bs-toggle="tab" class="nav-link">CSS</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo10HTML">
                <div class="position-relative">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeMain10" data-clipboard-action="copy" id="copyCodeMain10-1">Copy code</button>
                    <pre id="copyCodeMain10" class="language-markup" data-lang="html">
<code>
   &lt;!--article-->
   &lt;article class="card-hover border-0">
    &lt;a href="#" class="stretched-link">&lt;/a>
    &lt;div class="card-body position-relative p-0">
        &lt;div class="d-block rounded-3 position-relative overflow-hidden mb-4">
            &lt;img src="assets/img/960x640/1.jpg" class="img-fluid img-zoom" alt="">
        &lt;/div>
        &lt;div class="d-flex mb-3 flex-grow-1 align-items-center">
            &lt;img src="assets/img/avatar/1.jpg" alt="" class="avatar sm rounded-circle me-2">
            &lt;small class="fw-semibold">Emily&lt;/small>
        &lt;/div>
        &lt;h5 class="mb-3">4 Business Trends Fueling the Future of Business&lt;/h5>
        &lt;div class="blog-content">
            &lt;p class="mb-4">Lorem ipsum is placeholder text commonly used in the graphic,
                print, and publishing...&lt;/p>
            &lt;div class="d-flex justify-content-between align-items-center">
                &lt;div>
                    &lt;span class="small text-muted">Mar 9, 2021&lt;/span>
                &lt;/div>
                &lt;div
                    class="d-flex justify-content-end flex-grow-1 align-items-center text-primary">
                    &lt;svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                        class="bx bx-dot" width="24px" height="24px" viewBox="0 0 16 16"
                        id="dot">
                        &lt;path d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z">&lt;/path>
                    &lt;/svg>
                    &lt;small>Business&lt;/small>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>
   &lt;/article>

</code>
</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="demo10CSS">
                <div class="position-relative">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeCss10" data-clipboard-action="copy" id="copyCodeCss10-2">Copy code</button>
                    <pre id="copyCodeCss10" class="language-markup" data-lang="html">
<code>
&lt;!-- Bootstrap + Vendor + Theme -->
&lt;link href="assets/css/theme.min.css" rel="stylesheet">
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>