  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-4 btn-sm" data-bs-toggle="modal"
   data-bs-target="#snippet-component-card-image-5">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-image-5" tabindex="-1" aria-labelledby="snippet-component-card-image-5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#demo5HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
            <a href="#demo5CSS" data-bs-toggle="tab" class="nav-link">CSS</a>
            <a href="#demo5JS" data-bs-toggle="tab" class="nav-link">JS</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo5HTML">
                <div class="position-relative">
                        <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeMain5" data-clipboard-action="copy" id="copyCodeMain5-1">Copy code</button>
                    <pre id="copyCodeMain5" class="language-markup" data-lang="html">
    <code>
    &lt;!--Card-->
    &lt;a href="#!" class="card-split-hover position-relative d-block overflow-hidden">
        &lt;!--Card Image-->
        &lt;img src="assets/img/960x640/8.jpg" alt="" class="img-fluid">
        &lt;div class="card-overlay text-white py-4 px-3 d-flex align-items-end">
            &lt;!--Splitting text-->
            &lt;ul class="list-unstyled overlay-items">
                &lt;li>
                    &lt;h5 class="fs-4 mb-1 splitting-up" data-splitting>Awesome title&lt;/h5>
                &lt;/li>
                &lt;li>
                    &lt;span class="text-muted splitting-up d-block" data-splitting>Awesome
                        Subtitle&lt;/span>
                &lt;/li>
            &lt;/ul>
        &lt;/div>
    &lt;/a>
</code>
</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="demo5CSS">
                <div class="position-relative">
                        <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeCss5" data-clipboard-action="copy" id="copyCodeCss5-2">Copy code</button>
                    <pre id="copyCodeCss5" class="language-markup" data-lang="html">
    <code>
&lt;!-- Bootstrap + Vendor + Theme -->
&lt;link href="assets/css/theme.min.css" rel="stylesheet">
</code>
</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="demo5JS">
                <div class="position-relative">
                        <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeJs5" data-clipboard-action="copy" id="copyCodeJs5-3">Copy code</button>
                    <pre id="copyCodeJs5" class="language-markup" data-lang="html">
    <code>
    &lt;!--Splitting js-->
    &lt;script src="assets/vendor/node_modules/js/splitting.min.js">&lt;/script>
    &lt;script>
    Splitting();
    &lt;/script>
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>