  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-4 btn-sm" data-bs-toggle="modal"
   data-bs-target="#snippet-component-card-image-13">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-image-13" tabindex="-1"
   aria-labelledby="snippet-component-card-image-13Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#demo13HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
            <a href="#demo13CSS" data-bs-toggle="tab" class="nav-link">CSS</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo13HTML">
                <div class="position-relative">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeMain13" data-clipboard-action="copy" id="copyCodeMain13-1">Copy code</button>
                    <pre id="copyCodeMain13" class="language-markup" data-lang="html">
<code>
    &lt;!--Card-->
    &lt;a href="#!" class="d-block rounded-3 bg-primary position-relative text-white overflow-hidden card-hover hover-lift-lg hover-shadow-lg">
        &lt;div class="overflow-hidden bg-gradient-light position-relative">
            &lt;img src="assets/img/960x640/3.jpg" alt="" class="img-fluid img-zoom">
            &lt;div class="card-overlay py-4 px-3 text-white d-flex align-items-end justify-content-center">
                &lt;ul class="list-unstyled overlay-items">
                    &lt;li>
                        &lt;span class="btn btn-lg btn-white">View case study&lt;/span>
                    &lt;/li>
                &lt;/ul>
            &lt;/div>
        &lt;/div>
        &lt;!--Card-body-->
        &lt;div class="card-body px-4 py-5">
            &lt;p class="text-muted mb-2">Print design . Branding&lt;/p>
            &lt;h5 class="mb-0">Duis commonly aute irure dolor in reprehenderit in
                voluptate velit
            &lt;/h5>
        &lt;/div>
    &lt;/a>
</code>
</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="demo13CSS">
                <div class="position-relative">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeCss13" data-clipboard-action="copy" id="copyCodeCss13-2">Copy code</button>
                    <pre id="copyCodeCss13" class="language-markup" data-lang="html">
<code>
&lt;!-- Bootstrap + Vendor + Theme -->
&lt;link href="assets/css/theme.min.css" rel="stylesheet">
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>