  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-4 btn-sm" data-bs-toggle="modal"
   data-bs-target="#snippet-component-card-image-16">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-image-16" tabindex="-1"
   aria-labelledby="snippet-component-card-image-16Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#demo16HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
            <a href="#demo16CSS" data-bs-toggle="tab" class="nav-link">CSS</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo16HTML">
                <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeMain16" data-clipboard-action="copy" id="copyCodeMain16-1">Copy code</button>
                    <pre id="copyCodeMain16" class="language-markup" data-lang="html">
<code>
    &lt;!--Card-property-2-->
    &lt;div class="position-relative">
        &lt;a href="#!" class="d-block card-hover overflow-hidden rounded-4">
            &lt;!--Image-->
            &lt;img src="assets/img/estate/listing/1.jpg" class="img-fluid img-zoom" alt="">
            &lt;!--Background-->
            &lt;div class="position-absolute start-0 top-0 w-100 h-100 bg-gradient-dark opacity-50">
            &lt;/div>
            &lt;div class="position-absolute start-0 top-0 w-100 pt-3 px-3">
                &lt;span class="badge bg-white text-primary">For Sale&lt;/span>
            &lt;/div>
            &lt;div
                class="text-white d-flex justify-content-between w-100 px-3 pb-4 position-absolute start-0 bottom-0 w-100 h-100 align-items-end">
                &lt;div class="flex-grow-1 overflow-hidden pe-4">
                    &lt;h5 class="mb-3">$453,675&lt;/h5>
                    &lt;!--Location-->
                    &lt;p class="mb-0 d-flex">
                        &lt;i class="bx bxs-map me-1">&lt;/i>
                        &lt;span class="small text-truncate">Manchester&lt;/span>
                    &lt;/p>
                &lt;/div>
                &lt;!--Agent-->
                &lt;div class="d-flex align-items-center flex-shrink-0">
                    &lt;img src="assets/img/avatar/1.jpg" alt=""
                        class="flex-shrink-0 flex-shrink-0 avatar sm rounded-circle me-2 img-fluid">
                    &lt;span class="small">
                        Sonia
                    &lt;/span>
                &lt;/div>
            &lt;/div>
        &lt;/a>
        &lt;!--Card body-->
        &lt;div class="card-body pt-4">
            &lt;a href="#!" class="text-dark d-block mb-4">
                &lt;!--Title-->
                &lt;h5>Villa in Coral Gables&lt;/h5>
            &lt;/a>
            &lt;div class="row">
                &lt;!--Bedrooms-->
                &lt;div class="col-3" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                    data-bs-original-title="Bedrooms">
                    &lt;div class="d-flex align-items-center">
                        &lt;i class="bx bx-bed fs-5 me-2">&lt;/i>
                        &lt;strong class="small">4&lt;/strong>
                    &lt;/div>
                &lt;/div>
                &lt;!--Bathrooms-->
                &lt;div class="col-3 border-start border-end" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                    data-bs-original-title="Bathrooms">
                    &lt;div class="d-flex align-items-center">
                        &lt;i class="bx bx-bath fs-5 me-2">&lt;/i>
                        &lt;strong class="small">2&lt;/strong>
                    &lt;/div>
                &lt;/div>
                &lt;!--Area-->
                &lt;div class="col-6" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Area">
                    &lt;div class="d-flex align-items-center">
                        &lt;i class="bx bx-area fs-5 me-2">&lt;/i>
                        &lt;strong class="small">6400 Sq Ft&lt;/strong>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>    
</code>
</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="demo16CSS">
                <div class="position-relative">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeCss16" data-clipboard-action="copy" id="copyCodeCss16-2">Copy code</button>
                    <pre id="copyCodeCss16" class="language-markup" data-lang="html">
<code>
&lt;!-- Bootstrap + Vendor + Theme -->
&lt;link href="assets/css/theme.min.css" rel="stylesheet">
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>