  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-4 btn-sm" data-bs-toggle="modal"
   data-bs-target="#snippet-component-card-image-15">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-image-15" tabindex="-1"
   aria-labelledby="snippet-component-card-image-15Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#demo15HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
            <a href="#demo15CSS" data-bs-toggle="tab" class="nav-link">CSS</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo15HTML">
                <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeMain15" data-clipboard-action="copy" id="copyCodeMain15-1">Copy code</button>
                    <pre id="copyCodeMain15" class="language-markup" data-lang="html">
<code>
    &lt;!--Card-property-->
    &lt;div class="card rounded-4 mb-5 aos-init aos-animate" data-aos="fade-up">
        &lt;div class="mb-0">
            &lt;a href="#!" class="d-block overflow-hidden rounded-top-4">
                &lt;img src="assets/img/estate/listing/1.jpg" class="img-fluid" alt="">
            &lt;/a>
        &lt;/div>
        &lt;div class="card-body overflow-hidden p-4 px-lg-5 flex-grow-1">
            &lt;span class="badge bg-light text-primary mb-3">For Sale&lt;/span>
            &lt;a href="#!" class="text-dark d-block mb-4">
                &lt;!--Heading-->
                &lt;h4>Villa in Coral Gables&lt;/h4>
            &lt;/a>
            &lt;div class="row mb-3 mb-lg-4">
                &lt;div class="col-3" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                    data-bs-original-title="Bedrooms">
                    &lt;div class="d-flex align-items-center">
                        &lt;i class="bx bx-bed fs-5 me-2">&lt;/i>
                        &lt;strong class="small">4&lt;/strong>
                    &lt;/div>
                &lt;/div>
                &lt;div class="col-3 border-start border-end" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                    data-bs-original-title="Bathrooms">
                    &lt;div class="d-flex align-items-center">
                        &lt;i class="bx bx-bath fs-5 me-2">&lt;/i>
                        &lt;strong class="small">2&lt;/strong>
                    &lt;/div>
                &lt;/div>
                &lt;div class="col-6" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Area">
                    &lt;div class="d-flex align-items-center">
                        &lt;i class="bx bx-area fs-5 me-2">&lt;/i>
                        &lt;strong class="small">6400 Sq Ft&lt;/strong>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
            &lt;!--Description-->
            &lt;p class="mb-4 mb-lg-5 text-truncate">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
            &lt;/p>
            &lt;div class="row justify-content-between justify-content-lg-start">
    
                &lt;div class="col-6">
                    &lt;!--Price-->
                    &lt;h4 class="mb-0">$983,000&lt;/h4>
                &lt;/div>
                &lt;div class="col-6">
                    &lt;!--Agent-->
                    &lt;div class="d-flex align-items-center justify-content-end flex-shrink-0">
                        &lt;img src="assets/img/avatar/2.jpg" alt=""
                            class="flex-shrink-0 flex-shrink-0 avatar sm rounded-circle me-2 img-fluid">
                        &lt;span class="small">
                            Monika
                        &lt;/span>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>    
</code>
</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="demo15CSS">
                <div class="position-relative">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeCss15" data-clipboard-action="copy" id="copyCodeCss15-2">Copy code</button>
                    <pre id="copyCodeCss15" class="language-markup" data-lang="html">
<code>
&lt;!-- Bootstrap + Vendor + Theme -->
&lt;link href="assets/css/theme.min.css" rel="stylesheet">
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>