  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-4 btn-sm" data-bs-toggle="modal"
   data-bs-target="#snippet-component-card-image-14">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-image-14" tabindex="-1"
   aria-labelledby="snippet-component-card-image-14Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#demo14HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
            <a href="#demo14CSS" data-bs-toggle="tab" class="nav-link">CSS</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo14HTML">
                <div class="position-relative">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeMain14" data-clipboard-action="copy" id="copyCodeMain14-1">Copy code</button>
                    <pre id="copyCodeMain14" class="language-markup" data-lang="html">
<code>
    &lt;!--Card-->
    &lt;div data-aos>
        &lt;!--Card-->
        &lt;a href="#!" class="d-block overflow-hidden position-relative card-hover text-body">
            &lt;!--Image-->
            &lt;div class="overflow-hidden card-reveal-effect">
                &lt;img src="assets/img/projects/lg1.jpg" alt="" class="img-fluid img-zoom">
            &lt;/div>
            &lt;div class="card-body pt-4 pb-0">
                &lt;!--Card-content-->
                &lt;ul class="list-unstyled mb-0">
                    &lt;li>
                        &lt;h5 class="mb-1">Awesome title&lt;/h5>
                    &lt;/li>
                    &lt;li>&lt;span class="width-3x border-top border-secondary border-2 d-inline-block align-middle me-2">&lt;/span>&lt;span class="text-muted">Awesome Subtitle&lt;/span>&lt;/li>
                &lt;/ul>
            &lt;/div>
        &lt;/a>
    &lt;/div>
</code>
</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="demo14CSS">
                <div class="position-relative">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeCss14" data-clipboard-action="copy" id="copyCodeCss14-2">Copy code</button>
                    <pre id="copyCodeCss14" class="language-markup" data-lang="html">
<code>
&lt;!-- Bootstrap + Vendor + Theme -->
&lt;link href="assets/css/theme.min.css" rel="stylesheet">
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>