  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-4 btn-sm" data-bs-toggle="modal" data-bs-target="#snippet-component-card-image-12">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-image-12" tabindex="-1" aria-labelledby="snippet-component-card-image-12Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#demo12HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
            <a href="#demo12CSS" data-bs-toggle="tab" class="nav-link">CSS</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo12HTML">
                <div class="position-relative">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeMain12" data-clipboard-action="copy" id="copyCodeMain12-1">Copy code</button>
                    <pre id="copyCodeMain12" class="language-markup" data-lang="html">
<code>
    &lt;!--Card-->
    &lt;div class="card-over card-hover text-center card border-0 
    shadow-sm overflow-hidden hover-shadow-lg">
        &lt;div class="card-image mx-auto d-block overflow-hidden position-relative">
            &lt;img src="assets/img/team/2.jpg" alt="" class="img-fluid">
            &lt;div class="card-overlay text-white overlay-linear d-flex flex-column
             justify-content-end align-items-center">
                &lt;!--Social List-->
                &lt;ul class="d-flex align-items-center list-inline pb-5 overlay-items">
                    &lt;li class="list-inline-item me-3">
                        &lt;a href="#!" class="d-block fs-5">
                            &lt;i class="bx bxl-facebook">&lt;/i>
                        &lt;/a>
                    &lt;/li>
                    &lt;li class="list-inline-item me-3">
                        &lt;a href="#!" class="d-block fs-5">
                            &lt;i class="bx bxl-twitter">&lt;/i>
                        &lt;/a>
                    &lt;/li>
                    &lt;li class="list-inline-item">
                        &lt;a href="#!" class="d-block fs-5">
                            &lt;i class="bx bxl-instagram">&lt;/i>
                        &lt;/a>
                    &lt;/li>
                </ul>
                &lt;!--card hover-transition-list+items-->
            &lt;/div>
            &lt;!--/.overlay-->
            &lt;!--Image divider-->
            &lt;svg class="position-absolute start-0 bottom-0 text-white mb-n2" preserveAspectRatio="none" width="100%"
                height="30" viewBox="0 0 1200 160" fill="none" xmlns="http://www.w3.org/2000/svg">
                &lt;path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 16L67 29.3333C133 42.6667 267 69.3333 400 82.6667C533 96 667 96 800 80C933 64 1067 32 1133 16L1200 0V160H1133C1067
                     160 933 160 800 160C667 160 533 160 400 160C267 160 133 160 67 160H0V16Z"
                    fill="currentColor">&lt;/path>
            &lt;/svg>
        &lt;/div>
        &lt;!--/.image and overlay-->
        &lt;div class="card-body">
            &lt;h5 class="mb-1">Adam Howkins&lt;/h5>
            &lt;p class="mb-0">Founder&lt;/p>
        &lt;/div>
    &lt;/div>
</code>
</pre>
                </div>
            </div>
            <div class="tab-pane fade" id="demo12CSS">
                <div class="position-relative">
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodeCss12" data-clipboard-action="copy" id="copyCodeCss12-2">Copy code</button>
                    <pre id="copyCodeCss12" class="language-markup" data-lang="html">
<code>
&lt;!-- Bootstrap + Vendor + Theme -->
&lt;link href="assets/css/theme.min.css" rel="stylesheet">
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>