<div>
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-outline-secondary btn-sm"
    data-bs-toggle="modal"
    data-bs-target="#snippet-component-cta-9">
    <i class="bx bx-code-alt"></i>
    Show code
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="snippet-component-cta-9"
  tabindex="-1"
  aria-labelledby="snippet-component-cta-9Label"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button
          type="button"
          class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3"
          data-bs-dismiss="modal"
          aria-label="Close">
          <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#ctahtml-9" data-bs-toggle="tab" class="nav-link active">
            HTML
          </a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="ctahtml-9">
            <div
              class="position-relative"
              style="max-height: 75vh; overflow-y: auto">
              <!--Copy clipboard button-->
              <button
                class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                data-clipboard-target="#copyCodeCTA9"
                data-clipboard-action="copy"
                id="copyCodeCTA9-9">
                Copy code
              </button>
              <pre id="copyCodeCTA9" class="language-markup" data-lang="html">
<code>
  &lt;!--Call to action-->
  &lt;section class="bg-dark text-white jarallax" data-speed=".2">
     &lt;!--Parallax image-->
     &lt;img src="/assets/img/backgrounds/bg1.jpg" class="jarallax-img opacity-75" alt="">
     &lt;div class="container py-11 py-lg-15 position-relative">
         &lt;div class="row align-items-center">
             &lt;div data-aos="fade-up">
                 &lt;!--Heading-->
                 &lt;h2 class="display-3 mb-4">Let's work togethor&lt;/h2>
                 &lt;!--Text-->
                 &lt;span class="lead d-block mb-5">Lorem ipsum is placeholder text commonly used in the
                     graphic&lt;/span>
             &lt;/div>
             &lt;div data-aos="fade-up">
                 &lt;!--Action-->
                 &lt;a href="#" class="btn btn-lg btn-primary rounded-pill">Start Live Chat&lt;/a>
             &lt;/div>
         &lt;/div>
     &lt;/div>
 &lt;/section>
 &lt;!--/.section Call to action end-->
</code>
</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
