<div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
data-bs-target="#snippet-component-cta-4">
<i class="bx bx-code-alt"></i>  Show code
 </button>
</div>

<!-- Modal -->
<div class="modal fade" id="snippet-component-cta-4" tabindex="-1"
 aria-labelledby="snippet-component-cta-4Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
            <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#ctahtml-4" data-bs-toggle="tab" class="nav-link active">HTML</a>
      </nav>
      <!--Snippets tabs-->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="ctahtml-4">
              <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                  <!--Copy clipboard button-->
                  <button
                      class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                      data-clipboard-target="#copyCodeCTA4" data-clipboard-action="copy" id="copyCodeCTA4-4">Copy code</button>
<pre id="copyCodeCTA4" class="language-markup" data-lang="html">
<code>
  &lt;!--Call to action-->
  &lt;section class="position-relative">
      &lt;div class="container pb-9 pb-lg-11 position-relative">
          &lt;div
              class="px-4 px-lg-7 py-9 py-lg-11 bg-shade-primary rounded-4 text-white overflow-hidden
               position-relative">
              &lt;!--Decoration lines-->
              &lt;svg class="position-absolute end-0 bottom-0 text-warning w-75 h-auto w-lg-50 w-md-60"
                  width="197" height="99" viewBox="0 0 197 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                  &lt;path
                      d="M280 141C280 122.615 276.392 104.41 269.381 87.4243C262.371 70.4387 252.095 55.0052
                       239.141 42.005C226.188 29.0048 210.809 18.6925 193.884 11.6569C176.959 4.6212 158.819
                        0.999999 140.5 1C122.181 1 104.041 4.62121 87.1157 11.6569C70.1907 18.6925 54.8124
                         29.0049 41.8586 42.0051C28.9048 55.0053 18.6293 70.4387 11.6188 87.4243C4.60827
                          104.41 0.999998 122.615 1 141L280 141Z"
                      class="stroke-info" stroke-opacity="1" stroke-width="1.25" />
                  &lt;path
                      d="M384 151C384 132.615 380.392 114.41 373.381 97.4243C366.371 80.4387 356.095 65.0052
                       343.141 52.005C330.188 39.0048 314.809 28.6925 297.884 21.6569C280.959 14.6212 262.819
                        11 244.5 11C226.181 11 208.041 14.6212 191.116 21.6569C174.191 28.6925 158.812 39.0049
                         145.859 52.0051C132.905 65.0053 122.629 80.4387 115.619 97.4243C108.608 114.41 105
                          132.615 105 151L384 151Z"
                      class="stroke-warning" stroke-opacity="1" stroke-width="1.25" />
              &lt;/svg>
              &lt;div class="position-relative">
                  &lt;!--Title-->
                  &lt;h2 class="display-6 mb-5" data-aos="fade-up">Get stories direct to your inbox&lt;/h2>
  
                  &lt;!--Newsletter form-->
                  &lt;form novalidate class="needs-validation" data-aos="fade-up" data-aos-delay="100">
                      &lt;div
                          class="d-sm-flex w-md-80 w-lg-75 flex-column flex-sm-row mb-4 justify-content-center">
                          &lt;!--Email-->
                          &lt;input type="email" name="email"
                              class="me-sm-1 mb-2 mb-sm-0 form-control form-control-lg border-0"
                              placeholder="Email Address" required="">
  
                          &lt;!--Submit-->
                          &lt;button type="submit" class="ms-sm-1 btn btn-primary btn-lg">
                              &lt;span>Subscribe&lt;/span>
                          &lt;/button>
                      &lt;/div>
                  &lt;/form>
  
                  &lt;!--Text-->
                  &lt;p class="small text-muted mb-0" data-aos="fade-up" data-aos-delay="150">
                      We’ll never share your details.
                      View our &lt;a href="#!" class="link-hover-underline">Privacy Policy&lt;/a> for more info.
                  &lt;/p>
              &lt;/div>
          &lt;/div>
      &lt;/div>
  &lt;/section>
  &lt;!--/.section Call to action end-->
</code>
</pre>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>