<div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
data-bs-target="#snippet-component-cta-8">
<i class="bx bx-code-alt"></i>  Show code
 </button>
</div>

<!-- Modal -->
<div class="modal fade" id="snippet-component-cta-8" tabindex="-1"
 aria-labelledby="snippet-component-cta-8Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
            <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#ctahtml-8" data-bs-toggle="tab" class="nav-link active">HTML</a>
      </nav>
      <!--Snippets tabs-->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="ctahtml-8">
              <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                  <!--Copy clipboard button-->
                  <button
                      class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                      data-clipboard-target="#copyCodeCTA8" data-clipboard-action="copy" id="copyCodeCTA8-8">Copy code</button>
                  <pre id="copyCodeCTA8" class="language-markup" data-lang="html">
<code>
  &lt;!--Call to action-->
  &lt;section class="bg-gradient-light">
      &lt;div class="container py-6 py-lg-12">
          &lt;div class="row align-items-center">
              &lt;div class="col-lg-6 col-xl-5" data-aos="fade-up" data-aos-delay="100">
                  &lt;!--Heading-->
                  &lt;h2 class="h1 mb-3">
                      Unlock the posibilities
                  &lt;/h2>
                  &lt;!--Text-->
                  &lt;p class="mb-5 mb-lg-0">
                      Sign Up today, No creadit card required
                  &lt;/p>
              &lt;/div>
              &lt;div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                  &lt;!--Form-->
                  &lt;form novalidate class="needs-validation">
                      &lt;div class="d-flex flex-column flex-md-row">
                          &lt;div class="mb-2 flex-grow-1 mb-md-0 me-md-2">
                              &lt;input type="email" required class="form-control" placeholder="Email Address">
                          &lt;/div>
                          &lt;div class="flex-shrink-0">
                              &lt;button type="submit" class="btn btn-primary">Get Started&lt;/button>
                          &lt;/div>
                      &lt;/div>
                  &lt;/form>
              &lt;/div>
          &lt;/div>
          &lt;!--row-->
      &lt;/div>
  &lt;/section>
  &lt;!--/.section Call to action end-->
</code>
</pre>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>