<div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
data-bs-target="#snippet-component-cta-5">
<i class="bx bx-code-alt"></i>  Show code
 </button>
</div>

<!-- Modal -->
<div class="modal fade" id="snippet-component-cta-5" tabindex="-1"
 aria-labelledby="snippet-component-cta-5Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
            <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#ctahtml-5" data-bs-toggle="tab" class="nav-link active">HTML</a>
      </nav>
      <!--Snippets tabs-->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="ctahtml-5">
              <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                  <!--Copy clipboard button-->
                  <button
                      class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                      data-clipboard-target="#copyCodeCTA5" data-clipboard-action="copy" id="copyCodeCTA5-5">Copy code</button>
<pre id="copyCodeCTA5" class="language-markup" data-lang="html">
<code>
  &lt;!--Call to action-->
  &lt;section class="bg-gradient-primary text-white position-relative">
      &lt;!--Shape-->
      &lt;svg class="position-absolute end-0 bottom-0 me-4 text-white h-100 w-auto" width="122" height="87"
          viewBox="0 0 122 87" fill="none" xmlns="http://www.w3.org/2000/svg">
          &lt;path opacity="0.1" d="M72 0L122 86.6026H22L72 0Z" fill="currentColor" />
          &lt;path opacity="0.1" d="M32.5 56L65 -2.38419e-07H0L32.5 56Z" fill="currentColor" />
      &lt;/svg>
  
      &lt;div class="container py-9 py-lg-11 position-relative z-index-1">
          &lt;div class="row align-items-center">
              &lt;div class="col-lg-8">
                  &lt;!--Heading-->
                  &lt;h2 class="display-6">Build stunning website faster than ever&lt;/h2>
                  &lt;!--Text-->
                  &lt;p class="lead mb-5 mb-lg-0">Your business deserve a stunning website. &lt;/p>
              &lt;/div>
              &lt;div class="col-lg-4 ms-lg-auto text-lg-end">
                  &lt;!--Action-->
                  &lt;a class="btn btn-white btn-lg btn-hover-arrow" href="#">&lt;span>Purchase
                          Now&lt;/span>&lt;/a>
              &lt;/div>
          &lt;/div>
      &lt;/div>
  &lt;/section>
  &lt;!--/.section Call to action end-->
</code>
</pre>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>