<div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
data-bs-target="#snippet-component-cta-6">
<i class="bx bx-code-alt"></i>  Show code
 </button>
</div>

<!-- Modal -->
<div class="modal fade" id="snippet-component-cta-6" tabindex="-1"
 aria-labelledby="snippet-component-cta-6Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
            <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#ctahtml-6" data-bs-toggle="tab" class="nav-link active">HTML</a>
      </nav>
      <!--Snippets tabs-->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="ctahtml-6">
              <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                  <!--Copy clipboard button-->
                  <button
                      class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                      data-clipboard-target="#copyCodeCTA6" data-clipboard-action="copy" id="copyCodeCTA6-6">Copy code</button>
                  <pre id="copyCodeCTA6" class="language-markup" data-lang="html">
<code>
  &lt;!--Call to action-->
  &lt;section class="bg-light">
      &lt;div class="container py-9 py-lg-11">
          &lt;div class="row">
              &lt;div class="col-lg-6 col-xl-5 col-md-8 mx-auto">
                  &lt;!--Heading-->
                  &lt;h2 class="h1 text-center mb-4" data-aos="fade-up" data-aos-delay="100">
                      Subscribe
                  &lt;/h2>
                  &lt;!--text-->
                  &lt;p class="mb-5 lead text-center" data-aos="fade-up" data-aos-delay="150">
                      The latest updates, news, articles, and offers, sent direct to your inbox every month.
                  &lt;/p>
                  &lt;!--Newsletter form-->
                  &lt;form data-aos="fade-up" data-aos-delay="300" class="needs-validation" novalidate>
                      &lt;div class="mb-3">
                          &lt;input type="text" required class="form-control" placeholder="Name">
                          &lt;span class="invalid-feedback">Please enter your name&lt;/span>
                      &lt;/div>
                      &lt;div class="mb-3">
                          &lt;input type="email" required class="form-control" placeholder="Email Address">
                          &lt;span class="invalid-feedback">Please enter a valid email&lt;/span>
                      &lt;/div>
                      &lt;div class="mb-3 d-grid">
                          &lt;button type="submit" class="btn btn-primary">Subscribe&lt;/button>
                      &lt;/div>
                  &lt;/form>
                  &lt;!--Info text-->
                  &lt;p class="mb-0 text-muted small" data-aos="fade-up" data-aos-delay="200">
                      We’ll never share your details. See our &lt;a href="#!"
                          class="border-bottom border-light ">Privacy
                          Policy&lt;/a>
                  &lt;/p>
              &lt;/div>
          &lt;/div>
      &lt;/div>
  &lt;/section>
   &lt;!--/.section Call to action end-->
</code>
</pre>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>