  <div class="text-center">
      <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-primary mb-4 btn-sm" data-bs-toggle="modal"
  data-bs-target="#snippet-component-pricing-table-1">
  <i class="bx bx-code-alt"></i>  Show code
   </button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-pricing-table-1" tabindex="-1" aria-labelledby="snippet-component-pricing-table-1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#demo1HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo1HTML">
                <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                    <!--Copy clipboard button-->
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodePricing1" data-clipboard-action="copy" id="copyCodePricing1-1">Copy code</button>
                    <pre id="copyCodePricing1" class="language-markup" data-lang="html">
<code>
    &lt;!--Pricing container-->
    &lt;div class="container py-9 py-lg-11">
        &lt;!--Pricing row-->
        &lt;div class="no-gutters row">
            &lt;!--Pricing col-->
            &lt;div class="col-lg-4">
                &lt;!--Pricing Card-->
                &lt;div class="card py-5 border-0 card-body">
                    &lt;div class="rounded-top mb-4 position-relative overflow-hidden text-center">
                        &lt;h5 class="title mb-4">Basic&lt;/h5>
                        &lt;div>
                            &lt;h2 class="display-4 mb-2 lh-1">&lt;sub class="small">$&lt;/sub>0&lt;/h2>
                            &lt;h6 class="mb-0 small text-muted">Monthly&lt;/h6>
                        &lt;/div>
                        &lt;!--/.price-->
                    &lt;/div>
                    &lt;!--/.price-card-header-->
                    &lt;ul class="text-center list-unstyled mb-4">
                        &lt;li class="mb-3">Free domain&lt;/li>
                        &lt;li class="mb-3">2 Sub domains&lt;/li>
                        &lt;li class="mb-3">2 GB storage&lt;/li>
                        &lt;li class="mb-3">Unmetered bandwith&lt;/li>
                        &lt;li class="mb-3">Website builder&lt;/li>
                        &lt;li class="mb-2 text-strikethrough text-muted">On-site support&lt;/li>
                        &lt;li class="mb-2 text-strikethrough text-muted">Premium support&lt;/li>
                    &lt;/ul>
                    &lt;div class="text-center">
                        &lt;a href="#!" class="btn btn-outline-primary hover-lift btn-material">Get Basic&lt;/a>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
    
            &lt;!--Pricing col-->
            &lt;div class="col-lg-4">
                &lt;!--Pricing Card-->
                &lt;div
                    class="card pt-6 pb-5 border-0 shadow-lg bg-shade-primary text-white card-body position-relative z-index-1">
                    &lt;span class="badge z-index-1 mt-n2 bg-warning position-absolute start-50 translate-middle-x top-0">Best
                        value&lt;/span>
                    &lt;div class="rounded-top mb-4 position-relative overflow-hidden text-center">
                        &lt;h5 class="title mb-4">Pro&lt;/h5>
                        &lt;div>
                            &lt;h2 class="display-4 mb-2 lh-1">&lt;sub class="small">$&lt;/sub>29&lt;/h2>
                            &lt;h6 class="mb-0 small text-muted">Monthly&lt;/h6>
                        &lt;/div>
                        &lt;!--/.price-->
                    &lt;/div>
                    &lt;!--/.price-card-header-->
                    &lt;ul class="text-center list-unstyled mb-4">
                        &lt;li class="mb-3">Free domain&lt;/li>
                        &lt;li class="mb-3">2 Sub domains&lt;/li>
                        &lt;li class="mb-3">2 GB storage&lt;/li>
                        &lt;li class="mb-3">Unmetered bandwith&lt;/li>
                        &lt;li class="mb-3">Website builder&lt;/li>
                        &lt;li class="mb-3">On-site support&lt;/li>
                        &lt;li class="mb-2 text-strikethrough text-muted">Premium support&lt;/li>
                    &lt;/ul>
                    &lt;div class="text-center">
                        &lt;a href="#!" class="btn btn-primary hover-lift btn-material">Get Pro&lt;/a>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
    
            &lt;!--Pricing col-->
            &lt;div class="col-lg-4">
                &lt;!--Pricing Card-->
                &lt;div class="card py-5 border-0 card-body">
                    &lt;div class="rounded-top mb-4 position-relative overflow-hidden text-center">
                        &lt;h5 class="title mb-4">High&lt;/h5>
                        &lt;div>
                            &lt;h2 class="display-4 mb-2 lh-1">&lt;sub class="small">$&lt;/sub>69&lt;/h2>
                            &lt;h6 class="mb-0 small text-muted">Monthly&lt;/h6>
                        &lt;/div>
                        &lt;!--/.price-->
                    &lt;/div>
                    &lt;!--/.price-card-header-->
                    &lt;ul class="text-center list-unstyled mb-4">
                        &lt;li class="mb-3">Free domain&lt;/li>
                        &lt;li class="mb-3">2 Sub domains&lt;/li>
                        &lt;li class="mb-3">2 GB storage&lt;/li>
                        &lt;li class="mb-3">Unmetered bandwith&lt;/li>
                        &lt;li class="mb-3">Website builder&lt;/li>
                        &lt;li class="mb-2 ">On-site support&lt;/li>
                        &lt;li class="mb-3">Premium support&lt;/li>
                    &lt;/ul>
                    &lt;div class="text-center">
                        &lt;a href="#!" class="btn btn-outline-primary hover-lift btn-material">Get High&lt;/a>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>