<div class="text-center">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary mb-4 btn-sm" data-bs-toggle="modal"
data-bs-target="#snippet-component-pricing-table-3">
<i class="bx bx-code-alt"></i>  Show code
 </button>
</div>

<!-- Modal -->
<div class="modal fade" id="snippet-component-pricing-table-3" tabindex="-1" aria-labelledby="snippet-component-pricing-table-3Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
            <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#demo3HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
      </nav>
      <!--Snippets tabs-->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="demo3HTML">
              <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                  <!--Copy clipboard button-->
                  <button
                      class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                      data-clipboard-target="#copyCodePricing3" data-clipboard-action="copy" id="copyCodePricing3-3">Copy code</button>
                  <pre id="copyCodePricing3" class="language-markup" data-lang="html">
<code>
    &lt;!--Pricing tables container-->
    &lt;div class="container position-relative pb-9 pb-lg-11">
        &lt;!-- Plans--Switch -->
        &lt;div class="d-flex align-items-center justify-content-center mb-7 mb-lg-7">
            &lt;div class="price-monthly fs-5 position-relative">
                &lt;strong>Annually&lt;/strong>
            &lt;/div>
            &lt;!-- Switch -->
            &lt;div class="form-check form-pricing-switch form-switch mx-3">
                &lt;input class="form-check-input me-0" type="checkbox" id="planSwitch" data-as-toggle="price"
                    data-as-target=".price">
                &lt;label class="form-check-label" for="planSwitch">&lt;/label>
            &lt;/div>
            &lt;div class="price-monthly fs-5">
                &lt;strong> Monthly &lt;/strong>
            &lt;/div>
        &lt;/div>
    
        &lt;!-- Plans--row -->
        &lt;div class="position-relative">
            &lt;div class="row g-md-2 justify-content-center position-relative z-index-1">
                &lt;div class="col-md-4 mb-5 mb-md-0" data-aos="fade-up">
                    &lt;div
                        class="card shadow card-body py-5 px-4 z-index-1 rounded-3 rounded-3 d-flex flex-column overflow-hidden h-100">
                        &lt;div class="position-relative overflow-hidden">
                            &lt;!--Title-->
                            &lt;h4>Basic&lt;/h4>
                            &lt;!--Price-->
                            &lt;div class="d-flex align-items-end mb-4">
                                &lt;sup class="d-inline-block">$&lt;/sup>
                                &lt;div class="price display-4 text-dark" data-as-annual="6"
                                    data-as-monthly="9">6
                                &lt;/div>
                            &lt;/div>
                            &lt;span class="badge bg-light text-muted rounded-pill">Monthly&lt;/span>
                        &lt;/div>
                        &lt;!--Features list-->
                        &lt;ul class="text-center list-unstyled py-4 flex-grow-1">
                            &lt;li class="pb-2 mb-2 border-bottom d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>Free
                                domain&lt;/li>
                            &lt;li class="pb-2 mb-2 border-bottom d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>1
                                Email account&lt;/li>
                            &lt;li class="pb-2 mb-2 border-bottom d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>15
                                GB storage&lt;/li>
                            &lt;li class="pb-2 mb-2 d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>50K
                                files&lt;/li>
                        &lt;/ul>
                        &lt;!--Plan action-->
                        &lt;div class="d-grid">
                            &lt;a href="#!"
                                class="btn btn-outline-secondary btn-hover-arrow rounded-pill hover-lift">
                                &lt;span>Get started&lt;/span>
                            &lt;/a>
                        &lt;/div>
                    &lt;/div>
                &lt;/div>
                &lt;!--/.End-col-->
                &lt;div class="col-md-4 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
                    &lt;div
                        class="card shadow-lg z-index-1 card-body py-5 px-4 rounded-3 border-primary d-flex flex-column overflow-hidden h-100">
                        &lt;div>
                            &lt;span class="badge rounded-pill bg-primary mb-3">
                                Most popular&lt;/span>
                        &lt;/div>
                        &lt;div class="position-relative overflow-hidden">
                            &lt;!--Title-->
                            &lt;h4>Freelancer&lt;/h4>
                            &lt;!--Price-->
                            &lt;div class="d-flex align-items-end mb-4">
                                &lt;sup class="d-inline-block">$&lt;/sup>
                                &lt;div class="price display-4" data-as-annual="16" data-as-monthly="29">16
                                &lt;/div>
                            &lt;/div>
                            &lt;span class="badge bg-light text-muted rounded-pill">Monthly&lt;/span>
                        &lt;/div>
                        &lt;!--Features list-->
                        &lt;ul class="text-center list-unstyled py-4 flex-grow-1">
                            &lt;li class="pb-2 mb-2 border-bottom d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>Free
                                domain&lt;/li>
                            &lt;li class="pb-2 mb-2 border-bottom d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>2
                                email accounts&lt;/li>
                            &lt;li class="pb-2 mb-2 border-bottom d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>25
                                GB storage&lt;/li>
                            &lt;li class="pb-2 mb-2 d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>100K
                                files&lt;/li>
                        &lt;/ul>
                        &lt;!--Plan action-->
                        &lt;div class="d-grid">
                            &lt;a href="#!" class="btn btn-primary btn-hover-arrow rounded-pill hover-lift">
                                &lt;span>Get started&lt;/span>
                            &lt;/a>
                        &lt;/div>
                    &lt;/div>
                &lt;/div>
                &lt;!--/.End-col-->
                &lt;div class="col-md-4" data-aos="fade-up" data-aos-delay="150">
                    &lt;div class="card shadow card-body py-5 px-4 rounded-3 overflow-hidden h-100">
                        &lt;div class="position-relative overflow-hidden">
                            &lt;!--Title-->
                            &lt;h4>Team&lt;/h4>
                            &lt;!--Price-->
                            &lt;div class="d-flex align-items-end mb-4">
                                &lt;sup class="d-inline-block">$&lt;/sup>
                                &lt;div class="price display-4 text-dark" data-as-annual="49"
                                    data-as-monthly="79">49
                                &lt;/div>
                            &lt;/div>
                            &lt;span class="badge text-muted rounded-pill bg-light">Monthly&lt;/span>
                        &lt;/div>
                        &lt;!--Features list-->
                        &lt;ul class="text-center list-unstyled py-4 flex-grow-1">
                            &lt;li class="pb-2 mb-2 border-bottom d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>Free
                                domain&lt;/li>
                            &lt;li class="pb-2 mb-2 border-bottom d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>5
                                Sub domains&lt;/li>
                            &lt;li class="pb-2 mb-2 border-bottom d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>Unlimited
                                storage&lt;/li>
                            &lt;li class="pb-2 mb-2 border-bottom d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>Unlimited
                                files&lt;/li>
                            &lt;li class="pb-2 mb-2 d-table">&lt;i
                                    class="bx bx-check-circle fs-5 lh-1 me-2 text-success align-middle">&lt;/i>Premium
                                support&lt;/li>
                        &lt;/ul>
                        &lt;!--Plan action-->
                        &lt;div class="d-grid">
                            &lt;a href="#!"
                                class="btn btn-outline-secondary btn-hover-arrow rounded-pill hover-lift">
                                &lt;span>Get started&lt;/span>
                            &lt;/a>
                        &lt;/div>
                    &lt;/div>
                &lt;/div>
                &lt;!--/.End-col-->
            &lt;/div>
            &lt;!--/.End row-->
        &lt;/div>
    &lt;/div>
    &lt;!--/.End container-->
</code>
</pre>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>