<!-- prettier-ignore -->
@@include('components/layouts/head.html', {
    title: "About // SIPSTACK",
    meta: {
        description: "Post-modern suite of Telecommunication & VoIP tools. AI / ML at it's core, provides unprecedented meta data across the platform.",
        keywords: "voip, multi-tenant, hosted pbx, pbx, sip, trunk, trunking, robocall, mitigation, cnam, termination, fcc, crtc, regulatory, compliance",
        author: "SIPSTACK",
        robots: "index, follow",
        url: "about",
        image: "logo/logo.png",
        type: "website",
        created: "", 
        updated: "", 
    },
    body: "",
    css: [
    '/assets/vendor/node_modules/css/swiper-bundle.min.css',
    '/assets/vendor/node_modules/css/glightbox.min.css'
    ],
    nav: {
        class: ''
    }
})

<section class="position-relative">
  <div class="container position-relative py-9">
    <div class="row pt-5 pt-lg-11 align-items-end">
      <div class="col-12 col-xl-9 mx-auto text-center">
        <h1 class="display-2 mb-2">Who we are</h1>
        <p class="fs-5 w-lg-60 mb-0 mx-auto">
          Building a safer connected tomorrow, today.
        </p>
      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.content-->
</section>

<section class="position-relative overflow-hidden">
  <div class="container-fluid position-relative">
    <div class="row align-items-sm-center align-items-md-start">
      <div class="col-6 col-sm-3 mb-4 mb-sm-0">
        <img src="/assets/img/about/4.jpg" class="img-fluid rounded-4" alt="" />
      </div>
      <div class="col-6 col-sm-3 mb-4 mb-sm-0">
        <img
          src="/assets/img/about/4b.jpg"
          class="img-fluid rounded-4 mb-3"
          alt="" />
        <img src="/assets/img/about/2.jpg" class="img-fluid rounded-4" alt="" />
      </div>
      <div class="col-sm-3 col-5">
        <img
          src="/assets/img/about/2b.jpg"
          class="img-fluid rounded-4"
          alt="" />
      </div>
      <div class="col-sm-3 col-7">
        <img
          src="/assets/img/about/1b.jpg"
          class="img-fluid rounded-4"
          alt="" />
      </div>
    </div>
    <!--Decoration-->
    <img
      src="/assets/img/vectors/line2.svg"
      data-inject-svg
      alt=""
      class="width-18x me-n3 h-auto fill-primary position-absolute end-0 bottom-0" />
  </div>
  <div class="container py-9 py-lg-9 position-relative" id="our-story">
    <div class="row justify-content-between">
      <div class="col-md-3" data-aos="fade-right" data-aos-delay="100">
        <h2 class="mb-5 display-4">Our Story</h2>
      </div>
      <div class="col-md-9 col-xl-8">
        <p class="lead" data-aos="fade-down" data-aos-delay="150">
          While every aspect of our lives are changing, from social to
          econimcal, we are all apart of the same transition. While spending
          over two decades imrpoving managed telecom solutions, many problems in
          the industry were identified that continue to persist without real
          solutions. SIPSTACK was founded to begin solving some of these
          problems by creating a unified management platform for Asterisk that
          is elastic by nature, and could scale and adapt while maintaining a
          single point of administration and access. This has become Cloud UC,
          the PBX management tool every carrier and provider has been waiting
          for. Although efforts have been made to stop fraudulent calls with
          technology, it is a 55 billion dollar industry in the US alone.
        </p>
      </div>
    </div>
  </div>
  <div class="container py-9 py-lg-9 position-relative">
    <div class="row justify-content-between">
      <div class="col-md-3" data-aos="fade-right" data-aos-delay="100">
        <h2 class="mb-5 display-4">Our Mission</h2>
      </div>
      <div class="col-md-9 col-xl-8">
        <p class="lead" data-aos="fade-down" data-aos-delay="150">
          Our products are designed with two purposes, first to provide next
          generation experiences and services to the telecommunications
          industry, and secondly to eradicate fraudulent and spam calling,
          period. By driving authentic data through our AI/ML models, community
          feedback and various other data collection methods, we are able to
          provide hyper-accurate call ratings that are dynamic to the recipient
          of the call. While our efforts are only in the beginning stages, we
          will be targeting this epidemic from all levels and angles to end this
          era of fraud for good.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- prettier-ignore -->
@@include('components/sections/features.html',{
    subTitle: 'Dedicated Team',
    id:'values',
    title: 'Our Company Values',
    cols:
        [
            {
                title: 'We are human', 
                description: 'Deploy one or many hosts to serve multiple PBX from a single branded management web portal.',
                icon: 'bx bx-group',
            },

            {
                title: 'We are AI responsible',
                description: 'Processing big, very big data at a global scale requires strong fundamental values instilled at the very core. Securing and maintaining privacy is at the forefront of every founding block of AI code we commit.',
                icon: 'bx bx-health',
            },

            {   
                title: 'We are forward thinkers',
                description: 'The challenges we face today in telecommunications will continue to evolve. Solutions should not be short term designed, technology should continually adapt, outpacing bad actors. While our products and services advance, so do our capabilities in ending telecom fraud.',
                icon: 'bx bx-rocket'
            },

            {   
                title: 'We are creative',
                description: 'Challenges are dynamic, and solutions are not static. Developing new products that are attractive , effective and compliment new learning streams into our AI applications take a whole lot of creativity and fun.',
                icon: 'bx bx-aperture',
            },
        ],
})



<!-- <section class="position-relative">
    <div class="container py-7 py-lg-7">
        <div class="row py-5 position-relative align-items-center justify-content-between z-index-1">
            <div class="col-md-4 pe-md-7 mb-6 mb-md-0">
                <h2 class="display-4">
                    <span data-countup='{"startVal": 0,"suffix":"+", "duration": "5"}' data-to="250"
                        data-aos="" data-aos-id="countup:in">0</span>
                </h2>
                <p class="mb-0 lead"><strong>Well coded layouts</strong> blandit nunc risus nulla ante
                    maecenas suspendisse in penatibus rutrum ultrices varius eget turpis urna.</p>
            </div>

            <div class="col-md-4 mb-6 mb-md-0">
                <div class="position-relative">
                    <img src="/assets/img/960x1140/3.jpg" class="rounded-4 shadow-xl img-fluid" alt="">
                    <div class="position-absolute start-0 top-0 w-100 h-100 d-flex flex-center">
              
                        <a href="https://vimeo.com/353105087" data-glightbox data-gallery="gallery07"
                            class="d-flex width-10x hover-lift hover-shadow-xl height-10x btn btn-outline-white btn-circle-ripple mx-auto p-0 rounded-circle align-items-center justify-content-center fs-1">
                            <i class="bx bx-play"></i>
                        </a>
                    </div>
                </div>
            </div>
     
            <div class="col-md-4 ps-md-7">
                <h2 class="display-4">
                    <span data-countup='{"startVal": 0,"suffix":"+", "duration": "5"}' data-to="500"
                        data-aos="" data-aos-id="countup:in">0</span>
                </h2>
                <p class="mb-0 lead"><strong>Re-usable components</strong> blandit nunc risus nulla ante
                    maecenas suspendisse in penatibus rutrum ultrices varius eget turpis urna.</p>
            </div>
        </div>
    </div>
</section> -->

<!-- FOUNDER -->
<section class="position-relative bg-white" id="team">
  <div class="container py-6 py-lg-6">
    <div class="pb-6 text-center">
      <!--Subheading-->
      <div class="mb-3" data-aos="fade-up">
        <span class="h4 subTitleGradient">Meet The Team</span>
      </div>
      <!--Section Heading-->
      <h3 class="mb-0 display-1 bold" data-aos="fade-up" data-aos-delay="100">
        About Our Founder
      </h3>
    </div>

    <div class="row justify-content-center">
      <div
        class="col-lg-4 mt-auto text-center"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="700">
        <div class="position-relative mb-4 overflow-hidden">
          <img
            src="/assets/img/team/jon-full.png"
            alt=""
            class="img-fluid img-zoom" />
        </div>
        <div>
          <h5 class="mb-1">Jonathan Geller</h5>
          <p class="d-block text-primary mb-3">CEO & Founder</p>
          <p class="small text-muted mx-auto mb-2">
            With over two decades in the telecommunications industry, our
            founder's inspiration comes from his interactions from real people
            across all industries. While finding commonality in feedback,
            Jonathan has taken a very personal mission to delivery better
            technology while ending telecom fraud at various levels.
          </p>
          <a
            href="https://github.com/jonathangeller"
            class="d-inline-block mb-1 ms-1">
            <i class="bx bxl-github fs-5 ss-icon-hover"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/jonathangeller1/"
            class="d-inline-block mb-1 ms-1">
            <i class="bx bxl-linkedin fs-5 ss-icon-hover"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- prettier-ignore -->
@@include('components/sections/about.leaders.html',{
    subTitle: 'Meet The Team',
    title: 'About Our Leaders',
    cols:
    [
            {
                name: 'Stamatis Loizides', 
                description: 'Stam has lived and worked in over ten countries. He creates processes and procedures to ensure everything within SIPSTACK runs as smoothly as possible and maintains the overall day-to-day of the organization.',
                title: 'Chief of Staff',
                image: '/assets/img/team/stam.jpg',
                socials: '<a href="https://github.com/sloizides" class="d-inline-block mb-1 ms-1"><i class="bx bxl-github fs-5 ss-icon-hover"></i></a><a href="https://www.linkedin.com/in/stamloizides/" class="d-inline-block mb-1 ms-1"><i class="bx bxl-linkedin fs-5 ss-icon-hover"></i></a>',
            },
            {
                name: 'Errol Geller', 
                description: 'Errol loves taking on challenges and is very good at math. He has several decades of experience as a Senior Risk Management Executive at IBM. Errol has been instrumental in getting SIPSTACK to where it is today.',
                title: 'Chief Financial Officer',
                image: '/assets/img/team/errol.jpg',
                socials: '<a href="https://www.linkedin.com/in/errolgeller/" class="d-inline-block mb-1 ms-1"><i class="bx bxl-linkedin fs-5 ss-icon-hover"></i></a>',
            },
            {
                name: 'Elon Spielberg', 
                description: 'With over a decade in the telecommunications industry, Elon is one of the fastest thinkers and problem solvers in the business. Our Cloud UC team could not be in more capable hands with his guidance.',
                title: 'Lead Clouc UC Manager',
                image: '/assets/img/team/elon.jpeg',
                socials: '<a href="https://github.com/espielberg" class="d-inline-block mb-1 ms-1"><i class="bx bxl-github fs-5 ss-icon-hover"></i></a>',
            },
            {
                name: 'Ralph Rouhana', 
                description: 'Pursuing a computer engineering degree from the University of Waterloo, Ralph has been building software since he was 12 and is a continued leader at SIPSTACK. We have yet to see a problem that Ralph cannot solve.',
                title: 'Lead Software Engineer',
                image: '/assets/img/team/ralph.jpg',
                socials: '<a href="https://github.com/ralphr123" class="d-inline-block mb-1 ms-1"><i class="bx bxl-github fs-5 ss-icon-hover"></i></a><a href="https://www.linkedin.com/in/ralph-rouhana-b23aa31a8/" class="d-inline-block mb-1 ms-1"><i class="bx bxl-linkedin fs-5 ss-icon-hover"></i></a>',
            },
        ]
, })

<!-- prettier-ignore -->
@@include('components/sections/about.talent.html',{
    subTitle: 'Meet The Team',
    title: 'About Our Talent',
    cols: [
            {
                name: 'Marc Rouhana', 
                title: 'Junior Software Engineer',
                image: '/assets/img/team/marcr.jpg"',
                socials: '<a href="https://github.com/Rouhana1" class="d-inline-block mb-1 ms-1"><i class="bx bxl-github fs-5 ss-icon-hover"></i></a>',
            },
            {
                name: 'Vraj Patel', 
                title: 'Software Engineer',
                image: '/assets/img/team/vrajp.jpg',
                socials: '<a href="https://github.com/ChocoMufn" class="d-inline-block mb-1 ms-1"><i class="bx bxl-github fs-5 ss-icon-hover"></i></a><a href="https://www.linkedin.com/in/therealvrajpatel/" class="d-inline-block mb-1 ms-1"><i class="bx bxl-linkedin fs-5 ss-icon-hover"></i></a>',
            },
            {
                name: 'Jeff Sager', 
                title: 'Creative Content Writer',
                image: '/assets/img/team/jeffsa.jpg',
                socials: '',
            },
            {
                name: 'Veer Khurana', 
                title: 'Software Engineer',
                image: '/assets/img/team/veer.jpg',
                socials: '<a href="https://github.com/VeerKhurana" class="d-inline-block mb-1 ms-1"><i class="bx bxl-github fs-5 ss-icon-hover"></i></a><a href="https://linkedin.com/in/veerkhurana" class="d-inline-block mb-1 ms-1"><i class="bx bxl-linkedin fs-5 ss-icon-hover"></i></a>'
            },
       
        ]
 })

<!-- prettier-ignore -->
@@include('components/sections/feature.card-double.html',{
    id: 'media',
    cols: [
        {
            title: 'We\'re Hiring!',
            description: 'Interested in changing the world? Check out our current job offers regularly.',
            button: 'Job Offers',
        },

        {
            title: 'Help Us Grow',
            description: 'Want to be a force for good? Sponsor our commitment in eradicating spam and fraud for good!',
            button: 'Sponsor Page',
        },

        {
            title: 'Media Kit',
            description: 'Social reviewer interested in learning more about our products?',
            button: 'Request Kit',
        },

    ]
})

<!-- prettier-ignore -->
@@include('components/layouts/tail.html')
<script>
  // init Swiper:
  const swiper = new Swiper('.swiper-history', {
    slidesPerView: 1,
    spaceBetween: 0,
    autoHeight: true,
    breakpoints: {
      // when window width is >= 480px
      768: {
        slidesPerView: 2,
        spaceBetween: 0,
      },
      // when window width is >= 640px
      1024: {
        slidesPerView: 3,
      },
    },
  })
</script>
