@@include('components/sections/feature.posts.html',{ posts: [
{
  slug: "how-to-protect-your-business-from-spam",
  title: "How to Protect Your Business from Spam",
  description: "Businesses are faced with many of the same types of spam calls that everyday consumers are, as well as some that specifically target organizations. Given that these business scam attempts are inevitable, the best approach is to stay informed and prepared.",
  category: "Opinion",
  tags: ['scam', 'fraud', 'business scams', 'imposter scams', 'robocalls', 'robocall mitigation', 'robocall mitigation solutions', 'robocall mitigation plans'],
  image: "/assets/img/resources/blog/woman-looking-laptop.jpg",
  created: "2023-03-20",
  author: {
    name: "Jeff Sager",
    photo: "/assets/img/team/jeffsa.jpg"
  }
},
{
  slug: "fcc-proposes-new-rules-to-combat-illegal-robocalls-and-scam-texting",
  title: "FCC Proposes New Rules to Combat Illegal Robocalls and Scam Texting",
  description: "On March 16, 2023, the FCC (Federal Communications Commission) adopted some important changes pertaining to illegal robocalls and scam texting.",
  category: "News",
  tags: ['fcc', 'regulatory', 'robocalls', 'auto', 'warranty', 'robocalls', 'robotexts', 'scam texting', 'robocall mitigation database', 'STIR/SHAKEN'],
  image: "/assets/img/resources/blog/issue-sign.jpeg",
  created: "2023-03-23",
  author: {
    name: "Jeff Sager",
    photo: "/assets/img/team/jeffsa.jpg"
  }
},
{
  slug: "when-your-boss-asks-for-a-gift-card",
  title: "When Your Boss Asks For a Gift Card...",
  description: "Also known as “fake boss scams”, the gift card scam refers to scammers who impersonate supervisors of employees and trick them into buying gift cards for them over text or email.",
  category: "Opinion",
  tags: ['gift card scam', 'fake boss scam', 'gift cards', 'scam', 'fraud', 'spam', 'phishing', 'telecommunications fraud'],
  image: "/assets/img/resources/blog/issue-do_not_call.png",
  created: "2023-03-23",
  author: {
    name: "Jeff Sager",
    photo: "/assets/img/team/jeffsa.jpg"
  }
},
]})
