@@include('components/sections/feature.posts.html',{ posts: [
{
  slug: "how-businesses-are-impacted-by-imposter-scams",
  title: "How Businesses are Impacted by Imposter Scams",
  description: "Imposter scams refer to scammers who impersonate other people or entities to fraudulently obtain personal information, money, or other assets. When specifically targeting businesses, these scams can be exponentially more profitable and equally as detrimental for the business.",
  category: "Awareness",
  tags: ['scams', 'imposters', 'fraud', 'spam', 'canada', 'phone', 'telephone', 'call', 'calling'],
  image: "/assets/img/resources/blog/issue-imposter.png",
  created: "2023-02-01",
  author: {
    name: "Jeff Sager",
    photo: "/assets/img/team/jeffsa.jpg"
  }
},
{
  slug: "why-the-do-not-call-registry-wont-protect-you-from-spam",
  title: "Why the Do Not Call Registry Won't Protect You From Spam",
  description: "While there will certainly be a decrease in the number of robocalls you receive, registering your number to the Do Not Call Registry will not eliminate them altogether, and there are a number of reasons for this.",
  category: "Opinion",
  tags: ['spam', 'calling', 'fraud', 'robocalling', 'robocalls', 'FTC', 'FCC', 'Do Not Call Registry', 'regulations', 'caller ID spoofing'],
  image: "/assets/img/resources/blog/issue-do_not_call.png",
  created: "2023-02-09",
  author: {
    name: "Jeff Sager",
    photo: "/assets/img/team/jeffsa.jpg"
  }
},
{
  slug: "what-are-bail-bond-scams",
  title: "What are Bail Bond Scams?",
  description: "Bail bond scams refer to scammers who pose as police officers or bondsmen, claiming that an inmate's bond will be revoked unless they send money directly to them..",
  category: "general",
  tags: ['scam', 'fraud', 'bail', 'bonds', 'inmates', 'bondsman', 'police officers'],
  image: "/assets/img/resources/blog/post-7.svg",
  created: "2023-02-14",
  author: {
    name: "Jeff Sager",
    photo: "/assets/img/team/jeffsa.jpg"
  }
},
]})
