@@include('components/sections/feature.posts.html',{ posts: [
{
  slug: "when-your-boss-asks-for-a-gift-card",
  title: "When Your Boss Asks For a Gift Card...",
  description: "Also known as “fake boss scams”, the gift card scam refers to scammers who impersonate supervisors of employees and trick them into buying gift cards for them over text or email.",
  category: "Opinion",
  tags: ['gift card scam', 'fake boss scam', 'gift cards', 'scam', 'fraud', 'spam', 'phishing', 'telecommunications fraud'],
  image: "/assets/img/resources/blog/issue-do_not_call.png",
  created: "2023-03-23",
  author: {
    name: "Jeff Sager",
    photo: "/assets/img/team/jeffsa.jpg"
  }
},
{
  slug: "gaining-back-customer-trust",
  title: "Gaining Back Customer Trust",
  description: "94% of customers now refuse to answers calls from unknown numbers. Simply put, the more information you make accessible to customers when trying to call them, the more likely they will be to answer your calls.",
  category: "Opinion",
  tags: ['spam', 'calling', 'fraud', 'robocalling', 'robocalls', 'trust', 'customer trust', 'customer loyalty', 'branded caller id'],
  image: "/assets/img/resources/blog/trust.png",
  created: "2023-03-30",
  author: {
    name: "Jeff Sager",
    photo: "/assets/img/team/jeffsa.jpg"
  }
},
{
  slug: "paypal-and-venmo-and-zelle-oh-my-understanding-cash-app-scams",
  title: "Paypal and Venmo and Zelle, Oh My: Understanding Cash App Scams",
  description: "As the ever-evolving risk of scams continue to infiltrate the tech world, cash apps are no exception. That's why it's important to stay informed and vigilant about these three common cash app scams.",
  category: "Opinion",
  tags: ['spam', 'Zelle', 'Paypal', 'Venmo', 'fraud', 'cash app scams', 'identity theft', 'P2P', 'bank scams'],
  image: "/assets/img/resources/blog/cashapp.png",
  created: "2023-04-03",
  author: {
    name: "Jeff Sager",
    photo: "/assets/img/team/jeffsa.jpg"
  }
},
]})
