<!-- prettier-ignore -->
@@include('components/layouts/head.html', {
    title: 'SIPSTACK',
    css: [
    '/assets/vendor/node_modules/css/swiper-bundle.min.css',
    '/assets/vendor/node_modules/css/glightbox.min.css'
    ],
    nav: {
        class: 'navbar-link-white'
    }
})

@@include('components/sections/hero.slider.html')

@@include('components/sections/feature.img-r.html',{ 
    attr: 'id="intro"' 
})
@@include('components/sections/world-map.html',{
    title: 'New Era of Trust',
    description: 'Phone Number lookups on a whole new level. Tap into telco meta-data like never before.',
    cols: [
        {title: 'Origin', description: 'Every phone number cites origin data including regional, switch and carrier details.'},
        {title: 'CallerID Name', description: 'Receive the most accurate CallerID Name information including any website, email and social links.'},
        {title: 'Risk Scoring', description: 'Real-time risk scoring is provided on every phone number lookup when querying with a destination.'},
        {title: 'Community Feedback',  description: 'Access up to date community remarks about phone numbers using our Whois applications.'},
    ],
    cols2: [
    {title: 'Unique Whois Pages', suffix: 'M+', count_to: '1100', description: ''},
    {title: 'Machine Learning Data Points', suffix: '+', count_to: '88', description: ''},
    {title: 'Identified Profiles', suffix: 'M+', count_to: '330', description: ''},
]
})
@@include('components/sections/feature.cards.html',{
    subTitle: 'Products',
    title: 'Beyond Unified Communications',
    cols:
        [
            {
                title: 'SIPSTACK UC', 
                description: 'Self-hosted multi-tenant open-source pbx, managed whitelabel web portals.',
                link: '/product/sipstack-uc',
                icon: 'bxs-cloud',
            },

            {
                title: 'Smart CNAM',
                description: 'AI/ML & Community driven CNAM / Caller ID Name lookup, absolutely FREE!',
                link: '/product/smart-cnam',
                icon: 'bxs-badge-check',
            },

            {   
                title: 'SIP Free',
                description: 'TF SIP trunk temination. Available for any SIP based system, 100% FREE!',
                link: '/product/sip-free',
                icon: 'bx-coffee-togo'
            },
            {   
                title: 'Whois',
                description: 'Public CNAM / Caller ID Name lookup, because everyone deserves to know.',
                link: '/product/whois',
                icon: 'bx-search'
            },
        ],
})
@@include('components/sections/feature-cards.html',{
    subTitle: 'Cloud UC',
    title: 'Your next UCaaS platform, powered by AI & you',
    cols:
        [
            {
                title: 'Multi-Tenant', 
                description: 'Deploy one or many hosts to serve multiple PBX from a single branded management web portal.',
                icon: 'bx-server',
            },

            {
                title: 'Multi-Brand',
                description: 'Expand your reach to resellers and channels by allowing sub-whitelabeling without compromise.',
                icon: 'bx-outline',
            },

            {   
                title: 'Self-Hosted',
                description: 'Open source and self hosted allows you to deploy hosts in cloud or on premise with your own equipment.',
                icon: 'bx-desktop'
            },
        ],
})
@@include('components/sections/success-stories.html',{
    header:'Success Stories',
    title:'Learn how TELAIR built a better managed PBX offering',
    description:'Migrating to SIPSTACK Cloud UC simplified administration and enhanced customer self care and experience.',
    button:'Read Success Stories',
    backgroundImg:'/assets/img/1.jpeg',
    featureImg:'/assets/img/ta-console-v0.png',
    link:"https://www.sipstack.com/resources/case-study/20210412-telair"
})
@@include('components/sections/feature.posts.html')
<!-- END SECTIONS ----------------------------------------------------------------------------------------- -->
@@include('components/layouts/tail.html')
