<!--begin:Footer-->
<footer id="footer" class="bg-white footer">
    <div class="container pt-9 pt-lg-11 pb-5">
        <div class="row">
            <div class="col-sm-7 mb-4 mb-sm-0">
                <h5 class="mb-0">1355 Market St, <br> Suite 900,
                    San Francisco<br>
                    CA, 94103</h5>
            </div>
            <div class="col-sm-5 text-sm-end">
                <a href="#!" class="fs-6 link-hover-underline">+011(1234) 56789</a><br><br>
                <a href="mailto:mail@domain.agency" class="fs-6 link-hover-underline">mail@domain.agency</a>
            </div>
        </div>
        <hr class="my-4">
        <div class="row text-secondary">
            <div class="col-sm-7 mb-3 mb-sm-0">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="link-hover-underline" href="#">Facebook</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-hover-underline" href="#">Twitter</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-hover-underline" href="#">Linkedin</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-hover-underline" href="#">Behance</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 text-sm-end">
                <span class="d-block lh-sm small text-muted">&copy; Copyright
                    <script>
                      document.write(new Date().getFullYear())
                    </script>. Assan
                  </span>
            </div>
        </div>
    </div>
</footer>
<!--end:Footer-->
