<!--begin:Footer-->
<footer id="footer" class="bg-white footer position-relative">
    <div class="container pt-9 pt-lg-11 pb-5 position-relative z-index-1">
        <div class="row">
            <!--Footer col-->
            <div class="col-md-7 col-lg-3 mb-7">
                <a href="#" class="d-block width-10x">
                    <img src="assets/img/logo/logo.svg" class="img-fluid" alt="">
                </a>
                <hr>
                <small class="text-muted d-block">
                    Enquiries
                </small>
                <a href="#!mailto:yourmail.domain.com">info@domian.com</a>
                <hr>
                <small class="text-muted mb-3 d-block">
                    Join Us Today
                </small>
                <a href="#!" class="btn btn-secondary">Upgrade to Pro</a>
            </div>
            <!--Footer col-->
            <div class="col-md-4 col-lg-2 ms-md-auto mb-7 col-7">
                <h6 class="mb-2">Links</h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            About us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Newsletter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Career <span class="badge bg-success rounded-pill ms-1">Hiring</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Privacy policy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Terms & conditions
                        </a>
                    </li>
                </ul>
            </div>
            <!--Footer col-->
            <div class="col-md-4 col-lg-2 ms-lg-auto mb-7 col-5">
                <h6 class="mb-2">Categories</h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Design
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Development
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Fashion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Business
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Nature
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Travel
                        </a>
                    </li>
                </ul>
            </div>
            <!--Footer col-->
            <div class="col-md-8 col-lg-4 mb-7">
                <h6 class="mb-4">Popular articles</h6>
                <ul class="list-unstyled">
                    <li class="d-flex card-hover mb-4 align-items-center">
                        <div class="me-3">
                            <a href="#!" class="d-block width-7x height-7x rounded-3 overflow-hidden">
                                <img src="assets/img/960x1140/1.jpg" alt="" class="img-fluid img-zoom">
                            </a>
                        </div>
                        <div>
                            <a href="#!" class="lh-sm d-block mb-1">Tips for creating a long-lasting
                                partnership with your startup</a>
                            <span class="d-block small text-muted">02 Sep 2021</span>
                        </div>
                    </li>
                    <li class="d-flex card-hover mb-4 align-items-center">
                        <div class="me-3">
                            <a href="#!" class="d-block width-7x height-7x rounded-3 overflow-hidden">
                                <img src="assets/img/960x1140/2.jpg" alt="" class="img-fluid img-zoom">
                            </a>
                        </div>
                        <div>
                            <a href="#!" class="lh-sm d-block mb-1">Functional programming in python for
                                beginners</a>
                            <span class="d-block small text-muted">18 Sep 2021</span>
                        </div>
                    </li>
                    <li class="d-flex card-hover align-items-center">
                        <div class="me-3">
                            <a href="#!" class="d-block width-7x height-7x rounded-3 overflow-hidden">
                                <img src="assets/img/960x1140/3.jpg" alt="" class="img-fluid img-zoom">
                            </a>
                        </div>
                        <div>
                            <a href="#!" class="lh-sm d-block mb-1">Modern and well coded bootstrap themes you should
                                buy</a>
                            <span class="d-block small text-muted">19 Aug 2021</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="mb-5 mt-0">
        <div class="row">
            <div class="col-sm-7 mb-3 mb-sm-0">
                <div class="dropup d-table">
                    <a href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false"
                        class="dropdown-toggle text-body">
                        United States (English)
                    </a>

                    <!--Dropdown lang menu-->
                    <div class="dropdown-menu mb-3 dropdown-menu-lg-start" style="margin: 0px;">
                        <a href="#!" class="d-flex align-items-center dropdown-item active">
                            <img src="assets/img/country/us.svg" class="width-2x me-2" alt="">
                            United States (English)
                        </a>
                        <a href="#!" class="d-flex align-items-center dropdown-item">
                            <img src="assets/img/country/es.svg" class="width-2x me-2" alt="">
                            América Latina (Español)
                        </a>
                        <a href="#!" class="d-flex align-items-center dropdown-item">
                            <img src="assets/img/country/gb.svg" class="width-2x me-2" alt="">
                            United Kingdom (English)
                        </a>
                        <a href="#!" class="d-flex align-items-center dropdown-item">
                            <img src="assets/img/country/fr.svg" class="width-2x me-2" alt="">
                            France (Français)
                        </a>
                        <a href="#!" class="d-flex align-items-center dropdown-item">
                            <img src="assets/img/country/pt.svg" class="width-2x me-2" alt="">
                            Italia (Italiano)
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 small text-sm-end">
                <span class="d-block lh-sm text-muted">&copy; Copyright
                    <script>
                        document.write(new Date().getFullYear())

                    </script>. Assan
                </span>
            </div>
        </div>
    </div>
    <!--container-->
</footer>
<!--end:Footer-->