<div class="text-center">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary mb-4 btn-sm" data-bs-toggle="modal"
data-bs-target="#snippet-component-timeline-v-1">
<i class="bx bx-code-alt"></i>  Show code
 </button>
</div>

<!-- Modal -->
<div class="modal fade" id="snippet-component-timeline-v-1" tabindex="-1" aria-labelledby="snippet-component-timeline-v-1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
            <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#demo1HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
      </nav>
      <!--Snippets tabs-->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="demo1HTML">
              <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                  <!--Copy clipboard button-->
                  <button
                      class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                      data-clipboard-target="#copyCodeTimeline1" data-clipboard-action="copy" id="copyCodeTimeline1-1">Copy code</button>
                  <pre id="copyCodeTimeline1" class="language-markup" data-lang="html">
<code>
    &lt;ol class="list-timeline-v list-unstyled">
    &lt;!--timeline-item-->
    &lt;li data-aos="fade-left">
        &lt;div class="timeline-icon shadow bg-primary text-white rounded-4">
            &lt;!--ICON-->
            &lt;i class="bx bx-dots-vertical-rounded">&lt;/i>
        &lt;/div>
        &lt;!--/.timeline-icon-->
        &lt;div class="d-block flex-column">
            &lt;small class="text-muted">Aug 19, 1994&lt;/small>
            &lt;h6 class="mt-2">Lorem Ipsum is simply dummy text&lt;/h6>
            &lt;p class="mb-0">
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                for
                those interested.
            &lt;/p>
        &lt;/div>
    &lt;/li>
    &lt;!--timeline-item-->
    &lt;li data-aos="fade-left">
        &lt;div class="timeline-icon shadow bg-info text-white rounded-4">
            &lt;!--ICON-->
            &lt;i class="bx bx-shopping-bag">&lt;/i>
        &lt;/div>
        &lt;!--/.timeline-icon-->
        &lt;div class="d-block flex-column">
            &lt;small class="text-muted">July 01, 2000&lt;/small>
            &lt;h6 class="mt-2">Lorem Ipsum is simply dummy text&lt;/h6>
            &lt;p class="mb-0">
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                for
                those interested.
            &lt;/p>
        &lt;/div>
    &lt;/li>
    &lt;!--timeline-item-->
    &lt;li data-aos="fade-left">
        &lt;div class="timeline-icon shadow bg-success text-white rounded-4">
            &lt;!--ICON-->
            &lt;i class="bx bx-edit">&lt;/i>
        &lt;/div>
        &lt;!--/.timeline-icon-->
        &lt;div class="d-block flex-column">
            &lt;small class="text-muted">Feb, 2012&lt;/small>
            &lt;h6 class="mt-2">Lorem Ipsum is simply dummy text&lt;/h6>
            &lt;p class="mb-0">
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                for
                those interested.
            &lt;/p>
        &lt;/div>
    &lt;/li>
    &lt;!--timeline-item-->
    &lt;li data-aos="fade-left">
        &lt;div class="timeline-icon shadow bg-danger text-white rounded-4">
            &lt;!--ICON-->
            &lt;i class="bx bx-envelope">&lt;/i>
        &lt;/div>
        &lt;!--/.timeline-icon-->
        &lt;div class="d-block flex-column">
            &lt;small class="text-muted">Feb 14, 2013&lt;/small>
            &lt;h6 class="mt-2">Lorem Ipsum is simply dummy text&lt;/h6>
            &lt;p class="mb-0">
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                for
                those interested.
            &lt;/p>
        &lt;/div>
    &lt;/li>

&lt;/ol>
&lt;!--/.END-timeline-list-->

</code>
</pre>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>