<section class="position-relative bg-light">
    <div class="py-9 py-lg-11 container">

        <div class ="centerText">
            <!--Subheading-->
            <div class="mb-3" data-aos="fade-up">
                <span class="h4 subTitleGradient">@@subTitle</span>
            </div>
            <!--Section Heading-->
            <h3 class="mb-0 display-1 bold" data-aos="fade-up" data-aos-delay="100">@@title</h3>
        </div>

        <div class = 'custom-collapse'>
            <div class="row">
                <div>
                    @@for (var i = 0; i <  cols.length; i++) {
                        <!--Collapse item-->
                    <div class="border-bottom py-3">
                        <a class="fw-semibold text-dark fs-5 d-block sub-title" data-bs-toggle="collapse" href="#faq`+i+`"
                            role="button" aria-expanded="false" aria-controls="faq`+i+`">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bx bxs-plus-square text-muted me-2" viewBox="0 0 16 16">
                                <path
                                    d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                            </svg> `+cols[i].title+`
                        </a>
                        <div class="collapse" id="faq`+i+`">
                            <p class="pt-3 text-muted small">
                                `+cols[i].description+`
                            </p>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>