<section class="position-relative">
  <div class="container py-9">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="position-relative">
          <h1>Contact Us</h1>
          <p class="mb-3 lead w-lg-75">
            General contact or department specific below
          </p>
          <div class="width-7x pt-1 bg-primary mb-5"></div>
          <!-- Contacts Form -->
          <form
            action="#"
            method="post"
            role="form"
            class="needs-validation mb-5 mb-lg-7"
            novalidate>
            <div class="row">
              <!-- first name input -->
              <div class="col-sm-6 mb-3">
                <label class="form-label" for="name">First Name</label>
                <input
                  type="text"
                  name="first-name"
                  class="form-control"
                  id="first-name"
                  placeholder=""
                  required />
              </div>
              <!-- End Input -->

              <!-- last name input -->
              <div class="col-sm-6 mb-3">
                <label class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="last-name"
                  id="last-name"
                  placeholder=""
                  required />
              </div>

              <div class="w-100"></div>

              <!-- Input -->

              <!-- Services -->
              <div class="col-sm-12 mb-3">
                <label class="form-label" for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder=""
                  required />
                <div class="invalid-feedback">
                  Please enter a valid email address.
                </div>
              </div>

              <div class="col-sm-12 mb-3">
                <label class="form-label" for="subject">Subject</label>
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                  placeholder="" />
              </div>
              <!-- End Input -->
            </div>

            <!-- Message -->
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea
                class="form-control"
                name="message"
                placeholder=""></textarea>
            </div>

            <div
              class="d-md-flex justify-content-md-between align-items-center">
              <p class="small mb-4 text-muted mb-md-0">
                <!-- We strive for quick response times. -->
              </p>
              <input
                type="submit"
                name="submit"
                value="Submit message"
                id="sendBtn"
                class="btn btn-lg btn-primary" />
            </div>
          </form>
          <!-- End Contacts Form -->
        </div>
      </div>
    </div>
  </div>
</section>
