<section class="position-relative" id="contact">
    <div class="container py-9 py-lg-12">
        <div class="row">
            <div class="col-md-8 col-lg-7 mb-7 mb-md-0 me-auto  contact-card">
                <div class="position-relative">
                    <h2 class=" card-title"> Contact Us </h2>
                    <p class="text-muted">General contact or department specific below</p>
                    <!-- Contacts Form -->
                    <form action="#" method="post" role="form" class="needs-validation" novalidate="">
                        <div class="row">
                            <!-- Input -->
                            <div class="col-lg-6 mb-3" >
                                <label class="form-label" for="name">First Name</label>
                                <input type="text" name="firstName" class="form-control form-control-lg form-control-custom"
                                    id="name" placeholder="First Name" required="">
                            </div>
                            <!-- End Input -->

                            <!-- Input -->
                            <div class="col-lg-6 mb-3">
                                <label class="form-label" for="lastName">Last Name</label>
                                <input type="text" class="form-control form-control-lg form-control-custom" name="lastName" id="" placeholder="Last Name" required="">
                            </div>

                            <!-- Input -->
                            <div class="col-12 mb-3">
                                <label class="form-label" for="email">Email Address</label>
                                <input type="email" class="form-control form-control-lg form-control-custom" name="subject"
                                    id="email" placeholder="Your email address" required="">
                                <div class="invalid-feedback">Please enter a valid email address</div>
                            </div>
                            <!-- End Input -->

                            <!-- Input -->
                            <div class="col-12 mb-3">
                                <label class="form-label" for="number">Phone Number</label>
                                <input type="tel" class="form-control form-control-lg form-control-custom" name="subject"
                                    id="tel" placeholder="Your phone number" required="">
                                <div class="invalid-feedback">Please enter a valid phone number</div>
                            </div>
                            <!-- End Input -->
                        </div>

                        <!-- Message -->
                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control form-control-lg form-control-text " name="message"
                                placeholder="Write your message" required=""></textarea>
                            <div class="invalid-feedback">
                                Please enter a message in the textarea.
                            </div>
                        </div>

                        <div class="d-lg-flex d-grid justify-content-between align-items-center">
                            <input type="submit" name="submit" value="Submit message" id="sendBtn"
                                class="btn btn-lg btn-primary" style ="margin: 0 auto;">
                        </div>
                    </form>
                </div>
                    <!-- End Contact Form -->
            </div>
            <!--End card -->

            <div style ="max-width: 60%;">
                <img src ="/assets/img/contact-us.jpg" style="min-height: 100%; max-width: 100%; border-radius: 10px;">
            </div>
        </div>
    </div>
</section>