<section class="position-relative overflow-hidden" style="margin-bottom: 10%;">
    
    <div class= "card custom-card border-1 shadow-lg">
        <table class="hideBorder">
            <tr>
                @@for (var i = 0; i <  cols.length; i++) {
                    <td class = "hideBorder">
                        <!-- icon-->
                        <div class= "mb-2"><i class="`+cols[i].icon+`"></i></div>
                        <!--title-->
                        <h4 class="mb-2 sub-title" >`+cols[i].title+`</h4>
                        <!--email-->
                        <p class="mb-2 text-email">`+cols[i].email+`</p>
                        <!--text-->
                        <p class="mb-3 text-muted">`+cols[i].description+`</p>

                    </td>
                }
            </tr>
        </table>

    </div>


    </div>

</section>