<section class="@@class" id="@@id">
    <div class="container py-9 py-lg-8">
        <div class="row">
            <div class="col-lg-6 col-xl-5 col-md-8 mx-auto">

                <div class="centerText">
                    <span class="mb-3 h4 subTitleGradient" data-aos="fade-up" data-aos-delay="100">@@subTitle</span>
                    <!--Heading-->
                    <h3 class="display-1 bold" data-aos="fade-up" data-aos-delay="100">@@title</h3>
                    <!--text-->
                    <p class="mb-1 text-muted">@@description</p>
                    @@if(arrow == 'true'){<i class = 'icon-Arrow-Down2 my-3 fontLarge'></i>}
                    <!--Newsletter form-->
                    <form data-aos="fade-up" data-aos-delay="300" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <input type="email" required class="form-control" placeholder="Email Address">
                            <span class="invalid-feedback">Please enter a valid email</span>
                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary">@@button</button>
                        </div>
                    </form>
                    <!--Info text-->
                    <p class="mb-0 text-muted small" data-aos="fade-up" data-aos-delay="200">
                        We’ll never share your details. See our <a href="#!"
                            class="border-bottom border-light ">Privacy
                            Policy</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>