                
                  <!--Call to action-->
                  <section class="position-relative"  style="background-color: #F5F6FA; padding: 10% 0%;">
                    <div class="container position-relative">
                        <div
                            class="centerText">
                            
                            <div class="position-relative">
                                <!--Title-->
                                <span class="mb-3 h4 subTitleGradient">Get Started</span>

                                <h3 class="display-1 bold" data-aos="fade-up" data-aos-delay="100">Start Connecting</h3>
                                
                                <p class="mb-1 text-muted">Seen enough? It's free to start now.</p>


                                <!--Newsletter form-->
                                <div style = "margin: 0 auto; max-width: 80%;">
                                    <form novalidate class="needs-validation" data-aos="fade-up" data-aos-delay="100" style = "justify-self:center;">
                                        <div
                                            class="d-sm-flex w-md-80 w-lg-75 flex-column flex-sm-row mb-4 justify-content-center" style="margin:auto;">
                                            <!--Email-->
                                            <input type="email" name="email"
                                                class="me-sm-1 mb-2 mb-sm-0 form-control form-control-lg border-0"
                                                placeholder="Email Address" required="">

                                            <!--Submit-->
                                            <button type="submit" class="ms-sm-1 btn btn-primary btn-lg">
                                                <span>Subscribe</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <!--Text-->
                                <p class="small text-muted mb-0" data-aos="fade-up" data-aos-delay="150">
                                    We’ll never share your details.
                                    View our <a href="#!" class="link-hover-underline">Privacy Policy</a> for more info.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/.section Call to action end-->
              
              