<section class="text-white position-relative ss-custom-page-header ss-bg-lightgrey" style = "background-image: url('assets/img/hero-shape-ss-k.svg'); background-repeat:no-repeat;">
    <div class="container py-9 py-lg-11 position-relative z-index-1">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 text-center mx-auto">
                <h2 class="subTitleGradient mb-4 display-4" data-aos="fade-up">@@pageTitle</h2>
                <p class="mb-5 px-lg-5 blackText" data-aos="fade-up" data-aos-delay="100">@@subTitle</p>
                <div data-aos="fade-up">
                    @@if(greenButton != ''){<a href="#!" class="btn btn-primary btn-lg">@@greenButton</a>}
                    @@if(whiteButton != ''){<a href="#!" class="btn btn-primary btn-lg whiteButton">@@whiteButton</a>}
                </div>
            </div>
            <!--End Col-->
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>