<section class="position-relative bg-white overflow-hidden">
    <!--content-->
    <div class="container custom-container">
        <img src="/assets/img/1.jpeg" alt="Background image" class="success-story-img">
        <div class ="divOverlay">
            <div class="right">
                <img src = "/assets/img/ta-console-v0.png" style = "max-width: 100%; margin-top: 10%;
                margin-bottom: auto;">
            </div>

            <div class = 'left'>
                <span class="success-stories-font fontWhite">Success Stories</span>

                <p class = 'fontLarge fontWhite'>Learn how TELAIR built a better managed PBX offering</p>

                <p class = "success-stories-text fontWhite">
                    Migrating to SIPSTACK Cloud UC simplified administration and enhanced customer self care and experience.
                </p>

                 
 <a href="#!" class="link-underline text-dark fw-bold fs-6 " style = "color: white !important;">
    Read Success Stories<i class=" fontWhite bx bx-right-arrow-alt ms-1 fs-4"></i>
 </a>              

            </div>
        </div>
    </div>
</section>
