<header
class="z-index-fixed header-absolute-top ">
<nav class="navbar navbar-expand-lg navbar-light @@if (context.page === 'products') {navbar-link-white}">
  <div class="container position-relative">
    <!--Logo Brand-->
    <a class="navbar-brand" href="index.html">
      <img
        src="assets/logo/logo.png"
        alt=""
        class="img-fluid" 
        width="40%"/>
    </a>

    <div
      class="d-flex align-items-center navbar-no-collapse-items order-lg-last">
      <button
        class="navbar-toggler order-last"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavbarTheme"
        aria-controls="mainNavbarTheme"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i></i>
        </span>
      </button>
      <!--Navbar Button-->
      <div class="nav-item me-3 me-lg-0 ms-lg-4 ms-xl-5">
        <a href="https://partner.sipstack.com" class="nav-link">
          Login
        </a>
      </div>
      <div class="nav-item me-3 me-lg-0 ms-lg-4 ms-xl-5">
        <a href="#" class="btn btn-primary btn-sm ">
          Get Started
        </a>
      </div>
    </div>

    <!--Navbar Collapse-->
    <div class="collapse navbar-collapse" id="mainNavbarTheme">
      
<!--begin:Navbar items-->
<!-- <ul class="navbar-nav ms-auto"> -->
    <ul class="navbar-nav">
  
    <!--begin:Products-->
    <li class="nav-item dropdown position-lg-static">
      <a class="nav-link dropdown-toggle @@if (context.page === 'products') {active}" href="#" role="button"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products
      </a>
      <div class="dropdown-menu dropdown-menu-fw custom-dropdown flex-column">
       <div class="dropdown-scroll-lg">
        <div class="row mx-lg-">
          <!--Products-->
          <div class="nav-col-custom-outer">
            <div class="h-100">
              <div>
                <div>
                  <h4 class="mb-4 sub-title" style="font-size:x-large !important">
                    <i class="bx bx-globe" style = "margin: 0;"></i> Products
                  </h4>
                </div>
                <div style = "padding-left:38px;">
                  <p class = "mb-4 text-muted">The most modern & advanced unified SIP based communication tools ever.</p>
                  <a href="#!" class="link-underline text-dark fs-6 " style = "color: rgb(109, 76, 230) !important;">
                    About SIPSTACK<i class="bx bx-right-arrow-alt ms-1 fs-4" style = "color: rgb(109, 76, 230);"></i>
                 </a>  
                </div>
              </div>
            </div>
          </div>
  
          <!--TELECOM-->
          <div class="nav-col-custom-inner">
            <div class="h-100">
              <div>
                <h4 class="mb-3 sub-title">TELECOM</h4>
                <button class="button-dropdown mb-2"><span>SIPSTACK UC</span></button>
                <button class="button-dropdown mb-2"><span>Smart CNAM</span></button>
                <button class="button-dropdown mb-2"><span>SIP Free </span></button>
                <button class="button-dropdown mb-2"><span>SIP Scribe</span></button>
                <button class="button-dropdown mb-2"><span>SIP Guard</span></button>
              </div>
            </div>
          </div>
          <!--APPS-->
          <div class="nav-col-custom-inner">
            <div class="h-100">
              <div>
                <h4 class="mb-3 sub-title">APPS</h4>
                <button class="button-dropdown mb-2"><span>Whois</span></button>
              </div>
            </div>
          </div>
          <!--Developer Documentation-->
          <div class="nav-col-custom-outer">
            <div class="h-100">
              <div class= "border-left">

                <h4 class="mb-4 sub-title" style="font-size:x-large !important">
                Developer Documentation
                </h4>
            
                <p class = "mb-4 text-muted">Learn more about how you can get the most from the SIPSTACK platform and API library.</p>
                <a href="#!" class="link-underline text-dark fs-6 " style = "color: rgb(109, 76, 230) !important;">
                  Read Documentation<i class="bx bx-right-arrow-alt ms-1 fs-4" style = "color: rgb(109, 76, 230);"></i>
                </a> 

              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
    </li>
    <!--end:Products-->
  
    <!--begin:Solutions-->
    <li class="nav-item dropdown position-lg-static">
      <a class="nav-link dropdown-toggle @@if (context.page === 'Solutions') {active}" href="#" role="button"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solutions
      </a>
      <div class="dropdown-menu dropdown-menu-fw px-lg-0 custom-dropdown ">
       <div class="dropdown-scroll-lg">
        <div class="row mx-lg-">
          <!--Products-->
          <div class="nav-col-custom-outer">
            <div class="h-100">
              <div>
                <div>
                  <h4 class="mb-4 sub-title" style="font-size:x-large !important">
                    <i class="icon-Light-Bulb" style = "margin: 0; color: gold;"></i> Solutions
                  </h4>
                </div>
                <div style = "padding-left:38px;">
                  <p class = "mb-4 text-muted">Partner and vertical specific links will be available soon!</p>
                </div>
              </div>
            </div>
          </div>
  
          <!--Partners-->
          <div class="nav-col-custom-inner">
            <div class="h-100">
              <div>
                <h4 class="mb-3 sub-title">PARTNERS</h4>
                <button class="button-dropdown mb-2"><span>Government</span></button>
                <button class="button-dropdown mb-2"><span>Carriers</span></button>
                <button class="button-dropdown mb-2"><span>ITSPs</span></button>
                <button class="button-dropdown mb-2"><span>MSPs</span></button>
              </div>
            </div>
          </div>
          <!--Verticals-->
          <div class="nav-col-custom-inner">
            <div class="h-100">
              <div>
                <h4 class="mb-3 sub-title">VERTICALS</h4>
                <button class="button-dropdown mb-2"><span>Financial</span></button>
                <button class="button-dropdown mb-2"><span>Healthcare</span></button>
                <button class="button-dropdown mb-2"><span>Insurance</span></button>
                <button class="button-dropdown mb-2"><span>Retail & Services</span></button>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
    </li>
    <!--end:Solutions-->

     <!--begin:Resources-->
     <li class="nav-item dropdown position-lg-static">
      <a class="nav-link dropdown-toggle @@if (context.page === 'components') {active}" href="#" role="button"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources
      </a>
      <div class="dropdown-menu dropdown-menu-fw px-lg-0 custom-dropdown">
       <div class="dropdown-scroll-lg">
        <div class="row mx-lg-">
          <!--Products-->
          <div class="nav-col-custom-outer">
            <div class="h-100">
              <div>
                <div>
                  <h4 class="mb-4 sub-title" style="font-size:x-large !important">
                    <i class="icon-Windows-2" style = "margin: 0; color:orangered"></i> Resources
                  </h4>
                </div>
                <div style = "padding-left:38px;">
                  <p class = "mb-4 text-muted">Read our latest posts, knowledge base articles, and case studies.</p>
                  <a href="#!" class="link-underline text-dark fs-6 " style = "color: rgb(109, 76, 230) !important;">
                    Open Knowledge Base<i class="bx bx-right-arrow-alt ms-1 fs-4" style = "color: rgb(109, 76, 230);"></i>
                 </a>  
                </div>
              </div>
            </div>
          </div>
  
          <!--Learn-->
          <div class="nav-col-custom-inner">
            <div class="h-100">
              <div>
                <h4 class="mb-3 sub-title">TELECOM</h4>
                <button class="button-dropdown mb-2"><span>Knowledge Base</span></button>
                <button class="button-dropdown mb-2"><span>Documentation</span></button>
                <button class="button-dropdown mb-2"><span>Case Studies</span></button>
                <button class="button-dropdown mb-2"><span>Latest Posts</span></button>
              </div>
            </div>
          </div>
          <!--COMMUNITY-->
          <div class="nav-col-custom-inner">
            <div class="h-100">
              <div>
                <h4 class="mb-3 sub-title">COMMUNITY</h4>
                <button class="button-dropdown mb-2"><span>Forums</span></button>
                <button class="button-dropdown mb-2"><span>Feature Requests</span></button>
                <button class="button-dropdown mb-2"><span>Feedback</span></button>
                <button class="button-dropdown mb-2"><span>Contribute</span></button>
              </div>
            </div>
          </div>
          <!--Legal-->
          <div class="nav-col-custom-inner">
            <div class="h-100">
              <div>
                <h4 class="mb-3 sub-title">LEGAL</h4>
                <button class="button-dropdown mb-2"><span>Terms of Service</span></button>
                <button class="button-dropdown mb-2"><span>Privacy Policy</span></button>
                <button class="button-dropdown mb-2"><span>Cookie Policy</span></button>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
    </li>
    <!--end:Resources-->

    <!--begin:Company-->
    <li class="nav-item dropdown position-lg-static">
      <a class="nav-link dropdown-toggle @@if (context.page === 'company') {active}" href="#" role="button"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company
      </a>
      <div class="dropdown-menu dropdown-menu-fw px-lg-0 custom-dropdown">
       <div class="dropdown-scroll-lg">
        <div class="row mx-lg-">
          <!--Products-->
          <div class="nav-col-custom-outer">
            <div class="h-100">
              <div>
                <div>
                  <h4 class="mb-4 sub-title" style="font-size:x-large !important; color:#35bb8a;">
                    <img
                      src="assets/logo/logo.png"
                      alt=""
                      class="img-fluid" 
                      width="10%"/></i> SIPSTACK
                  </h4>
                </div>
                <div style = "padding-left:38px;">
                  <p class = "mb-4 text-muted">Data sciences through telecom.
                    Building a safer connected tomorrow, today.</p>
                  <a href="#!" class="link-underline text-dark fs-6 " style = "color: rgb(109, 76, 230) !important;">
                    More about us<i class="bx bx-right-arrow-alt ms-1 fs-4" style = "color: rgb(109, 76, 230);"></i>
                 </a>  
                </div>
              </div>
            </div>
          </div>
  
          <!--WHO WE ARE-->
          <div class="nav-col-custom-inner">
            <div class="h-100">
              <div>
                <h4 class="mb-3 sub-title">WHO WE ARE</h4>
                <button class="button-dropdown mb-2"><span>Our Story</span></button>
                <button class="button-dropdown mb-2"><span>Meet The Team</span></button>
                <button class="button-dropdown mb-2"><span>In The Media</span></button>
                <button class="button-dropdown mb-2"><span>SIP Scribe</span></button>
                <button class="button-dropdown mb-2"><span>SIP Guard</span></button>
              </div>
            </div>
          </div>
          <!--Reach us-->
          <div class="nav-col-custom-inner">
            <div class="h-100">
              <div>
                <h4 class="mb-3 sub-title">REACH US</h4>
                <button class="button-dropdown mb-2"><span>Contact</span></button>
                <button class="button-dropdown mb-2"><span>Jobs</span></button>
                <button class="button-dropdown mb-2"><span>Report Abuse</span></button>
              </div>
            </div>
          </div>
          <!--IMG -->
          <div class="nav-col-custom-outer">
            <div class="h-100">
              <div class= "border-left">

                <img src = "assets/img/office-20.jpg" style ="max-width: 100%;">
            
                <p class = "mb-4 text-muted">We're hiring.</p>
                <a href="#!" class="link-underline text-dark fs-6 " style = "color: rgb(109, 76, 230) !important;">
                  Job Offers<i class="bx bx-right-arrow-alt ms-1 fs-4" style = "color: rgb(109, 76, 230);"></i>
                </a> 

              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
    </li>
    <!--end:Products-->

  </ul>
  <!--end:Navbar items-->
  
    </div>
  </div>
</nav>
</header>
<main class="main-content" id="main-content">