<!-- prettier-ignore -->
@@include('components/layouts/head.html', {
    title: 'SIPSTACK',
    body: 'data-bs-spy="scroll" data-bs-target="#navbar-secondary"',
    css: [
    '/assets/vendor/node_modules/css/swiper-bundle.min.css',
    '/assets/vendor/node_modules/css/glightbox.min.css'
    ]
})


<!-- SECTIONS --------------------------------------------------------------------------------------------- -->
@@include('components/sections/header.logo.html', {
    label: 'Jobs',
    title :'We\'re Hiring ',
    description: 'Sipstack is rewriting the rules of telecommunications. If you believe in eliminating fraudulent and spam calling from our future and thrive on problem solving at scale, we want you to join our team.',
    button1: {
        label: 'Contact Us',
        link: '/contact/us'
    },
    button2: {
        label: '',
        link: ''
    },
    
})


@@include('components/sections/jobs.list.html',
    {
        categories: ['Engineering', 'Executive', 'Marketing-Sales'],
        cols: [
            {
                title: 'Full Stack Developer',
                abstract: 'You are a mission driven developer that is addicted to personal growth.',
                type: 'Full-time',
                category: 'Engineering',
                location: 'Remote',
                salary: '60-80k',
                logo: 'bx bx-code',
                slug: '/full-stack-developer',
                created: '01/01/2023'
            },

            {
                title: 'COO',
                abstract: 'You have the experience and the vision to lead the day-to-day operations and help take us to the next level.',
                type: 'Full-time',
                category: 'Executive',
                location: 'Remote',
                salary: '60-80k',
                logo: 'bx bx-world',
                slug: '/coo',
                created: '01/01/2023'
            },

            {
                title: 'Growth Hacker',
                abstract: 'You are all about intentionality and efficiency to produce the latest viral content.',
                type: 'Full-time',
                category: 'Marketing-Sales',
                location: 'Remote',
                salary: '60-80k',
                logo: 'bx bxs-up-arrow-circle',
                slug: '/growth-hacker',
                created: '01/01/2023'
            },

            {
                title: 'Full Stack Developer',
                abstract: 'You are a mission driven developer that is addicted to personal growth.',
                type: 'Full-time',
                category: 'Engineering',
                location: 'Remote',
                salary: '60-80k',
                logo: 'bx bx-code',
                slug: '/full-stack-developer',
                created: '01/01/2023'
            },

            {
                title: 'Full Stack Developer',
                abstract: 'You are a mission driven developer that is addicted to personal growth.',
                type: 'Full-time',
                category: 'Engineering',
                location: 'Remote',
                salary: '60-80k',
                logo: 'bx bx-code',
                slug: '/full-stack-developer',
                created: '01/01/2023'
            }
        ]
    })





<!-- END SECTIONS ----------------------------------------------------------------------------------------- -->
@@include('components/layouts/tail.html')

