<div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
data-bs-target="#snippet-component-cta-3">
<i class="bx bx-code-alt"></i>  Show code
 </button>
</div>

<!-- Modal -->
<div class="modal fade" id="snippet-component-cta-3" tabindex="-1"
 aria-labelledby="snippet-component-cta-3Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
            <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#ctahtml-3" data-bs-toggle="tab" class="nav-link active">HTML</a>
      </nav>
      <!--Snippets tabs-->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="ctahtml-3">
              <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                  <!--Copy clipboard button-->
                  <button
                      class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                      data-clipboard-target="#copyCodeCTA3" data-clipboard-action="copy" id="copyCodeCTA3-3">Copy code</button>
                  <pre id="copyCodeCTA3" class="language-markup" data-lang="html">
<code>
  &lt;!--Call to action-->
  &lt;section class="bg-gradient-light position-relative">
    &lt;div class="container py-9 py-lg-11">
        &lt;div class="bg-white overflow-hidden shadow-lg px-4 py-6 px-lg-5">
            &lt;div class="row align-items-center justify-content-center">
                &lt;div class="col-lg-9 col-md-8">
                    &lt;!--Sub-heading-->
                    &lt;h6 data-aos="zoom-in" class="mb-3 text-success">Are you interested?&lt;/h6>
                    &lt;!--Heading-->
                    &lt;h2 class="mb-3 display-5" data-aos="zoom-in-up" data-aos-delay="100">
                        Let's build something awesome
                    &lt;/h2>
                    &lt;!--Text-->
                    &lt;p class="mb-5 mb-md-0 pe-lg-11" data-aos="fade-up" data-aos-delay="150">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
                        industries for previewing layouts and visual mockups.
                    &lt;/p>
                &lt;/div>
                &lt;!--End Col-->
                &lt;div class="col-lg-3 col-md-4 text-md-end">
                    &lt;!--Action-->
                    &lt;div data-aos="fade-left" data-aos-delay="200">
                        &lt;a href="#!" class="btn btn-primary btn-lg">
                            &lt;span>Get started&lt;/span>
                        &lt;/a>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div> &lt;!-- / .row -->
    &lt;/div> &lt;!-- / .container -->
&lt;/section>
&lt;!--/.section Call to action end-->
</code>
</pre>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>