<div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
data-bs-target="#snippet-component-cta-1">
<i class="bx bx-code-alt"></i>  Show code
 </button>
</div>

<!-- Modal -->
<div class="modal fade" id="snippet-component-cta-1" tabindex="-1" aria-labelledby="snippet-component-cta-1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
            <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#ctahtml-1" data-bs-toggle="tab" class="nav-link active">HTML</a>
      </nav>
      <!--Snippets tabs-->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="ctahtml-1">
              <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                  <!--Copy clipboard button-->
                  <button
                      class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                      data-clipboard-target="#copyCodeCTA1" data-clipboard-action="copy" id="copyCodeCTA1-1">Copy code</button>
<pre id="copyCodeCTA1" class="language-markup" data-lang="html">
<code>
&lt;!--Call to action-->
&lt;section class="position-relative bg-gradient-light">
      &lt;div class="container py-9 py-lg-11 position-relative z-index-1">
          &lt;div class="d-md-flex justify-content-center align-items-center">
              &lt;div class="mb-4 mb-md-0 me-md-5 me-lg-6 me-xl-7">
                  &lt;!--Title-->
                  &lt;h2 class="mb-3">Build stunning website faster than ever&lt;/h2>
                  &lt;!--text-->
                  &lt;p class="text-muted mb-0">Your business deserve a stunning look. &lt;/p>
              &lt;/div>
              &lt;!--Action-->
              &lt;a class="btn btn-outline-primary btn-hover-arrow" href="#!">
                  &lt;span>Purchase Now&lt;/span>&lt;/a>
          &lt;/div>
      &lt;/div>
&lt;/section>
&lt;!--/.section Call to action end-->
</code>
</pre>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>