  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-gray-200 text-secondary btn-sm mb-4" data-bs-toggle="modal"
   data-bs-target="#snippet-component-card-icon-4">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-icon-4" tabindex="-1" aria-labelledby="snippet-component-card-icon-4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#cardIconHTML-4" data-bs-toggle="tab" class="nav-link active">HTML</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="cardIconHTML-4">
              <div class="position-relative">
                <button
                    class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                    data-clipboard-target="#copyCodeIcon4" data-clipboard-action="copy" id="copyCodeIcon4-1">Copy code</button>
                <pre id="copyCodeIcon4" class="language-markup" data-lang="html">
<code>
  &lt;!--Card-->
  &lt;div class="overflow-hidden text-center">
      &lt;!--Icon-->
      &lt;div class="mb-4 width-7x height-7x flex-center position-relative">
         &lt;!--Icon bg shape-->
         &lt;svg class="position-absolute text-primary start-0 top-0 w-100 h-100"
         preserveAspectRatio="none" width="120" height="120" viewBox="0 0 120 120" fill="none"
         xmlns="http://www.w3.org/2000/svg">
         &lt;path d="M55.4078 1.90215C58.3481 0.684225 61.6519 0.684225 64.5922 1.90215L97.8342 15.6714C100.775
         16.8894 103.111 19.2255 104.329
         22.1658L118.098 55.4078C119.316 58.3481 119.316 61.6519 118.098 64.5922L104.329 97.8342C103.111 100.775
         100.775 103.111 97.8342 104.329L64.5922
         118.098C61.6519 119.316 58.3481 119.316 55.4078 118.098L22.1658 104.329C19.2255 103.111 16.8894 100.775
         15.6714 97.8342L1.90215
         64.5922C0.684225 61.6519 0.684225 58.3481 1.90215 55.4078L15.6714 22.1658C16.8894 19.2255 19.2255 16.8894
         22.1658 15.6714L55.4078
         1.90215Z" fill="currentColor">&lt;/path>
         &lt;/svg>
         &lt;!--Icon-->
         &lt;i class="icon-Idea-3 fs-2 text-white position-relative">&lt;/i>
     &lt;/div>
        &lt;!--Title-->
        &lt;h5 class="mb-3">Feature heading&lt;/h5>
         &lt;!--Description-->
         &lt;p class="mb-0">
             Lorem ipsum is placeholder text commonly used in the graphic, print, and
             publishing
             industries for layouts and visual mockups.
         &lt;/p>
  &lt;/div>
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>