  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-gray-200 text-secondary btn-sm mb-4" data-bs-toggle="modal"
   data-bs-target="#snippet-component-card-icon-1">
    Show code
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="snippet-component-card-icon-1" tabindex="-1" aria-labelledby="snippet-component-card-icon-1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
              <i class="bx bx-x"></i>
          </button>
        </div>
        <div class="modal-body">
          <!--Snippets tab nav-->
          <nav class="nav nav-tabs mb-0">
            <a href="#cardIconHTML-1" data-bs-toggle="tab" class="nav-link active">HTML</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="cardIconHTML-1">
              <div class="position-relative">
                <button
                    class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                    data-clipboard-target="#copyCodeIcon1" data-clipboard-action="copy" id="copyCodeIcon1-1">Copy code</button>
                <pre id="copyCodeIcon1" class="language-markup" data-lang="html">
<code>
    &lt;!--Card-->
    &lt;div class="position-relative">
        &lt;!--Icon-->
      &lt;div class="mb-5 position-relative width-6x height-6x bg-gradient-primary text-white
       rounded-circle flex-center overflow-hidden">
        &lt;i class="icon-Repeat-2 fs-3 position-relative">&lt;/i>
      &lt;div>
      &lt;!--Title-->
      &lt;h5 class="mb-3">Feature heading&lt;/h5>
      &lt;!--Description-->
      &lt;p class="mb-4">
        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
        industries for layouts and visual mockups.
      &lt;/p>
      &lt;!--Action link-->
      &lt;div>
        &lt;a href="#!" class="link-hover-underline text-muted fw-semibold">
            Learn More&lt;i class="bx bx-right-arrow-alt align-middle ms-1 lh-1 fs-5"> &lt;/i>
          &lt;/a>
      &lt;/div>
    &lt;/div>
</code>
</pre>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>