<div class="text-center">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary mb-4 btn-sm" data-bs-toggle="modal"
data-bs-target="#snippet-component-pricing-table-4">
<i class="bx bx-code-alt"></i>  Show code
 </button>
</div>

<!-- Modal -->
<div class="modal fade" id="snippet-component-pricing-table-4" tabindex="-1" aria-labelledby="snippet-component-pricing-table-4Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
            <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#demo4HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
      </nav>
      <!--Snippets tabs-->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="demo4HTML">
              <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                  <!--Copy clipboard button-->
                  <button
                      class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                      data-clipboard-target="#copyCodePricing4" data-clipboard-action="copy" id="copyCodePricing4-4">Copy code</button>
                  <pre id="copyCodePricing4" class="language-markup" data-lang="html">
<code>
    &lt;!--Plans container-->
    &lt;div class="container py-9 py-lg-11">
        &lt;!--Plan row-->
        &lt;div class="row g-lg-2">
    
            &lt;!--Plan col-->
            &lt;div class="col-lg-4 mb-4 mb-lg-0">
                &lt;!--Plan Card-->
                &lt;div class="card border-0 shadow">
                    &lt;div class="card-body px-4 py-5">
                        &lt;h3 class="plan-title mb-4">Basic&lt;/h3>
                        &lt;p class="plan-info">
                            Lorem ipsum is placeholder text commonly used in the graphic, print, and
                            publishing industries
                        &lt;/p>
                        &lt;div class="plan-price">
                            &lt;span class="small">$&lt;/span>
                            &lt;span class="display-2">5&lt;/span>
                            &lt;span class="small text-muted">Monthly&lt;/span>
                        &lt;/div>
                        &lt;div class="plan-details text-muted small mb-4">
                            &lt;span>Billed&lt;/span>
                            &lt;span class="plan-type">Annually&lt;/span>
                            &lt;a tabindex="0" role="button" data-bs-trigger="focus" data-bs-toggle="popover"
                                data-bs-content="And here's some amazing content. It's very engaging. Right?">
                                &lt;svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bx bx-info-circle" viewBox="0 0 16 16">
                                    &lt;path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    &lt;path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738
                                         3.468c-.194.897.105  1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275
                                          0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                &lt;/svg>
                            &lt;/a>
                        &lt;/div>
                        &lt;!--Plan action-->
                        &lt;div class="d-grid mb-4 small">
                            &lt;a href="#" class="btn btn-secondary mb-2">Sign Up Now&lt;/a>
                            &lt;span>
                                Or
                                &lt;a href="#!" class="text-dark fw-semibold link-decoration">Contact
                                    Sales for custom plan&lt;/a>
                            &lt;/span>
                        &lt;/div>
                        &lt;!--Plan features list-->
                        &lt;div>
                            &lt;p class="text-muted mb-3">Top features:&lt;/p>
                            &lt;ul class="list-unstyled mb-0">
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Dashboards
                                    & Reporting
                                &lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Integrations & API
                                &lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Inspections & Issues
                                &lt;/li>
                                &lt;li class="mb-3">&lt;i
                                        class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Publishing industries
                                &lt;/li>
                                &lt;li class="mb-3">&lt;i
                                        class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Single user access
                                &lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    6 Months premium support
                                &lt;/li>
                                &lt;li class="mb-0">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Text commonly used
                                &lt;/li>
                            &lt;/ul>
                        &lt;/div>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
    
            &lt;!--Plan col-->
            &lt;div class="col-lg-4 mb-4 mb-lg-0">
                &lt;!--Plan Card-->
                &lt;div class="card border-0 shadow-lg z-index-1">
                    &lt;div class="card-body px-4 py-5">
                        &lt;div class="d-flex mb-4 align-items-center">
                            &lt;h3 class="plan-title mb-0 me-3">Pro&lt;/h3>
                            &lt;span class="badge bg-success">Popular&lt;/span>
                        &lt;/div>
                        &lt;p class="plan-info">
                            Lorem ipsum is placeholder text commonly used in the graphic, print, and
                            publishing industries
                        &lt;/p>
                        &lt;div class="plan-price">
                            &lt;span class="small">$&lt;/span>
                            &lt;span class="display-2">19&lt;/span>
                            &lt;span class="small text-muted">Monthly&lt;/span>
                        &lt;/div>
                        &lt;div class="plan-details text-muted small mb-4">
                            &lt;span>Billed&lt;/span>
                            &lt;span class="plan-type">Annually&lt;/span>
                            &lt;a tabindex="0" role="button" data-bs-trigger="focus" data-bs-toggle="popover"
                                data-bs-content="And here's some amazing content. It's very engaging. Right?">
                                &lt;svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bx bx-info-circle" viewBox="0 0 16 16">
                                    &lt;path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    &lt;path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105
                                          1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275
                                           0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                &lt;/svg>
                            &lt;/a>
                        &lt;/div>
                        &lt;!--Plan action-->
                        &lt;div class="d-grid mb-4 small">
                            &lt;a href="#" class="btn btn-secondary mb-2">Sign Up Now&lt;/a>
                            &lt;span>
                                Or
                                &lt;a href="#!" class="text-dark fw-semibold link-decoration">
                                    Contact Sales for custom plan&lt;/a>&lt;/span>
                        &lt;/div>
                        &lt;!--Plan features list-->
                        &lt;div>
                            &lt;p class="text-muted mb-3">Top features:&lt;/p>
                            &lt;ul class="list-unstyled mb-0">
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Dashboards & reporting
                                &lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Integrations & API
                                &lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Inspections & Issues
                                &lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    publishing industries
                                &lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Single user access
                                &lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    6 Months premium support
                                &lt;/li>
                                &lt;li class="mb-0">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Text commonly used
                                &lt;/li>
                            &lt;/ul>
                        &lt;/div>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
    
            &lt;!--Plan col-->
            &lt;div class="col-lg-4">
                &lt;!--Plan Card-->
                &lt;div class="card border-0 shadow">
                    &lt;div class="card-body px-4 py-5">
                        &lt;h3 class="plan-title mb-4">Team&lt;/h3>
                        &lt;p class="plan-info">
                            Lorem ipsum is placeholder text commonly used in the graphic, print, and
                            publishing industries
                        &lt;/p>
                        &lt;div class="plan-price">
                            &lt;span class="small">$&lt;/span>
                            &lt;span class="display-2">49&lt;/span>
                            &lt;span class="small text-muted">Monthly&lt;/span>
                        &lt;/div>
                        &lt;div class="plan-details text-muted small mb-4">
                            &lt;span>Billed&lt;/span>
                            &lt;span class="plan-type">Annually&lt;/span>
                            &lt;a tabindex="0" role="button" data-bs-trigger="focus" data-bs-toggle="popover"
                                data-bs-content="And here's some amazing content. It's very engaging. Right?">
                                &lt;svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bx bx-info-circle" viewBox="0 0 16 16">
                                    &lt;path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    &lt;path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738
                                         3.468c-.194.897.105  1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275
                                          0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                &lt;/svg>
                            &lt;/a>
                        &lt;/div>
                        &lt;!--Plan action-->
                        &lt;div class="d-grid mb-4 small">
                            &lt;a href="#" class="btn btn-secondary mb-2">Sign Up Now&lt;/a>
                            &lt;span>
                                Or
                                &lt;a href="#!" class="text-dark fw-semibold link-decoration">
                                    Contact Sales for custom plan&lt;/a>
                            &lt;/span>
                        &lt;/div>
                        &lt;!--Plan features list-->
                        &lt;div>
                            &lt;p class="text-muted mb-3">Top features:&lt;/p>
                            &lt;ul class="list-unstyled mb-0">
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Dashboards & Reporting
                                &lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Integrations & API&lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Inspections & Issues&lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    publishing industries&lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Single user access&lt;/li>
                                &lt;li class="mb-3">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    6 Months premium support&lt;/li>
                                &lt;li class="mb-0">
                                    &lt;i class="bx bx-check-circle lh-1 fs-5 align-middle me-2 text-muted">&lt;/i>
                                    Text commonly used&lt;/li>
                            &lt;/ul>
                        &lt;/div>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
        &lt;!--/.End Plans row-->
    &lt;/div>
    &lt;!--/.End Plans container-->
    
</code>
</pre>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>