<div class="text-center">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary mb-4 btn-sm" data-bs-toggle="modal"
data-bs-target="#snippet-component-pricing-table-5">
<i class="bx bx-code-alt"></i>  Show code
 </button>
</div>

<!-- Modal -->
<div class="modal fade" id="snippet-component-pricing-table-5" tabindex="-1" aria-labelledby="snippet-component-pricing-table-5Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
            <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#demo5HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
      </nav>
      <!--Snippets tabs-->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="demo5HTML">
              <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                  <!--Copy clipboard button-->
                  <button
                      class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                      data-clipboard-target="#copyCodePricing5" data-clipboard-action="copy" id="copyCodePricing5-5">Copy code</button>
                  <pre id="copyCodePricing5" class="language-markup" data-lang="html">
<code>
    &lt;div class="table-responsive">
    &lt;!--Price tables comparision-->
    &lt;table class="table table-bordered">
        &lt;!--Table header-->
        &lt;thead>
            &lt;tr>
                &lt;th scope="col" style="min-width: 290px;">
                    &lt;h6 class="mb-0">Features:&lt;/h6>
                &lt;/th>
                &lt;th scope="col" class="bg-white">
                    &lt;h5 class="title">Basic&lt;/h5>
                    &lt;div class="d-flex pt-md-2">
                        &lt;span class="h6">$&lt;/span>
                        &lt;h2 class="display-5 mb-2" data-aos data-aos-id="countup:in" data-to="6">
                            6.00&lt;/h2>
                    &lt;/div>
                    &lt;span class="small d-block h6 mb-2 text-muted">Monthly&lt;/span>
                &lt;/th>
                &lt;th scope="col" class="bg-light">
                    &lt;div class="mb-3">
                        &lt;span class="badge badge-pill bg-warning">Best value&lt;/span>
                    &lt;/div>
                    &lt;h5 class="mb-2">Pro&lt;/h5>
                    &lt;div class="d-flex pt-md-2">
                        &lt;span class="h6 text-primary">$&lt;/span>
                        &lt;h2 class="display-5 mb-2 text-primary" data-aos data-aos-id="countup:in"
                            data-to="29">29&lt;/h2>
                    &lt;/div>
                    &lt;span class="small d-block h6 mb-2 text-muted">Monthly&lt;/span>
                &lt;/th>
                &lt;th scope="col" class="bg-white">
                    &lt;h5 class="title">High&lt;/h5>
                    &lt;div class="d-flex pt-md-2">
                        &lt;span class="h6">$&lt;/span>
                        &lt;h2 class="display-5 mb-2" data-aos data-aos-id="countup:in" data-to="49">49
                        &lt;/h2>
                    &lt;/div>
                    &lt;span class="small d-block h6 mb-2 text-muted">Monthly&lt;/span>
                &lt;/th>
            &lt;/tr>
        &lt;/thead>
        &lt;!--Table body-->
        &lt;tbody>
            &lt;tr>
                &lt;th scope="row">
                    &lt;div class="d-flex justify-content-between flex-nowrap">
                        &lt;small class="mb-0 d-block text-muted">Storage&lt;/small>
                        &lt;span class="h6 mb-0">Per domain&lt;/span>
                    &lt;/div>
                &lt;/th>
                &lt;td>
                    &lt;span>5GB&lt;/span>
                &lt;/td>
                &lt;td>
                    &lt;span>25GB&lt;/span>
                &lt;/td>
                &lt;td>
                    &lt;span>Unlimited&lt;/span>
                &lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;th scope="row">
                    &lt;div class="d-flex justify-content-between flex-nowrap">
                        &lt;small class="mb-0 d-block text-muted">Downloads&lt;/small>
                        &lt;span class="h6 mb-0">Per day&lt;/span>
                    &lt;/div>
                &lt;/th>
                &lt;td>
                    &lt;span>100&lt;/span>
                &lt;/td>
                &lt;td>
                    &lt;span>1000&lt;/span>
                &lt;/td>
                &lt;td>
                    &lt;span>Unlimited&lt;/span>
                &lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;th scope="row">
                    &lt;div class="d-flex justify-content-between flex-nowrap">
                        &lt;small class="mb-0 d-block text-muted">Email Accounts&lt;/small>
                        &lt;span class="h6 mb-0">Per user&lt;/span>
                    &lt;/div>
                &lt;/th>
                &lt;td>
                    &lt;span>5&lt;/span>
                &lt;/td>
                &lt;td>
                    &lt;span>100&lt;/span>
                &lt;/td>
                &lt;td>
                    &lt;span>Unlimited&lt;/span>
                &lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;th scope="row">
                    &lt;div class="d-flex justify-content-between flex-nowrap">
                        &lt;small class="mb-0 d-block text-muted">Support&lt;/small>
                        &lt;span class="h6 mb-0">6 months&lt;/span>
                    &lt;/div>
                &lt;/th>
                &lt;td>
                    &lt;div class="text-success">
                        &lt;i class="bx bx-check lh-1 fs-4">&lt;/i>
                    &lt;/div>
                &lt;/td>
                &lt;td>
                    &lt;div class="text-success">
                        &lt;i class="bi-check lh-1 fs-4">&lt;/i>
                    &lt;/div>
                &lt;/td>
                &lt;td>
                    &lt;div class="text-success">
                        &lt;i class="bx bx-check lh-1 fs-4">&lt;/i>
                    &lt;/div>
                &lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;th scope="row">
                    &lt;div class="d-flex justify-content-between flex-nowrap">
                        &lt;small class="mb-0 d-block text-muted">Item Updates&lt;/small>
                        &lt;span class="h6 mb-0">Lifetime free&lt;/span>
                    &lt;/div>
                &lt;/th>
                &lt;td>
                    &lt;div class="text-danger">
                        &lt;i class="bx bx-x lh-1 fs-4">&lt;/i>
                    &lt;/div>
                &lt;/td>
                &lt;td>
                    &lt;div class="text-success">
                        &lt;i class="bx bx-check lh-1 fs-4">&lt;/i>
                    &lt;/div>
                &lt;/td>
                &lt;td>
                    &lt;div class="text-success">
                        &lt;i class="bx bx-check lh-1 fs-4">&lt;/i>
                    &lt;/div>
                &lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;th scope="row">
                    &lt;div class="d-flex align-items-lg-center justify-content-between flex-nowrap">
                        &lt;small class="mb-0 d-block text-muted">Customization&lt;/small>
                        &lt;span class="h6 mb-0">Extra Charges
                            &lt;a href="#!" class="ms-1 fs-6 d-inline-block" data-bs-toggle="popover"
                                data-bs-content="Customisation charges apply">
                                &lt;i class="bx bx-exclamation-circle align-middle">&lt;/i>&lt;/a>&lt;/span>
                    &lt;/div>
                &lt;/th>
                &lt;td>
                    &lt;div class="text-danger">
                        &lt;i class="bx bx-x lh-1 fs-4">&lt;/i>
                    &lt;/div>
                &lt;/td>
                &lt;td>
                    &lt;div class="text-danger">
                        &lt;i class="bx bx-x lh-1 fs-4">&lt;/i>
                    &lt;/div>
                &lt;/td>
                &lt;td>
                    &lt;div class="text-success">
                        &lt;i class="bx bx-check lh-1 fs-4">&lt;/i>
                    &lt;/div>
                &lt;/td>
            &lt;/tr>
            &lt;tr class="bg-white">
                &lt;th scope="row" class="py-4">

                &lt;/th>
                &lt;td class="py-4">
                    &lt;a href="#!"
                        class="btn btn-outline-secondary btn-block btn-material hover-translate-3d">Purchase
                        Basic&lt;/a>
                &lt;/td>
                &lt;td class="py-4">
                    &lt;a href="#!"
                        class="btn btn-outline-primary btn-block btn-material hover-translate-3d">Purchase
                        Pro&lt;/a>
                &lt;/td>
                &lt;td class="py-4">
                    &lt;a href="#!"
                        class="btn btn-outline-secondary btn-block btn-material hover-translate-3d">Purchase
                        High&lt;/a>
                &lt;/td>
            &lt;/tr>
        &lt;/tbody>
    &lt;/table>
&lt;/div>
&lt;!--End price tables comparision-->
</code>
</pre>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>