    <div class="text-center border-bottom">
        <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary mb-4 btn-sm" data-bs-toggle="modal"
    data-bs-target="#snippet-component-pricing-table-2">
    <i class="bx bx-code-alt"></i>  Show code
    </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="snippet-component-pricing-table-2" tabindex="-1" aria-labelledby="snippet-component-pricing-table-2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header border-bottom-0">
            <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
                <i class="bx bx-x"></i>
            </button>
        </div>
        <div class="modal-body">
            <!--Snippets tab nav-->
            <nav class="nav nav-tabs mb-0">
            <a href="#demo2HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
        </nav>
        <!--Snippets tabs-->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="demo2HTML">
                <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                    <!--Copy clipboard button-->
                    <button
                        class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                        data-clipboard-target="#copyCodePricing2" data-clipboard-action="copy" id="copyCodePricing2-2">Copy code</button>
                    <pre id="copyCodePricing2" class="language-markup" data-lang="html">
    <code>
        &lt;!--Price Container-->
        &lt;div class="container">
        &lt;!--Price Row-->
        &lt;div class="row grid-separator">
    
            &lt;!--Price col-->
            &lt;div class="col-lg-4 py-9 py-lg-11 px-4 px-xl-5">
                &lt;!--Price card-->
                &lt;div class="card bg-transparent border-0 h-100">
                    &lt;!--Title-->
                    &lt;h5 class="mb-4">Personal plan&lt;/h5>
                    &lt;div class="mb-4">
                        &lt;h2 class="display-3 mb-0">&lt;sup
                                class="fs-6 align-top text-muted lh-1 fw-normal">$&lt;/sup>&lt;span
                                class="price">0&lt;/span>&lt;sub
                                class="fs-6 text-muted lh-1 fw-normal align-bottom"> / Monthly&lt;/sub>&lt;/h2>
                    &lt;/div>
                    &lt;!--Description-->
                    &lt;p class="mb-4">
                        Lorem ipsum dolor sit amet, dolore magna aliqua. Duis aute irure dolor in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                    &lt;/p>
    
                    &lt;!--Features-->
                    &lt;h6 class="mb-3">Included&lt;/h6>
                    &lt;ul class="list-unstyled mb-0 flex-grow-1">
                        &lt;li class="d-flex align-items-center mb-1">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>20GB Space&lt;/span>
                        &lt;/li>
                        &lt;li class="d-flex align-items-center mb-1">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>1 user&lt;/span>
                        &lt;/li>
                        &lt;li class="d-flex align-items-center mb-1">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>25K files upload&lt;/span>
                        &lt;/li>
                        &lt;li class="d-flex align-items-center mb-1">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>3 Months support&lt;/span>
                        &lt;/li>
                        &lt;li class="d-flex align-items-center">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>Basic tools&lt;/span>
                        &lt;/li>
                    &lt;/ul>
                    &lt;!--Action-->
                    &lt;div class="pt-4 d-grid">
                        &lt;a href="#!" class="btn btn-outline-primary btn-lg">
                            Sign up now
                        &lt;/a>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
            &lt;!--Price col-->
            &lt;div class="col-lg-4 py-9 py-lg-11 px-4 px-xl-5">
                &lt;!--Price card-->
                &lt;div class="card bg-transparent border-0 h-100">
                    &lt;!--Badge-->
                    &lt;div class="mb-3">
                        &lt;span class="badge badge-pill bg-success px-3">Best value&lt;/span>
                    &lt;/div>
    
                    &lt;!--Title-->
                    &lt;h5 class="mb-4">Team plan&lt;/h5>
                    &lt;div class="mb-4">
                        &lt;h2 class="display-3 mb-0">&lt;sup
                                class="fs-6 align-top text-muted lh-1 fw-normal">$&lt;/sup>&lt;span
                                class="price">29&lt;/span>&lt;sub
                                class="fs-6 text-muted lh-1 fw-normal align-bottom"> / Monthly&lt;/sub>&lt;/h2>
                    &lt;/div>
    
                    &lt;!--Description-->
                    &lt;p class="mb-4">
                        Lorem ipsum dolor sit amet, dolore magna aliqua. Duis aute irure dolor in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                    &lt;/p>
    
                    &lt;!--Features-->
                    &lt;h6 class="mb-3">Included&lt;/h6>
                    &lt;ul class="list-unstyled mb-0 flex-grow-1">
                        &lt;li class="d-flex align-items-center mb-1">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>100GB Space&lt;/span>
                        &lt;/li>
                        &lt;li class="d-flex align-items-center mb-1">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>Up to 5 users&lt;/span>
                        &lt;/li>
                        &lt;li class="d-flex align-items-center mb-1">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>100K files upload&lt;/span>
                        &lt;/li>
                        &lt;li class="d-flex align-items-center mb-1">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>12 Months support&lt;/span>
                        &lt;/li>
                        &lt;li class="d-flex align-items-center">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>Basic tools&lt;/span>
                        &lt;/li>
                    &lt;/ul>
    
                    &lt;!--Action-->
                    &lt;div class="pt-4 d-grid">
                        &lt;a href="#!" class="btn btn-lg btn-primary">
                            Sign up now
                        &lt;/a>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
            &lt;!--Price col-->
            &lt;div class="col-lg-4 py-9 py-lg-11 px-4 px-xl-5">
    
                &lt;!--Price card-->
                &lt;div class="card bg-transparent border-0 h-100">
    
                    &lt;!--Title-->
                    &lt;h5 class="mb-4">Business plan&lt;/h5>
                    &lt;div class="mb-4">
                        &lt;h2 class="display-3 mb-0">&lt;sup
                                class="fs-6 align-top text-muted lh-1 fw-normal">$&lt;/sup>&lt;span
                                class="price">49&lt;/span>&lt;sub
                                class="fs-6 text-muted lh-1 fw-normal align-bottom"> / Monthly&lt;/sub>&lt;/h2>
                    &lt;/div>
    
                    &lt;!--Description-->
                    &lt;p class="mb-4">
                        Lorem ipsum dolor sit amet, dolore magna aliqua. Duis aute irure dolor in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                    &lt;/p>
    
                    &lt;!--Features-->
                    &lt;h6 class="mb-3">Included&lt;/h6>
                    &lt;ul class="list-unstyled mb-0 flex-grow-1">
                        &lt;li class="d-flex align-items-center mb-1">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>20GB Space&lt;/span>
                        &lt;/li>
                        &lt;li class="d-flex align-items-center mb-1">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>1 user at a time&lt;/span>
                        &lt;/li>
                        &lt;li class="d-flex align-items-center mb-1">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>25K files upload&lt;/span>
                        &lt;/li>
                        &lt;li class="d-flex align-items-center mb-1">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>3 Months support&lt;/span>
                        &lt;/li>
                        &lt;li class="d-flex align-items-center">
                            &lt;i class="me-2 fs-4 bx bx-check lh-sm text-muted">&lt;/i>
                            &lt;span>Basic tools&lt;/span>
                        &lt;/li>
                    &lt;/ul>
    
                    &lt;!--Action-->
                    &lt;div class="pt-4 d-grid">
                        &lt;a href="#!" class="btn btn-lg btn-outline-primary">
                            Sign up now
                        &lt;/a>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>
    &lt;!--End price container-->
    </code>
    </pre>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
    </div>