<!--begin:Footer-->
<footer id="footer" class="footer bg-dark text-white rounded-top-start-block">
    <div class="container pt-9 pt-lg-11 pb-5 pb-lg-7">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-7">
                <a class="d-table mb-4" href="#">
                    <img src="assets/img/logo/logo-white.svg" alt="" class="width-8x h-auto">
                </a>
                <p class="text-muted"><strong>Company Pty Ltd</strong></p>
                <p class="text-muted">124, Lorem street,<br>Park avenue Rd,<br>302012, LA,<br> USA</p>
                <p class="mb-2 text-muted">
                    <span class="text-muted">Phone:</span>
                    <a href="tel:0123456789">+01 1234 56789</a>
                </p>
                <p class="text-muted mb-0">
                    <span class="text-muted">Email:</span> <a href="mailto:mailus@domain.com">mailus@domain.com</a>
                </p>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 ms-md-auto mb-7">
                <h5 class="mb-3">About</h5>
                <nav class="nav flex-column">
                    <a class="nav-link" href="#">About company</a>
                    <a class="nav-link" href="#">Meet the Team</a>
                    <a class="nav-link" href="#">Contact Us</a>
                </nav>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 mb-7">
                <h5 class="mb-3">Learn More</h5>
                <nav class="nav flex-column">
                    <a class="nav-link" href="#">Crowdfunds</a>
                    <a class="nav-link" href="#">IPO</a>
                    <a class="nav-link" href="#">Wholesale</a>
                    <a class="nav-link" href="#">Resource</a>
                    <a class="nav-link" href="#">FAQs</a>
                    <a class="nav-link" href="#">News & media</a>
                    <a class="nav-link" href="#">Raise Capital</a>
                </nav>
            </div>
            <div class="col-lg-2 col-sm-4 mb-7">
                <h5 class="mb-3">Legal</h5>
                <nav class="nav flex-column">
                    <a class="nav-link" href="#">Investor</a>
                    <a class="nav-link" href="#">Disclosure</a>
                    <a class="nav-link" href="#">Statements</a>
                    <a class="nav-link" href="#">Debit</a>
                    <a class="nav-link" href="#">Fair Policy</a>
                    <a class="nav-link" href="#">Services Guide</a>
                </nav>
            </div>
            <div class="col-lg-3 col-md-8 mb-7">
                <h5 class="mb-3">Subscribe</h5>
                <span class="d-block text-muted mb-4">Subscribe to our newsletter and stay up to date with latest news
                    and
                    offers.</span>
                <div class="newsletter-signup">
                    <form>
                        <div class="d-flex flex-column mb-2">
                            <input type="email" placeholder="Enter email address"
                                class="form-control mb-2 border-0 shadow-none" required="">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </div>
                    </form>
                    <span class="small text-muted d-block text-end">We do not share your email</span>
                </div>
            </div>
        </div>
        <hr class="mb-7">
        <div class="row">
            <div class="col-sm-5 mb-3 mb-sm-0">
                <span class="d-block lh-sm small text-muted">&copy; Copyright
                    <script>
                        document.write(new Date().getFullYear())
                    </script>. Assan
                </span>
            </div>
            <div class="col-sm-7">
                <nav class="nav justify-content-sm-end">
                    <a class="nav-link small text-muted px-0 me-3" href="#!"><small>Privacy Policy</small></a>
                    <a class="nav-link small text-muted px-0" href="#!"><small>Terms of Service</small></a>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!--end:Footer-->
