<!--begin:Footer-->
<footer id="footer" class="position-relative footer bg-dark text-white">
  <div class="container pt-9 pt-lg-11 pb-5">
    <div class="row mb-5">
      <div class="col-lg-7 col-md-12 mb-5 mb-lg-0">
        <div
          class="mb-7 mb-lg-9 d-flex justify-content-between align-items-end">
          <img
            src="/assets/img/logo/logo-white.svg"
            alt="Assan Logo"
            class="width-8x" />
        </div>
        <div class="row">
          <div class="col-md-4 mb-5 mb-md-0">
            <h5 class="mb-4">Products</h5>
            <a href="#" class="d-block mb-2 mb-lg-3">Assan</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Airbnb</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Codepen</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Chrome</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Dropbox</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Jira</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Slack</a>
            <a href="#" class="d-block">Zendesk</a>
          </div>
          <div class="col-md-4 mb-5 mb-md-0">
            <h5 class="mb-4">Resources</h5>
            <a href="#" class="d-block mb-2 mb-lg-3">Bootstrap</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Wrapbootstrap</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Babel</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Browserify</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Greensock</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Javascript</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Gulp</a>
            <a href="#" class="d-block">Sass</a>
          </div>
          <div class="col-md-4">
            <h5 class="mb-4">Company</h5>
            <a href="#" class="d-block mb-2 mb-lg-3">About us</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Career</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Team</a>
            <a href="#" class="d-block">Blog</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 ms-auto">
        <div class="py-5 bg-gray-800 px-4 rounded-4">
          <h5 class="mb-4">Contact</h5>
          <div class="mb-2">
            <a href="tel:+1123456789" class="fs-5 link-hover-underline">
              +1 1234 56789
            </a>
          </div>
          <div>
            <a
              href="mailto:hello@domain.com?subject=Hello!"
              class="fs-5 link-hover-underline">
              support@domain.com
            </a>
          </div>
          <hr class="my-4 my-sm-5" />
          <h5 class="mb-4">Have a project?</h5>
          <a
            href="#"
            class="btn btn-primary rounded-pill hover-lift btn-hover-arrow">
            <span>Let's talk with us</span>
          </a>

          <hr class="my-4 my-sm-5" />
          <h5 class="mb-4">Follow us</h5>
          <div class="mb-4 mb-md-0 d-flex">
            <!-- Social button -->
            <a
              href="#!"
              class="d-inline-block mb-1 me-2 si rounded-pill si-hover-facebook">
              <i class="bx bxl-facebook fs-5"></i>
              <i class="bx bxl-facebook fs-5"></i>
            </a>
            <!-- Social button -->
            <a
              href="#!"
              class="d-inline-block mb-1 me-2 si rounded-pill si-hover-twitter">
              <i class="bx bxl-twitter fs-5"></i>
              <i class="bx bxl-twitter fs-5"></i>
            </a>
            <!-- Social button -->
            <a
              href="#!"
              class="d-inline-block mb-1 me-2 si rounded-pill si-hover-linkedin">
              <i class="bx bxl-linkedin fs-5"></i>
              <i class="bx bxl-linkedin fs-5"></i>
            </a>
            <!-- Social button -->
            <a
              href="#!"
              class="d-inline-block mb-1 si rounded-pill si-hover-instagram">
              <i class="bx bxl-instagram fs-5"></i>
              <i class="bx bxl-instagram fs-5"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-0 mb-5" />
    <div class="row justify-content-between">
      <div class="col-md-7 mb-4 mb-md-0">
        <div class="d-flex small">
          <a href="#" class="text-muted d-block me-3">Privacy Policy</a>
          <a href="#" class="text-muted d-block me-3">Terms and Conditions</a>
          <a href="#" class="text-muted d-block">Press kit</a>
        </div>
      </div>

      <div class="col-md-5 text-md-end">
        <span class="d-block lh-sm small text-muted">
          &copy; Copyright
          <script>
            document.write(new Date().getFullYear())
          </script>
          . Assan
        </span>
      </div>
    </div>
  </div>
</footer>
<!--end:Footer-->
