<!--begin:Footer-->
<footer class="bg-dark footer text-white">
  <div class="container px-xl-7 pt-9 pt-lg-11 pb-7">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-3 col-md-12 mb-7 mb-lg-0">
            <a href="demo-jobs.html">
              <img
                src="/assets/img/logo/logo-white.svg"
                alt="Assan Logo"
                class="width-8x" />
              <sub>Jobs</sub>
            </a>
          </div>
          <div class="col-lg-2 col-sm-5 col-md-3 mb-7 mb-md-0">
            <h6 class="mb-4">Company</h6>
            <a href="#" class="d-block mb-2 mb-lg-3">Jobs</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Press</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Companies</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Pricing</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Updates</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Community</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Terms</a>
            <a href="#" class="d-block">Privacy</a>
          </div>
          <div class="col-md-4 col-sm-7 col-lg-3 mb-7 mb-md-0">
            <h6 class="mb-4">Top Categories</h6>
            <a href="#" class="d-block mb-2 mb-lg-3">Business Management</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Developers</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Sales & Marketing</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Designer</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Finance</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Data Science</a>
            <a href="#" class="d-block mb-2 mb-lg-3">Content Creator</a>
            <a href="#" class="d-block">Legal Adviser</a>
          </div>
          <div class="col-lg-4 col-md-5">
            <h6 class="mb-4">Contact</h6>
            <div class="mb-2">
              <a href="tel:+1123456789" class="fs-5 link-hover-underline">
                +1 1234 56789
              </a>
            </div>
            <div>
              <a
                href="mailto:hello@domain.com?subject=Hello!"
                class="fs-5 link-hover-underline">
                support@domain.com
              </a>
            </div>
            <hr class="my-4 my-sm-5" />
            <h6 class="mb-4">Follow us</h6>
            <div class="mb-5 d-flex">
              <!-- Social button -->
              <a
                href="#!"
                class="d-inline-block mb-1 me-2 si rounded-pill si-hover-facebook">
                <i class="bx bxl-facebook fs-5"></i>
                <i class="bx bxl-facebook fs-5"></i>
              </a>
              <!-- Social button -->
              <a
                href="#!"
                class="d-inline-block mb-1 me-2 si rounded-pill si-hover-twitter">
                <i class="bx bxl-twitter fs-5"></i>
                <i class="bx bxl-twitter fs-5"></i>
              </a>
              <!-- Social button -->
              <a
                href="#!"
                class="d-inline-block mb-1 me-2 si rounded-pill si-hover-linkedin">
                <i class="bx bxl-linkedin fs-5"></i>
                <i class="bx bxl-linkedin fs-5"></i>
              </a>
              <!-- Social button -->
              <a
                href="#!"
                class="d-inline-block mb-1 si rounded-pill si-hover-instagram">
                <i class="bx bxl-instagram fs-5"></i>
                <i class="bx bxl-instagram fs-5"></i>
              </a>
            </div>

            <span class="d-block lh-sm small text-muted">
              © Copyright
              <script>
                document.write(new Date().getFullYear())
              </script>
              . Assan
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--end:Footer-->
