<!--Navbar items-->
<ul class="navbar-nav mx-auto">
    <li class="nav-item">
        <a class="nav-link" href="#hero">Home
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#about">About
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#work">Work
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#expertise">Expertise
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#contact">Contact
      </a>
    </li>
    <li class="nav-item ms-lg-4">
      <a class="nav-link" href="index.html">Demos
    </a>
  </li>
  </ul>