<section id="article-header" class="position-relative bg-white">
    <div class="container pt-11 pt-lg-14 pb-9 pb-lg-11 position-relative z-index-1">
        <article class="row align-items-center">
            <div class="col-lg-6 me-auto mb-7 mb-lg-0">
                <div>
                    <div class="ratio ratio-16x9">
                        <img
                            src="/assets/@@image"
                            width="620" height="347"
                            class = "rounded-4">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5">
                <div class="d-flex justify-content-between w-100">
                    <div class="badge bg-primary badge-pill px-2">@@category</div>
                </div>
                <div>
                    <h2 class="my-4 display-5">
                        @@title
                    </h2>
                    <div class="d-flex mb-0 small align-items-center">
                        <img src="/assets/img/team/@@author.photo.jpg" alt="" class="width-3x height-3x rounded-circle me-2">
                        <span class="text-muted d-inline-block">By <span
                                class="text-dark">@@author.name</span></span>
                    </div>
                    <div class="d-flex pt-2 mb-0 small align-items-center">
                        <div class="text-muted d-inline-block">@@created</div>
                        <div class="mx-2 text-muted d-inline-block"> — </div>
                        <div class="text-muted d-inline-block">@@duration minute read</div>
                    </div>
                </div>
            </div>
        </article>
        <!--/.Article header-end-->
    </div>
</section>