<section class="position-relative border-bottom">
  <div class="container pb-9 py-lg-8">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <article class="article mb-9 ss-article">
          @@include('pages/resources/blog/@@slug/content.html')
        </article>
        <!--/.article-->

        <div class="d-flex justify-content-center align-items-center">
          <div>
            <a
              href="https://www.facebook.com/share.php?u=https://www.sipstack.com/resources/blog/@@slug"
              class="d-inline-block si rounded-pill si-border ss-i-hover-primary">
              <i class="ss-i-hover-primary bx bxl-facebook fs-5"></i>
              <i class="ss-i-hover-primary bx bxl-facebook fs-5"></i>
            </a>
            <a
              href="http://twitter.com/share?url=https://www.sipstack.com/resources/blog/@@slug"
              class="d-inline-block si rounded-pill si-border ss-i-hover-primary">
              <i class="ss-i-hover-primary bx bxl-twitter fs-5"></i>
              <i class="ss-i-hover-primary bx bxl-twitter fs-5"></i>
            </a>

            <a
              href="https://www.linkedin.com/sharing/share-offsite/?url=https://www.sipstack.com/resources/blog/@@slug"
              class="d-inline-block si rounded-pill si-border ss-i-hover-primary">
              <i class="ss-i-hover-primary bx bxl-linkedin fs-5"></i>
              <i class="ss-i-hover-primary bx bxl-linkedin fs-5"></i>
            </a>

            <a
              href="mailto:?subject=Interesting article&body=https://www.sipstack.com/resources/blog/@@slug"
              class="d-inline-block si rounded-pill si-border ss-i-hover-primary">
              <i class="ss-i-hover-primary bx bx-envelope fs-5"></i>
              <i class="ss-i-hover-primary bx bx-envelope fs-5"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
