<section id="article-header" class="position-relative bg-white">
    <div class="border-bottom container pt-7 pt-lg-14 pb-7 pb-lg-7 position-relative z-index-1">
        <article class="row align-items-center">
            <div class="col-lg-6 col-xl-5">
                <div class="d-flex justify-content-between w-100">
                    <div class="badge bg-primary badge-rounded ">@@category</div>
                </div>
                <div>
                    <h2 class="mt-3 display-5">
                        @@title
                    </h2>
                    <div class="d-flex  small align-items-center text-muted lead">
                        <div class="text-muted d-inline-block">@@created</div>
                        <div class="mx-2 text-muted d-inline-block"> — </div>
                        <div class="text-muted d-inline-block">@@duration minute read</div>
                    </div>

                    <div class="d-flex mt-3 mb-0 small align-items-center">
                        <img src="/assets/img/team/@@author.photo" alt="" class="width-3x height-3x rounded-circle me-2">
                        <div>
                            <span><strong>@@author.name</strong></span>
                            <div class = "text-muted">@@author.role</span></div>
                        </div>
                    </div>
                   
                    
                </div>
            </div>
            <div class="col-lg-6 me-auto mb-7 mb-lg-0">
                <div>
                    <div class="ratio ratio-4x3 ">
                        <img
                            src="/assets/img/resources/blog/@@image" class="img-fluid rounded-4" alt="blog post banner">
                        </div>
                </div>
            </div>
            
        </article>
        <!--/.Article header-end-->
    </div>
</section>