
<section class="position-relative bg-gradient-secondary text-white z-index-1">
    <svg class="position-absolute text-white end-0 bottom-0" preserveAspectRatio="none" width="140%" height="100%" viewBox="0 0 352 352" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.1" d="M352 0C258.644 -1.11326e-06 169.111 37.0856 103.098 103.098C37.0856 169.111 8.16146e-06 258.644 0 352L352 352V0Z" fill="currentColor"/>
        <path opacity="0.1" d="M352 26.7681C265.743 26.7681 183.019 61.0335 122.026 122.026C61.0335 183.019 26.7681 265.743 26.7681 352L352 352V26.7681Z" fill="currentColor"/>
        <path opacity="0.025" d="M352 53.5361C272.842 53.5361 196.927 84.9813 140.954 140.954C84.9813 196.927 53.5361 272.842 53.5361 352L352 352V53.5361Z" fill="currentColor"/>
        </svg>
    <div class="container position-relative pt-12 pt-lg-15 pb-lg-12">
        <div class="row align-items-center pt-lg-5 pb-12">
            <div class="col-lg-10 col-xl-8 text-center text-center mx-auto position-relative z-index-1">
                    <span class="badge bg-success rounded-pill py-2 lh-sm px-4 mb-4">@@category</span>
                <p class="display-4 fw-semibold mb-4">
                    @@title
                </p>
                <div>
                    <!-- <h5 class="mb-2">
                        Carrie Blount</h5>
                    <small class="d-block"> at postmates</small> -->
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.content-->

</section>


