<section class="position-relative overflow-hidden pb-10">
  <div class="card custom-card border-1 shadow-lg">
    <div class="row">
      @@for (var i = 0; i < cols.length; i++) {
      <!--Feature Column-->
        <div class="col-md-6 col-xl-3 mb-4" data-aos="fade-up" data-aos-delay="100">
        
          <!-- icon-->
          <div class="mb-2"><i class="`+cols[i].icon+`"></i></div>
          <!--title-->
          <h4 class="mb-2 sub-title">`+cols[i].title+`</h4>
          <!--email-->
          <p class="mb-2 primary-text">
            <a href="mailto://`+cols[i].email+`">`+cols[i].email+`</a>
          </p>
          <!--text-->
          <p class="mb-3 text-muted">`+cols[i].description+`</p>
        </div>
      }
    </div>
     
  </div>
</section>
