<!--Call to action-->
<section class="position-relative @@class">
  <div class="container position-relative">
    <div class="centerText">
      <div class="position-relative">
        <!--Title-->
        <span
          class="mb-3 h4 subTitleGradient"
          data-aos="fade-up"
          data-aos-delay="100">
          @@label
        </span>

        <h3 class="display-1 bold" data-aos="fade-up" data-aos-delay="150">
          @@title
        </h3>

        <p class="mb-1 text-muted" data-aos="fade-up" data-aos-delay="200">
          @@description
        </p>

        <!--Newsletter form-->
        <div style="margin: 0 auto; max-width: 80%">
          <form
            novalidate
            class="needs-validation"
            data-aos="fade-up"
            data-aos-delay="300"
            style="justify-self: center">
            <div
              class="d-sm-flex w-md-80 w-lg-75 flex-column flex-sm-row mb-3 justify-content-center"
              style="margin: auto">
              <!--Email-->
              <input
                type="email"
                name="email"
                class="me-sm-1 mb-2 mb-sm-0 form-control form-control-lg @@input_class"
                placeholder="@@placeholder"
                required="" />

              <!--Submit-->
              <button
                type="submit"
                class="ms-sm-1 btn btn-primary btn-lg"
                style="min-width: 20%">
                <span>@@button</span>
              </button>
            </div>
          </form>
        </div>

        <!--Text-->
        @@if (demo === true){
        <p
          class="small text-muted mb-0"
          data-aos="fade-up"
          data-aos-delay="400">
          We'll never share your details. View our
          <a href="#!" class="link-hover-underline">Privacy Policy</a>
          for more info.
        </p>
        }
      </div>
    </div>
  </div>
</section>
<!--/.section Call to action end-->
