<section class="@@class">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-5 col-md-8 mx-auto">
        <div class="centerText">
          <!--text-->
          <p class="mb-1 text-muted">@@description</p>
          @@if(arrow == 'true'){
          <i class="icon-Arrow-Down2 my-3 mt-3 fontLarge"></i>
          }
          <!--Newsletter form-->
          <form class="needs-validation" novalidate>
            <div class="mt-3 mb-3">
              <input
                type="email"
                required
                class="form-control"
                placeholder="Email Address" />
              <span class="invalid-feedback">Please enter a valid email</span>
            </div>
            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-primary">@@button</button>
            </div>
          </form>
          <!--Info text-->
          <!-- <p
            class="mb-0 text-muted small"
            data-aos="fade-up"
            data-aos-delay="200">
            We'll never share your details. See our
            <a href="#!" class="border-bottom border-light">Privacy Policy</a>
          </p> -->
        </div>
      </div>
    </div>
  </div>
</section>
