<section class="position-relative overflow-hidden">
  <div class="container pt-14 pt-lg-15 pb-9">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center position-relative">
        <div class="position-relative z-index-1">
          <div class="text-danger mb-5">
            <img
              src="/assets/img/graphics/illustration/404.svg"
              class="width-18x mx-auto"
              alt="" />
          </div>
          <h1 class="display-1 mb-2">@@code</h1>
          <h2 class="mb-4">@@message</h2>
          <p class="w-lg-75 lead mx-auto mb-5">@@description</p>
          <a href="/" class="fw-semibold">
            <i class="bx bx-left-arrow-alt lh-1 fw-normal me-2"></i>
            Back to Home
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
