<section class="bg-body-tertiary position-relative py-9" id="faq">
  <!--Divider-->
  <!-- <svg class="position-absolute start-0 bottom-0 flip-x text-white" preserveAspectRatio="none"
        width="100%" height="100" viewBox="0 0 1600 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1600 0V100H0L1600 0Z" fill="currentColor" />
    </svg> -->
  <div class="text-center mb-7">
    <!--Subheading-->
    <div class="mb-3" data-aos="fade-up">
      <span class="h4 subTitleGradient">@@subTitle</span>
    </div>
    <!--Section Heading-->
    <h3 class="mb-0 display-1 bold" data-aos="fade-up" data-aos-delay="100">
      @@title
    </h3>
  </div>

  <div class="container position-relative">
    <div class="row justify-content-around">
      @@for (var i = 0; i < cols.length; i++) {
      <div class="col-12 col-md-6 col-lg-5 mb-6">
        <!--FAQ item card-->
        <div
          class="d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="200">
          <div class="me-3 me-lg-4">
            <span
              class="text-primary fs-5 d-flex width-2x height-2x rounded-2 flex-center">
              <i class="bx bx-question-mark"></i>
            </span>
            <!--/.Icon-->
          </div>
          <div>
            <h5 class="mb-3 sub-title">`+cols[i].title+`</h5>
            <p class="mb-0 text-muted small">`+cols[i].description+`</p>
          </div>
        </div>
      </div>
      }
      <!-- KEEPS TABLE ALINED WHEN ODD NUMBER OF FAQs -->
      @@if(cols.length %2 != 0){
      <div class="col-12 col-md-6 col-lg-5 mb-7"></div>
      }
    </div>
  </div>
</section>
