<section class="position-relative overflow-hidden">
  <div class="container py-9 py-lg-11 position-relative">
    <div class="row justify-content-between">
      <div class="col-md-4" data-aos="fade-right" data-aos-delay="100">
        <h2 class="mb-5 display-4">About Company</h2>
      </div>
      <div class="col-md-8 col-xl-7">
        <p class="lead" data-aos="fade-down" data-aos-delay="150">
          Post-modern suite of Telecommunication & VoIP tools. AI / ML at it's
          core, provides unprecedented meta data across the platform.
        </p>
        <p class="mb-0" data-aos="fade-up" data-aos-delay="200">
          Condimentum blandit nunc risus nulla ante maecenas suspendisse in
          penatibus rutrum ultrices varius eget turpis urna. Id elementum justo,
          egestas in aliquam turpis mi in. Aenean viverra sit massa morbi.
        </p>
      </div>
    </div>
  </div>
</section>
