<section class="position-relative overflow-hidden bg-light">
  <div class="container py-9 py-lg-11 position-relative z-index-1">
    <div class="row position-relative mb-7 align-items-end">
      <div class="col-12 col-md-8 mb-4 mb-md-0">
        <div
          class="position-relative"
          data-aos="fade-left"
          data-aos-duration="400">
          <!-- <h3 class="display-3 mb-0">Recent Posts</h3> -->
          <h6 class="display-7">Recent Posts</h6>
        </div>
      </div>

      <div
        class="col-md-4 text-md-end"
        data-aos="fade-right"
        data-aos-duration="400">
        <a
          href="/resources/blog"
          class="btn btn-rise btn-outline-primary flex-center p-0 rounded-circle width-10x height-10x">
          <div class="btn-rise-bg bg-primary"></div>
          <div class="btn-rise-text small">Blog</div>
        </a>
      </div>
    </div>
    <div class="position-relative">
      <div class="row position-relative z-index-1">
        @@for (var i = 0; i < posts.length; i++) {
        <div
          class="col-lg-4 `+posts[i].category+`"
          data-aos="fade-up"
          data-aos-duration="400">
          <!--Article-->

          <article class="card-hover hover-lift">
            <div class="position-relative rounded-3 overflow-hidden">
              <img
                src="`+posts[i].image+`"
                class="img-fluid img-zoom w-100 h-100 lazy"
                alt="`+posts[i].title+`"
                style="max-height: 200px; object-fit: cover" />
            </div>
            <div class="pt-4">
              <h4 class="link-multiline ss-blog-truncate-1">
                `+posts[i].title+`
              </h4>
              <p class="small fs-7 text-muted pt-3 ss-blog-truncate-2">
                `+posts[i].description+`
              </p>

              <div class="pt-3 d-flex align-items-center mb-5">
                <div class="avatar-group">
                  <div
                    class="avatar-group-item avatar rounded-circle overflow-hidden">
                    <img
                      src="`+posts[i].author.photo+`"
                      alt="`+posts[i].author.name+`"
                      class="img-fluid" />
                  </div>
                </div>

                <div class="small text-muted" style="margin-left: 1.5rem">
                  <div>
                    <span>Written by</span>
                    <span class="text-primary">`+posts[i].author.name+`</span>
                    <br />
                    <small class="text-muted">`+posts[i].created+`</small>
                  </div>
                </div>
                <div
                  class="small text-muted"
                  style="margin-left: auto; margin-right: 0">
                  <small
                    class="mb-1 text-primary badge bg-white border badge-pill">
                    `+posts[i].category+`
                  </small>
                </div>
              </div>
            </div>

            <a
              href="/resources/blog/`+posts[i].slug+`"
              class="stretched-link"></a>
          </article>
        </div>
        }
      </div>
    </div>
    <!-- <div class="position-relative">
      <div class="row position-relative z-index-1">
        <div
          class="col-lg-4"
          data-aos="fade-up"
          data-aos-duration="400"
          data-aos-delay="150">
          <article class="card-hover hover-lift">
            <div class="position-relative rounded-3 overflow-hidden">
              <img
                src="/assets/img/960x640/5.jpg"
                class="img-fluid img-zoom"
                alt="" />
            </div>
            <div class="pt-4">
              <h4 class="link-multiline">Digital design trends in 2021</h4>
              <p class="mb-0 pt-3 text-muted small">21 April</p>
            </div>
            <a href="#" class="stretched-link"></a>
          </article>
        </div>
      </div>
    </div> -->
  </div>
</section>
