<section class="position-relative py-3 @@class" @@if (id) {id="@@id" }>
  <div class="container position-relative">
    <div class="text-center mt-9">
      <!--Subheading-->
      <div class="mb-3">
        <span class="h4 subTitleGradient">@@title</span>
      </div>
      <!--Section Heading-->
      <h6 class="display-7">@@description</h6>
      @@if (extra != ''){
      <div class="mb-3 px-15">
        <span class="text-muted">@@extra</span>
      </div>
      }
    </div>
  </div>
</section>
