<section class="position-relative overflow-hidden bg-light">
  <div class="container py-9 py-lg-11 position-relative z-index-1">
    <div class="row position-relative mb-7 align-items-end">
      <div class="col-12 col-md-8 mb-4 mb-md-0">
        <div
          class="position-relative"
          data-aos="fade-left"
          data-aos-duration="400">
          <h3 class="display-3 mb-0">Recent Posts</h3>
        </div>
      </div>

      <div
        class="col-md-4 text-md-end"
        data-aos="fade-right"
        data-aos-duration="400">
        <a
          href="/resources/blog"
          class="btn btn-rise btn-outline-primary flex-center p-0 rounded-circle width-10x height-10x">
          <div class="btn-rise-bg bg-primary"></div>
          <div class="btn-rise-text small">Blog</div>
        </a>
      </div>
    </div>

    <div class="position-relative">
      <div class="row position-relative z-index-1">
        <div
          class="col-lg-4 mb-4 mb-lg-0"
          data-aos="fade-up"
          data-aos-duration="400">
          <!--Article-->
          <article class="card-hover hover-lift">
            <div class="position-relative rounded-3 overflow-hidden">
              <img
                src="assets/img/960x640/3.jpg"
                class="img-fluid img-zoom"
                alt="" />
            </div>
            <div class="pt-4">
              <h4 class="link-multiline">
                The recipe for excellent design management
              </h4>
              <p class="mb-0 pt-3 text-muted small">02 May</p>
            </div>

            <!--Post link-->
            <a href="#" class="stretched-link"></a>
          </article>
        </div>
        <div
          class="col-lg-4 mb-4 mb-lg-0"
          data-aos="fade-up"
          data-aos-duration="400"
          data-aos-delay="100">
          <!--Article-->
          <article class="card-hover hover-lift">
            <div class="position-relative rounded-3 overflow-hidden">
              <img
                src="assets/img/960x640/4.jpg"
                class="img-fluid img-zoom"
                alt="" />
            </div>
            <div class="pt-4">
              <h4 class="link-multiline">
                How to use social media to invent or reinvent yourself
              </h4>
              <p class="mb-0 pt-3 text-muted small">01 May</p>
            </div>
            <!--Post link-->
            <a href="#" class="stretched-link"></a>
          </article>
        </div>
        <div
          class="col-lg-4"
          data-aos="fade-up"
          data-aos-duration="400"
          data-aos-delay="150">
          <!--Article-->
          <article class="card-hover hover-lift">
            <div class="position-relative rounded-3 overflow-hidden">
              <img
                src="assets/img/960x640/5.jpg"
                class="img-fluid img-zoom"
                alt="" />
            </div>
            <div class="pt-4">
              <h4 class="link-multiline">Digital design trends in 2021</h4>
              <p class="mb-0 pt-3 text-muted small">21 April</p>
            </div>

            <!--Post link-->
            <a href="#" class="stretched-link"></a>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
