<section class="position-relative overflow-hidden">
  <div class="container py-9 py-lg-11">
    <div class="row mb-9 mb-lg-11 align-items-end">
      <div class="col-lg-9 col-xl-8 mb-5 mb-lg-0">
        <!--Subtitle-->
        <h6 class="mb-3 text-muted">Who we are</h6>

        <!--title-->
        <h2 class="display-4 mb-0" data-aos="fade-left" data-aos-duration="400">
          We are dedicated to making the world a better place.
        </h2>
      </div>

      <!--Video popup-->
      <div class="col-xl-4 col-lg-3">
        <div class="d-flex align-items-center">
          <!--Video button-->
          <a
            href="https://vimeo.com/353105087"
            data-glightbox
            data-gallery="03"
            class="btn btn-primary ms-lg-auto me-3 btn-circle-ripple width-8x height-8x rounded-circle d-flex justify-content-center align-items-center">
            <i class="bx bx-play fs-1"></i>
          </a>
          <small>Watch our story</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-4 mb-5 mb-md-0"
        data-aos="fade-right"
        data-aos-delay="100"
        data-aos-duration="400">
        <img
          onload="SVGInject(this)"
          src="/assets/img/graphics/icons/hand-shake.svg"
          class="width-7x mb-5 h-auto fill-primary"
          alt="" />
        <h5 class="mb-3">Relationships</h5>
        <p class="mb-0">
          Lorem ipsum is placeholder text commonly used in the graphic, print,
          and publishing industries layouts and visual mockups.
        </p>
      </div>
      <div
        class="col-md-4 mb-5 mb-md-0"
        data-aos="fade-right"
        data-aos-delay="150"
        data-aos-duration="400">
        <img
          onload="SVGInject(this)"
          src="/assets/img/graphics/icons/target.svg"
          class="width-7x mb-5 h-auto fill-success"
          alt="" />
        <h5 class="mb-3">Mission & vision</h5>
        <p class="mb-0">
          Lorem ipsum is placeholder text commonly used in the graphic, print,
          and publishing industries layouts and visual mockups.
        </p>
      </div>
      <div
        class="col-md-4"
        data-aos="fade-right"
        data-aos-delay="200"
        data-aos-duration="400">
        <img
          onload="SVGInject(this)"
          src="/assets/img/graphics/icons/magic-wand.svg"
          class="width-7x mb-5 h-auto fill-danger"
          alt="" />
        <h5 class="mb-3">Best results</h5>
        <p class="mb-0">
          Lorem ipsum is placeholder text commonly used in the graphic, print,
          and publishing industries layouts and visual mockups.
        </p>
      </div>
    </div>
  </div>
</section>
