<section class="position-relative bg-body-tertiary overflow-hidden" @@attr>
  <div class="container py-lg-11 py-9">
    <div class="row align-items-center">
      <div class="col-lg-5 mb-7 mb-lg-0">
        <!--Feature heading-->
        <h6 class="text-primary" data-aos="fade-up">SIPSTACK</h6>
        <h2 class="display-4 mb-0" data-aos="fade-up" data-aos-delay="100">
          Smart Telecom Tools
        </h2>
        <h2 class="display-4 mb-4 text-primary" data-aos="fade-up">
          AI/ML Powered
        </h2>
        <!--feature description-->
        <p class="mb-5" data-aos="fade-up" data-aos-delay="200">
          Post-modern suite of Telecommunication & VoIP tools. AI/ML provides
          unprecedented metadata across the platform.
        </p>

        <!--Feature buttons-->
        <div
          class="d-flex flex-column flex-md-row align-items-md-center"
          data-aos="fade-up">
          <span class="me-md-4 mb-3 mb-md-0">
            <a
              href="https://partner.sipstack.com/signup"
              class="btn btn-primary">
              Get Started
            </a>
          </span>
          <span class="me-md-4 mb-3 mb-md-0">
            <a href="https://www2.sipstack.com/r/wNx" class="btn btn-outline">
              Book Demo
            </a>
          </span>
          <!-- <span>
            Or call us
            <strong>(123) 123-4567</strong>
          </span> -->
        </div>
      </div>
      <div class="col-lg-6 ms-auto">
        <div
          class="position-relative pe-7 pb-7"
          data-aos="fade-up"
          data-aos-delay="100">
          <!--parallax-->
          <!-- <div
            class="width-15x height-15x bg-warning rounded-pill position-absolute end-0 top-0 mt-7 rellax"
            data-rellax-speed="2"
            data-rellax-percentage=".9"></div> -->

          <!--Image-->
          <div class="">
            <!-- <img
              src="/assets/img/960x900/2.jpg"
              alt=""
              class="mask-image mask-blob-3" /> -->
            <img
              src="/assets/img/console/dashboard.jpeg"
              alt=""
              class="mask-image rounded-3 shadow-lg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
