<section class="overflow-hidden bg-light position-relative">
  <div class="container position-relative py-9 py-lg-9">
    <div class="row justify-content-between">
      @@for (var i = 0; i < cards.length; i++) {
      <div class="col-md-4 mb-5 mb-md-0">
        <!--Topic item-->
        <a
          class="px-3 py-4 mb-3 border bg-white hover-shadow-lg rounded-3 hover-lift d-flex text-body"
          href="`+cards[i].link+`">
          <div class="me-3 text-muted">
            <i class="`+cards[i].icon+` fs-4"></i>
          </div>
          <div class="flex-grow-1">
            <!--article-title-->
            <h5 class="text-reset">`+cards[i].title+`</h5>
            <!--article-desc-->
            <p class="small text-muted">`+cards[i].description+`</p>
            <!--article-footer-->
          </div>
        </a>
      </div>
      }
    </div>
  </div>
</section>
