<section class="position-relative bg-light" id="@@id">
  <div class="container py-3 pt-11 pt-lg-11 position-relative">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 mb-3 mb-lg-3 text-center">
        <!--Subheading-->
        <span class="mb-3 h4 subTitleGradient">@@label</span>

        <!--Section Heading-->
        <h3 class="mb-3 display-6">@@title</h3>

        @@if(description){
        <!-- Description -->
        <p class="mb-3 text-center text-muted">@@description</p>
        } @@if (button1.label){
        <div>
          <a href="@@button1.link" class="btn btn-primary">@@button1.label</a>
          @@if (button2.label){
          <a href="@@button2.link" class="btn btn-link text-secondary">
            @@button2.label
          </a>
          }
        </div>
        }
      </div>
    </div>
  </div>
</section>
