<section
  class="text-white position-relative ss-custom-page-header"
  style="
    background-color: #f5f6fa;
    background-image: url('/assets/img/hero-shape-ss-k.svg');
    background-repeat: no-repeat;
  ">
  <div class="container py-9 py-lg-11 position-relative z-index-1">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7 text-center mx-auto">
        <h2 class="subTitleGradient mb-4 display-4" data-aos="fade-up">
          @@title
        </h2>
        <p
          class="mb-5 px-lg-5 text-secondary"
          data-aos="fade-up"
          data-aos-delay="100">
          @@description
        </p>
        <div data-aos="fade-up">
          <a href="@@button1.link" class="btn btn-primary">@@button1.label</a>
          @@if (button2.label){
          <a href="@@button2.link" class="btn btn-outline-secondary">
            @@button2.label
          </a>
          }
        </div>
      </div>
      <!--End Col-->
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
