<section class="position-relative bg-light" id="@@id">
  <div class="container py-3 pt-lg-11 position-relative">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 mb-3 mb-lg-3 centerText">
        <!--Subheading-->
        <div class="mb-2">
          <span class="h6 text-primary">@@label</span>
        </div>
        <!--Section Heading-->
        <h3 class="mb-3 display-6">@@title</h3>

        @@if(description){
        <!-- Description -->
        <p class="mb-3 centerText text-muted">@@description</p>
        }
      </div>
    </div>
  </div>
</section>
