<section class="position-relative bg-light">
  <div class="container position-relative py-3 pb-lg-3">
    <div class="row">
      <div class="col-md-10 col-xl-7 mx-auto text-center">
        <form>
          <div
            class="align-items-center position-relative z-index-2 autocomplete">
            <input
              type="text"
              class="form-control form-control-lg border-0 pe-8 py-3 shadow-xl rounded-pill"
              id="ss-search"
              placeholder="@@placeholder"
              aria-label="Search by topics"
              aria-describedby="basic-addon2" />

            <!--Searchable Select Box-->

            <!-- <select
              class="form-control form-control-lg border-0 pe-8 py-3 shadow-xl rounded-pill"
              data-choices='{"searchEnabled":true, "allowHTML":true,"itemSelectText":""}'
              aria-label="Search by topics"
              aria-describedby="basic-addon2">
              <option value="" disabled>Country</option>
              <option value="Usa"></option>
              <option value="Uk">Uk</option>
              <option value="India">India</option>
              <option value="France">France</option>
              <option value="Japan">Japan</option>
              <option value="Ukrain">Ukrain</option>
              <option value="Poland">Poland</option>
              <option value="Kenya">Kenya</option>
              <option value="Sweden">Sweden</option>
              <option value="Germany">Germany</option>
            </select> -->

            <button
              role="button"
              type="button"
              class="btn rounded-circle p-0 width-6x h-100 position-absolute end-0 top-50 translate-middle-y"
              id="basic-addon2">
              <i class="bx bx-search fs-4"></i>
            </button>
          </div>
        </form>
        <div
          class="d-flex justify-content-center align-items-center flex-wrap pt-4">
          <div class="me-3 mb-2 small text-muted">Popular topics</div>
          @@for (var i = 0; i < topics.length; i++) {
          <a href="#!" class="badge bg-white text-dark rounded-pill me-2 mb-2">
            `+topics[i]+`
          </a>
          }
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>
</section>
<script>
  var countries = ['API', 'Robocall mitigation', 'STIR/SHAKEN']
</script>
