<section class="position-relative bg-dark overflow-hidden">
  <!-- Swiper Main -->
  <div class="swiper-container swiper-classic">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        data-swiper-autoplay="6000"
        style="background-image: url('assets/img/backgrounds/bg-telecom6.jpg')">
        <!--Overlay-->
        <div
          class="bg-dark position-absolute start-0 top-0 w-100 h-100 opacity-75"></div>
        <div class="container-fluid text-white d-flex align-items-center h-100">
          <div class="row w-100">
            <div class="col-xl-8 col-lg-10 mx-auto text-center">
              <ul class="carousel-layers list-unstyled mb-0">
                <li data-carousel-layer="fade-start">
                  <h2 class="display-2 mb-4 mb-lg-7">
                    Smart Telecom Tools
                    <br />
                    <span class="text-primary">AI/ML Powered</span>
                  </h2>
                </li>
                <li data-carousel-layer="fade-start">
                  <a href="#intro" class="btn btn-white btn-lg">Learn More</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div
        class="swiper-slide"
        data-swiper-autoplay="6000"
        style="background-image: url('assets/img/backgrounds/robo5.jpg')">
        <!--Overlay-->
        <div
          class="bg-dark position-absolute start-0 top-0 w-100 h-100 opacity-75"></div>
        <div class="container-fluid text-white d-flex align-items-center h-100">
          <div class="row w-100">
            <div class="col-xl-8 col-lg-10 mx-auto text-center">
              <ul class="carousel-layers list-unstyled mb-0">
                <li data-carousel-layer="fade-start">
                  <h2 class="display-2 mb-4 mb-lg-7">
                    Helping telecom providers with
                    <span class="position-relative d-inline-block">
                      regulatory compliance
                      <svg
                        class="position-absolute start-0 bottom-0 text-warning z-index-n1"
                        preserveAspectRatio="none"
                        width="100%"
                        height="6"
                        viewBox="0 0 63 4"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M0.119995 2.79013C0.119995 2.79013 26.91 -0.589865 62.82 1.93013"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </span>
                  </h2>
                </li>
                <li data-carousel-layer="fade-start" data-aos-delay="100">
                  <a href="/product/sip-free" class="btn btn-white btn-lg">
                    STIR/SHAKEN
                  </a>
                  <a href="/product/smart-cnam" class="btn btn-primary btn-lg">
                    Robocall Mitigation
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div
        class="swiper-slide"
        data-swiper-autoplay="6000"
        style="background-image: url('assets/img/backgrounds/bg7.jpg')">
        <!--Overlay-->
        <div
          class="bg-dark position-absolute start-0 top-0 w-100 h-100 opacity-75"></div>
        <div class="container-fluid text-white d-flex align-items-center h-100">
          <div class="row w-100">
            <div class="col-xl-8 col-lg-10 mx-auto text-center">
              <ul class="carousel-layers list-unstyled mb-0">
                <li data-carousel-layer="fade-start">
                  <h2 class="display-2 mb-4 mb-lg-7">
                    Restoring customer
                    <span class="position-relative d-inline-block">
                      Trust
                      <svg
                        class="position-absolute start-0 bottom-0 text-warning z-index-n1"
                        preserveAspectRatio="none"
                        width="100%"
                        height="6"
                        viewBox="0 0 63 4"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M0.119995 2.79013C0.119995 2.79013 26.91 -0.589865 62.82 1.93013"
                          stroke="currentColor"
                          stroke-width="2"></path>
                      </svg>
                    </span>
                    <br />
                    begins at the
                    <span class="text-primary">phone number</span>
                  </h2>
                </li>
                <li data-carousel-layer="fade-start">
                  <a href="/product/whois" class="btn btn-white btn-lg">
                    Learn More
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End swiper-main-->

  <!--Swiper thumbnails-->
  <div
    class="progress-swiper-thumbs pb-3 pb-lg-5 position-absolute start-0 bottom-0 w-100 overflow-hidden text-white px-4 swiper-container">
    <div class="swiper-wrapper">
      <!-- Slide -->
      <div class="swiper-slide swiper-pagination-progress">
        <div class="swiper-pagination-progress-bar mb-2">
          <div
            class="swiper-pagination-progress-inner swiper-pagination-progress-bar-inner"></div>
        </div>
        <span class="small d-block text-truncate">Smart Telecom Tools</span>
      </div>
      <!-- End Slide -->

      <!-- Slide -->
      <div class="swiper-slide swiper-pagination-progress">
        <div class="swiper-pagination-progress-bar mb-2">
          <div
            class="swiper-pagination-progress-inner swiper-pagination-progress-bar-inner"></div>
        </div>
        <span class="small d-block text-truncate">Regulatory Compliance</span>
      </div>
      <!-- End Slide -->

      <!-- Slide -->
      <div class="swiper-slide swiper-pagination-progress">
        <div class="swiper-pagination-progress-bar mb-2">
          <div
            class="swiper-pagination-progress-inner swiper-pagination-progress-bar-inner"></div>
        </div>
        <span class="small d-block text-truncate">New Era of Trust</span>
      </div>
      <!-- End Slide -->
    </div>
  </div>
  <!-- End Swiper Thumbs Slider -->
</section>
<!--/end:Hero section-->
<script>
  window.addEventListener('load', function () {
    //Main Hero Slider
    var sliderThumbs = new Swiper('.progress-swiper-thumbs', {
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
      history: false,
      breakpoints: {
        480: {
          slidesPerView: 2,
          spaceBetween: 16,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 16,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 16,
        },
      },
      on: {
        afterInit: function (swiper) {
          swiper.el
            .querySelectorAll('.swiper-pagination-progress-inner')
            .forEach(
              ($progress) =>
                ($progress.style.transitionDuration = `${swiper.params.autoplay.delay}ms`)
            )
        },
      },
    })
    var swiperClassic = new Swiper('.swiper-classic', {
      slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      grabCursor: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: true,
      },
      effect: 'creative',
      creativeEffect: {
        prev: {
          shadow: true,
          translate: ['-20%', 0, -1],
        },
        next: {
          translate: ['100%', 0, 0],
        },
      },
      thumbs: {
        swiper: sliderThumbs,
      },
    })
  })
</script>
