<section class="position-sticky bottom-0 shadow border-top">
  <div class="container py-4">
    <div class="row align-items-center justify-content-center">
      <div class="col-7 col-md-5">
        <a
          href="https://www2.sipstack.com/jobs/apply/@@job_id"
          target="_blank"
          class="btn btn-primary">
          Apply Now
        </a>
      </div>
      <div class="col-5 col-md-auto">
        <ul class="list-unstyled d-flex mb-0 align-items-center">
          <li class="small text-muted d-none d-lg-block me-3">
            Share this job:
          </li>
          <li class="list-inline-item mr-0">
            <a
              href="https://www.facebook.com/share.php?u=https://www.sipstack.com/jobs/@@slug"
              class="text-muted me-2">
              <i class="bx bxl-facebook fs-4"></i>
            </a>
            <a
              href="https://twitter.com/share?url=https://www.sipstack.com/jobs/@@slug"
              class="text-muted me-2">
              <i class="bx bxl-twitter fs-4"></i>
            </a>
            <a
              href="https://www.linkedin.com/sharing/share-offsite/?url=https://www.sipstack.com/jobs/@@slug"
              class="text-muted me-2">
              <i class="bx bxl-linkedin fs-4"></i>
            </a>
            <a
              href="mailto:?subject=Interesting job&body=https://www.sipstack.com/jobs/@@slug"
              class="text-muted me-2">
              <i class="bx bx-envelope fs-4"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
