<section class="position-sticky bottom-0 shadow bg-white">
    <div class="container py-4">
     <div class="row align-items-center justify-content-center">
         <div class="col-7 col-md-5"> <a href="@@buttonLink"  class="btn btn-primary">Apply
                 Now</a>
         </div>
         <div class="col-5 col-md-auto">
             <ul class="list-unstyled d-flex mb-0 align-items-center">
 
                 <li class="small text-muted d-none d-lg-block me-3">
                     Share this posting
                 </li>
                 <li class="list-inline-item mr-0">
                     <a href="@@facebook" class="text-muted me-3">
                        <i class="bx bxl-facebook fs-4"></i>
                     </a>
                     <!--/.brand-a-->
                     <a href="@@linkedin" class="text-muted me-3">
                         <i class="bx bxl-linkedin fs-4"></i>
                      </a>
                     <!--/.brand-a-->
                     <a href="@@twitter" class="text-muted p-0">
                         <i class="bx bxl-twitter fs-4"></i>
                      </a>
                     <!--/.brand-a-->
                 </li>
             </ul>
         </div>
     </div>
    </div>
 </section>