<section class="position-relative bg-primary">
  <div class="container py-9 py-lg-11">
    <div class="row align-items-center">
      <div class="col-xl-3 col-md-8 mb-5 mb-md-0">
        <h3 class="text-white">Other helpful topics</h3>
      </div>
      <div class="col-md-4 col-xl-3 mb-4 mb-md-0">
        <a
          href="#!"
          class="card card-body py-lg-7 py-5 px-4 h-100 border-0 rounded-3 bg-white hover-shadow-lg hover-lift overflow-hidden">
          <div class="position-relative">
            <!--Icon-->
            <img
              src="/assets/img/graphics/icons/help.svg"
              data-inject-svg
              class="img-fluid width-5x h-auto mb-5 fill-primary" />
            <!--Content-->
            <h5 class="mb-3 text-body">Updates & support</h5>
            <p class="mb-0 text-secondary">
              Lorem ipsum is placeholder text commonly used in the graphic,
              print, and publishing.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-xl-3 mb-4 mb-md-0">
        <a
          href="#!"
          class="card card-body py-lg-7 py-5 px-4 h-100 border-0 rounded-3 bg-white hover-shadow-lg hover-lift overflow-hidden">
          <div class="position-relative">
            <!--Icon-->
            <img
              src="/assets/img/graphics/icons/check-list.svg"
              data-inject-svg
              class="img-fluid width-5x h-auto mb-5 fill-success" />
            <!--Content-->
            <h5 class="mb-3 text-body">Documentation</h5>
            <p class="mb-0 text-secondary">
              Lorem ipsum is placeholder text commonly used in the graphic,
              print, and publishing.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-xl-3">
        <a
          href="#!"
          class="card card-body py-lg-7 py-5 px-4 h-100 border-0 rounded-3 bg-white hover-shadow-lg hover-lift overflow-hidden">
          <div class="position-relative">
            <!--Icon-->
            <img
              src="/assets/img/graphics/icons/mail.svg"
              data-inject-svg
              class="img-fluid width-5x h-auto mb-5 fill-danger" />
            <!--Content-->
            <h5 class="mb-3 text-body">Email support</h5>
            <p class="text-secondary mb-0">
              Lorem ipsum is placeholder text commonly used in the graphic,
              print, and publishing.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
