<section class="position-relative bg-white overflow-hidden">
    <!--content-->
    <div class="container custom-container">
        <img src="@@backgroundImg" alt="Background image" class="success-story-img">
        <div class ="divOverlay">
            <div class="right">
                <img src = "@@featureImg" style = "max-width: 100%; margin-top: 10%;
                margin-bottom: auto;">
            </div>

            <div class = 'left'>
                <span class="success-stories-font fontWhite">@@header</span>

                <p class = 'fontLarge fontWhite'>@@title</p>

                <p class = "success-stories-text fontWhite">@@description</p>

                 
 <a href="@@link" class="link-underline text-dark fw-bold fs-6 " style = "color: white !important;">
    @@button<i class=" fontWhite bx bx-right-arrow-alt ms-1 fs-4"></i>
 </a>              

            </div>
        </div>
    </div>
</section>
