<section class="position-relative bg-white overflow-hidden">
  <img
    src="/assets/img/vectors/worldmap-light.svg"
    class="w-100 h-auto position-absolute start-0 top-0 opacity-25"
    alt="" />
  <!--content-->
  <div class="container py-9 position-relative">
    <div class="row mb-7 mb-lg-5 align-items-center">
      <div style="padding-left: 2%">
        <!--Section Heading-->
        <h3 class="mb-0 display-1 bold" data-aos="fade-up" data-aos-delay="100">
          @@title
        </h3>
        <!-- Description-->
        <div data-aos="fade-up" data-aos-delay="200">
          <span class="text-muted">@@description</span>
        </div>
      </div>
    </div>

    <div class="row">
      @@for (var i = 0; i < cols.length; i++) {
      <!--Feature Column-->
      <div
        class="col-md-6 col-xl-3 mb-4"
        data-aos="fade-up"
        data-aos-delay="100">
        <!--Card-->
        <div class="p-3">
          <!--Feature title-->
          <h4 class="mb-1 sub-title">`+cols[i].title+`</h4>
          <!--text-->
          <p class="text-muted">`+cols[i].description+`</p>
        </div>
      </div>
      }
    </div>
    <div class="row border-top pt-3" data-aos="fade-up" data-aos-delay="400">
      @@for (var i = 0; i < cols2.length; i++) {
      <div class="col-md-4 mb-3 mb-md-0 text-center">
        <h5 class="mb-3">
          <span
            data-countup='{"startVal": 0,"suffix":"`+cols2[i].suffix+`"}'
            data-to="`+cols2[i].count_to+`"
            data-aos=""
            data-aos-id="countup:in"
            class="display-4 text-primary"></span>
        </h5>
        <h6 class="small text-muted">`+cols2[i].title+`</h6>
        <p class="mb-0">`+cols2[i].description+`</p>
      </div>
      }
    </div>
  </div>
</section>
