<section class="overflow-hidden position-relative">
  <div class="position-absolute start-0 top-0 w-100 h-100 bg-light"></div>
  <div class="container py-9 py-lg-11 position-relative z-index-1">
    <div class="row mb-7 mb-lg-9">
      <div class="col-12" data-aos="fade-left" data-aos-delay="100">
        <h2 class="mb-0 display-4">A brief History</h2>
      </div>
    </div>
    <div class="swiper-history swiper-container overflow-visible">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div>
            <div class="pe-5 pb-3 pe-lg-7">
              <p class="text-muted">At Present</p>
              <h2 class="text-primary display-5">2023</h2>
            </div>
            <div
              class="swiper-divider-line bg-primary position-relative w-100 my-4"></div>
            <div class="pe-7 pt-3 pe-lg-7">
              <h5>Making Compliance Easy</h5>
              <p>
                SIPSTACK has been helping hundreds of licened providers comply
                with regulatory compliance. Complying has become as easy as plug
                & play.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div>
            <div class="pe-5 pb-3 pe-lg-7">
              <p class="text-muted">June</p>

              <h2 class="text-primary text-opacity-75 display-5">2022</h2>
            </div>
            <div
              class="swiper-divider-line bg-primary bg-opacity-75 position-relative w-100 my-4"></div>
            <div class="pe-7 pt-3 pe-lg-7">
              <h5>Announced Whois by SIPSTACK</h5>
              <p>
                Lorem ipsum is text commonly used in the graphic, print, and
                publishing industries for previewing layouts and visual mockups.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <div class="pe-5 pb-3 pe-lg-7">
              <p class="text-muted">June</p>

              <h2 class="text-primary text-opacity-75 display-5">2021</h2>
            </div>

            <div
              class="swiper-divider-line bg-primary bg-opacity-50 position-relative w-100 my-4"></div>

            <div class="pe-7 pt-3 pe-lg-7">
              <h5>Announced SIPSTACK UC is going open source</h5>
              <p>
                Lorem ipsum is text commonly used in the graphic, print, and
                publishing industries for previewing layouts and visual mockups.
              </p>
            </div>
          </div>
        </div>
        <!--Slide-->
        <div class="swiper-slide">
          <div>
            <div class="pe-5 pb-3 pe-lg-7">
              <!--Time-->
              <p class="text-muted">July</p>
              <!--Year-->
              <h2 class="text-primary text-opacity-50 display-5">2020</h2>
            </div>
            <!--Divider line-->
            <div
              class="swiper-divider-line bg-primary bg-opacity-25 position-relative w-100 my-4"></div>
            <!--Text-->
            <div class="pe-7 pt-3 pe-lg-7">
              <h5>Changed the hosted PBX game</h5>
              <p>
                Lorem ipsum is text commonly used in the graphic, print, and
                publishing industries for previewing layouts and visual mockups.
              </p>
            </div>
          </div>
        </div>
        <!--Slide-->
        <div class="swiper-slide">
          <div>
            <div class="pe-5 pb-3 pe-lg-7">
              <!--Time-->
              <p class="text-muted">August</p>
              <!--Year-->
              <h2 class="text-primary text-opacity-25 display-5">2016</h2>
            </div>
            <!--Divider line-->
            <div class="swiper-divider-line position-relative w-100 my-4"></div>
            <!--Text-->
            <div class="pe-7 pt-3 pe-lg-7">
              <h5>Launched SIPSTACK</h5>
              <p>
                Lorem ipsum is text commonly used in the graphic, print, and
                publishing industries for previewing layouts and visual mockups.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
