<!-- prettier-ignore -->
@@include('components/sections/contact.info.html',{
    cols:
        [
            {
                title: 'Sales', 
                description: 'To reach our sales team for new accounts or questions on pricing.',
                icon: 'icon-Handshake',
                email:'sales@sipstack.com',
            },

            {
                title: 'Support',
                description: 'Existing customers can contact support by email or via the Partner Portal.',
                icon: 'icon-Girl',
                email:'support@sipstack.com',
            },

            {   
                title: 'Billing',
                description: 'For existing customers with questions regarding invoices and payments.',
                icon: 'icon-Billing',
                email: 'billing@sipstack.com'
            },
            {   
                title: 'Investor Relations',
                description: 'For new groups interested in investing into SIPSTACK and our global future.',
                icon: 'icon-Token-',
                email: 'invest@sipstack.com',
            },
        ],
})
