// GENERAL
a {
	color: #0fac81;
}

// Bootstrap Icons
.bi {
	margin-right: 17.5px;
	color: #0fac81;
}

.ss-logo {
    max-width: 200px;
    
}
.ss-green {
    color: #5fb48b !important;
    &-background {
        background-color: #5fb48b !important
    }
}

.landing-img {
    max-height: 620px;
}

.h_map li:hover {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.flex {
    display: flex;
    &-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
	&-top-center {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
    &-column {
		display: flex;
		flex-direction: column;
	}
    &-space-between {
		display: flex;
		justify-content: space-between;
    }
}

// Pricing
.plans-container {
	width: 90vw;
}

.col-lg-3 {
	margin: 10px 0 10px 0;
}

.expansion-price {
	color: #0fac81;
	font-size: 26px;
}

#benefits-table {
	max-width: 800px;
}

// Sign Up
.btn_three {
	background: #0fac81 !important;
	border: none;
	color: white;
	&:hover {
		background: #0e9873 !important;
	}
}

// Legal
#legal {
	&-text-container {
		margin: 20px;
		max-height: 550px;
		overflow: scroll;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
	&-options-container {
		@extend .flex-column, .flex-space-between;
		margin: 20px;
		font-size: 17px;
		height: 200px;
		background: #fafafa;
		padding: 30px;
	}
}

// Logo Animation
.la {
	&-container {
		position: relative;
		width: 93.75px;
		height: 125px;
		transition: transform 0.8s;
        transform: translate(0, -20px);
        margin: 0 40px 20px 0;
		&-trans {
			transform: translate(0, 20px);
		}
	}
	&-block {
		position: absolute;
		background: #0fac81;
		min-height: 10%;
		border-radius: 6px;
		transition: transform 1.55s, opacity 0.75s;
		transform: rotate(-90deg);
		opacity: 0;
		&-1 {
			@extend .la-block;
			bottom: 0;
			left: 0;
			min-width: 50%;
		}
		&-2 {
			@extend .la-block;
			bottom: 15.5%;
			right: 1%;
			min-width: 65%;
		}
		&-3 {
			@extend .la-block;
			bottom: 22.5%;
			left: -10.5%;
			min-width: 90%;
		}
		&-4 {
			@extend .la-block;
			bottom: 45%;
			right: 0%;
			min-width: 70%;
		}
		&-5 {
			@extend .la-block;
			bottom: 30.5%;
			left: -32%;
			min-width: 65%;
		}
		&-6 {
			@extend .la-block;
			bottom: 52.5%;
			right: 16.5%;
			min-width: 98%;
			border-radius: 15px !important
		}
		&-7 {
			@extend .la-block;
			top: 15%;
			right: 32%;
			min-width: 50%;
		}
		&-8 {
			@extend .la-block;
			top: 30%;
			right: 65%;
			min-width: 65%;
		}
		&-trans {
			&-0 {
				transform: rotate(0deg);
				opacity: 1;
			}
			&-45 {
				transform: rotate(45deg);
				opacity: 1;
			}
			&-n45 {
				transform: rotate(-45deg);
				opacity: 1;
			}
		}
	}
}