.navbar-brand {
  margin-right: -40px;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #35bb8a;
  --bs-btn-border-color: #35bb8a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1bab80;
  --bs-btn-hover-border-color: #1aa179;
  --bs-btn-focus-shadow-rgb: 65, 209, 167;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1aa179;
  --bs-btn-active-border-color: #189771;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(13, 15, 12, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #35bb8a;
  --bs-btn-disabled-border-color: #35bb8a;
}

.centerText {
  text-align: center;
}

.subTitleGradient {
  background: -webkit-linear-gradient(45deg, #35bb8a, #064f34);
  font-weight: 510;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}
.blackText{
  color: black;
  font-weight: lighter;
}
.bold{
  font-weight: 550;
  font-size: xx-large;
  
}
.whiteButton{
  background-color: white;
  border-color: lightgray;
  color: black;
}
i{
  color: #35bb8a ;
  font-size: xx-large;
  font-weight: light;
  margin-top: 7%;
  margin-bottom: 3%;
}
.icon{
  background-color: #35bb8a20;
  padding: 3%;
  border-radius: 12px;
  margin-bottom: 5%;
}

.card-body:hover .icon{
  transform: rotate(25deg);
}

.card-body{
  margin-top: 10%;
  border-radius: 5%;
}

.centerImg{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  border:none;
  border-collapse: collapse;
}

table td {
  border-left: 1px solid #00000020;
  border-right: 1px solid #00000020;
  padding: 0% 1%;
  width: 25%;
}

table td:first-child {
  border-left: none;
}

table td:last-child {
  border-right: none;
}

.custom-card{
  padding: 3%;
  margin-top: 5%;
  border-radius: 20px;
  max-width: 80%;
  max-height: 10%;
  margin-left: auto;
  margin-right:auto ;
  font-size: small;
}

.card{
  border: solid #00000020;
  border-width: 1px;
}

.sub-title{
  font-size: medium !important;
  margin-bottom: 0px;
}
.fontLarge{
  font-size: 2.5rem;
  line-height: 2.75rem !important;
}
.fontWhite{
  color: white;
  font-weight: 900;
  line-height: normal;
}
.success-stories-font{
  font-weight: 510;
  font-size: medium;
  margin-bottom: 2px;
}

.success-stories-text{
  font-weight: 500;
  font-size: large;
  margin-bottom: 2px;
  line-height: 1.5em;
}
.cardBox{
  max-width: 95%;
  margin-left:  auto;
  margin-right: auto;
  max-height: 80%;
}

.maxwidth{
  max-width: 80%;
  margin: 0 auto;
}

.hideBorder{
  border: 0px;
}

.custom-container{
  position: relative;
  margin-bottom: 5%;
  width: 80%;
  padding: auto;
  max-height: 10%;
  margin-top: 5%;
}

.divOverlay{
  position: absolute;
  top:0px;
  left: 1%;
  right: 1%;
  border-radius: 25px;
  background-color: #35bb8aDF;
  height: 100%;

  overflow: hidden;
  padding: 3% 5%;
}

.success-story-img{
  width: 100%;
  margin: 0 auto;
  border-radius:25px; 
  height: 450px; 
  object-fit: cover
}

.contact-card{
  width: 40%;
  border-color:lightgrey;
  border-width: 1px;
  border-style: solid;
  padding: 5%;
  border-radius: 10px;
}
.card-title{
  font-size: x-large;
  margin-bottom: 0px;
}

.form-label{
  font-weight: lighter;
  margin-bottom: 0px;
}
.form-control-custom{
  height: 2em !important;
  min-height: 10px;
  font-size: 1em;
  padding: 8px;
  border-radius: 10px;
}

.form-control-text{
  font-size: 1em;
  padding: 8px;
  border-radius: 10px;
}

.text-email{
  color:#35bb8a;
}

.custom-collapse{
  background-color: white;
  padding: 1rem 2rem;
  margin: 5% auto;
  width: 70%;
  border-radius: 25px;
  border-color:lightgrey;
  border-width: 1px;
  border-style: solid;
}
.cards{
 
  margin-top: 5%;
  max-width: 40%;
  max-height: 10%;
  margin-left: auto;
  margin-right:auto ;
  border-color:lightgrey;
  border-width: 1px;
  border-style: solid;
  padding: 5%;
  border-radius: 10px;
  background-color: white;
}

.left{
  margin-top: 0;
  width: 40%;
  float: left;
}

.right{
  width: 40%;
  float: right;
  margin: auto;
}

.custom-dropdown{
  width: 96em;
  padding: 5% 5% !important;
}


.nav-col-custom-inner{
  flex: 0 0 auto;
  width: 13%;
  margin-left: 2%;
  margin-right: 2%;
}
.nav-col-custom-outer{
  flex: 0 0 auto;
  width: 27%;
  margin-left: 3%;
  margin-right: 3%;
  
}

.border-left{
  border-left: 1px solid lightgray;
  padding-left: 1em;
  padding-bottom: 0.5em;
}

.button-dropdown {
  border: none;
  color: rgb(102, 101, 101) !important ;
  background:transparent;
  transition: all 0.5s;
  cursor: pointer;
  padding: 0px;
  margin: 0;
  text-align: left;
  width: 100%;
}

.button-dropdown span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-dropdown span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-dropdown:hover span {
  padding-right: 25px;
  color: #35bb8a;
}

.button-dropdown:hover span:after {
  opacity: 1;
  right: 0;
  color: #35bb8a;
}
.dropdown-menu-fw{
  margin: 0 !important;
  position: absolute;
  left: -5em;
}

.dropdown-menu{
  margin: 0 !important;
  position: absolute;
  left: -6.25em;
  margin-top: 4em;
  border-radius: 0px;
}

.text-muted{
  color: rgb(102, 101, 101) !important;
}