/*----------------------------------------------------
This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.
---------------------------------------------------- */
/*=====================================================================


@Default Styles

Table of Content:
01/ variables
02/ predefine
03/ button
04/ preloader
05/ header
06/ banner
07/ breadcrumb
08/ features
09/ service
10/ price
11/ about
12/ testimonial
13/ screenshot
14/ joblist
15/ faq
16/ portfolio
17/ contact
18/ error
19/ shop
20/ blog
21/ footer

=====================================================================*/

/*====================================================*/
@import "variables";
/*====================================================*/

/*====================================================*/
@import "predefine";
/*====================================================*/

/*====================================================*/
@import "button";
/*====================================================*/

/*====================================================*/
@import "preloader";
/*====================================================*/

/*====================================================*/
@import "header";
/*====================================================*/

/*====================================================*/
@import "banner";
/*====================================================*/

/*====================================================*/
@import "breadcrumb";
/*====================================================*/

/*====================================================*/
@import "features";
/*====================================================*/

/*====================================================*/
@import "service";
/*====================================================*/

/*====================================================*/
@import "price";
/*====================================================*/

/*====================================================*/
@import "about";
/*====================================================*/

/*====================================================*/
@import "testimonial";
/*====================================================*/

/*====================================================*/
@import "screenshot";
/*====================================================*/

/*====================================================*/
@import "joblist";
/*====================================================*/

/*====================================================*/
@import "faq";
/*====================================================*/

/*====================================================*/
@import "portfolio";
/*====================================================*/

/*====================================================*/
@import "contact";
/*====================================================*/

/*====================================================*/
@import "error";
/*====================================================*/

/*====================================================*/
@import "typography";
/*====================================================*/

/*====================================================*/
@import "blog";
/*====================================================*/

/*====================================================*/
@import "shop";
/*====================================================*/

/*====================================================*/
@import "search";
/*====================================================*/

/*====================================================*/
@import "split-home";
/*====================================================*/

/*====================================================*/
@import "hosting";
/*====================================================*/

/*====================================================*/
@import "color1";
/*====================================================*/

/*====================================================*/
@import "color-home";
/*====================================================*/

/*====================================================*/
@import "security";
/*====================================================*/

/*====================================================*/
@import "demo";
/*====================================================*/

/*====================================================*/
@import "footer";
/*====================================================*/

/*====================================================*/
@import "theme";
/*====================================================*/

// Theme color variables
:root {
	--sipstack-green: #34b987;
	--main-background-color: #ffffff;
	--primary-heading-color: #383e45;
	--secondary-heading-color: #3ab889;
	--static-text-color: #909090;
	--dynamic-text-color: black;
	--button-background-color: #3ab889;
	--button-text-color: #ffffff;
	--alternate-color: #f6f6f6;
}

// Theme relevant rules
.footer_area {
	background-color: var(--main-background-color);
}

.dynamic_text {
	color: var(--dynamic-text-color) !important;
}

.static_text {
	color: var(--static-text-color) !important;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--main-background-color);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--sipstack-green);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

// input:checked + .slider {
// 	background-color: #2196f3;
// }

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--sipstack-green);
}

.slider.round:before {
	border-radius: 50%;
}
