<div class="text-center">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary mb-4 btn-sm" data-bs-toggle="modal"
data-bs-target="#snippet-component-timeline-v-3">
<i class="bx bx-code-alt"></i>  Show code
 </button>
</div>

<!-- Modal -->
<div class="modal fade" id="snippet-component-timeline-v-3" tabindex="-1" aria-labelledby="snippet-component-timeline-v-3Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
            <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#demohistoryHTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
          <a href="#demohistoryCSS" data-bs-toggle="tab" class="nav-link">CSS</a>
          <a href="#demohistoryJS" data-bs-toggle="tab" class="nav-link">JS</a>
      </nav>
      <!--Snippets tabs-->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="demohistoryHTML">
              <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                  <!--Copy clipboard button-->
                  <button
                      class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                      data-clipboard-target="#copyCodeTimelineHistory1" data-clipboard-action="copy" id="copyCodeTimelineHistory1-1">Copy code</button>
                  <pre id="copyCodeTimelineHistory1" class="language-markup" data-lang="html">
<code>
    &lt;!--History swiper slider-->
    &lt;div class="swiper-history swiper-container overflow-visible">
        &lt;!--Slider wrapper-->
        &lt;div class="swiper-wrapper">
            &lt;!--Slide-->
            &lt;div class="swiper-slide">
                &lt;div>
                    &lt;div class="pe-5 pb-3 pe-lg-7">
                        &lt;!--Time-->
                        &lt;p class="text-muted">At Present&lt;/p>
                        &lt;!--Year-->
                        &lt;h2 class="text-primary display-5">2022&lt;/h2>
                    &lt;/div>
                    &lt;!--Divider line-->
                    &lt;div class="swiper-divider-line bg-primary position-relative w-100 my-4">&lt;/div>
                    &lt;!--Text-->
                    &lt;div class="pe-7 pt-3 pe-lg-7">
                        &lt;h5>Whole new look with bootstrap5&lt;/h5>
                        &lt;p>Lorem ipsum is text commonly used in the graphic, print, and publishing
                            industries for previewing layouts and visual mockups.&lt;/p>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
            &lt;!--Slide-->
            &lt;div class="swiper-slide">
                &lt;div>
                    &lt;div class="pe-5 pb-3 pe-lg-7">
                        &lt;!--Time-->
                        &lt;p class="text-muted">May&lt;/p>
                        &lt;!--Year-->
                        &lt;h2 class="text-primary text-opacity-75 display-5">2020&lt;/h2>
                    &lt;/div>
                    &lt;!--Divider line-->
                    &lt;div class="swiper-divider-line bg-primary bg-opacity-75 position-relative w-100 my-4">&lt;/div>
                    &lt;!--Text-->
                    &lt;div class="pe-7 pt-3 pe-lg-7">
                        &lt;h5>Finished 5000 Sales&lt;/h5>
                        &lt;p>Lorem ipsum is text commonly used in the graphic, print, and publishing
                            industries for previewing layouts and visual mockups.&lt;/p>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
            &lt;!--Slide-->
            &lt;div class="swiper-slide">
                &lt;div>
                    &lt;div class="pe-5 pb-3 pe-lg-7">
                        &lt;!--Time-->
                        &lt;p class="text-muted">June&lt;/p>
                        &lt;!--Year-->
                        &lt;h2 class="text-primary text-opacity-75 display-5">2018&lt;/h2>
                    &lt;/div>
                    &lt;!--Divider line-->
                    &lt;div class="swiper-divider-line bg-primary bg-opacity-50 position-relative w-100 my-4">&lt;/div>
                    &lt;!--Text-->
                    &lt;div class="pe-7 pt-3 pe-lg-7">
                        &lt;h5>Convert into Bootstrap 4&lt;/h5>
                        &lt;p>Lorem ipsum is text commonly used in the graphic, print, and publishing
                            industries for previewing layouts and visual mockups.&lt;/p>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
            &lt;!--Slide-->
            &lt;div class="swiper-slide">
                &lt;div>
                    &lt;div class="pe-5 pb-3 pe-lg-7">
                        &lt;!--Time-->
                        &lt;p class="text-muted">July&lt;/p>
                        &lt;!--Year-->
                        &lt;h2 class="text-primary text-opacity-50 display-5">2016&lt;/h2>
                    &lt;/div>
                    &lt;!--Divider line-->
                    &lt;div class="swiper-divider-line bg-primary bg-opacity-25 position-relative w-100 my-4">&lt;/div>
                    &lt;!--Text-->
                    &lt;div class="pe-7 pt-3 pe-lg-7">
                        &lt;h5>Finished 2000 Sales&lt;/h5>
                        &lt;p>Lorem ipsum is text commonly used in the graphic, print, and publishing
                            industries for previewing layouts and visual mockups.&lt;/p>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
            &lt;!--Slide-->
            &lt;div class="swiper-slide">
                &lt;div>
                    &lt;div class="pe-5 pb-3 pe-lg-7">
                        &lt;!--Time-->
                        &lt;p class="text-muted">August&lt;/p>
                        &lt;!--Year-->
                        &lt;h2 class="text-primary text-opacity-25 display-5">2014&lt;/h2>
                    &lt;/div>
                    &lt;!--Divider line-->
                    &lt;div class="swiper-divider-line position-relative w-100 my-4">&lt;/div>
                    &lt;!--Text-->
                    &lt;div class="pe-7 pt-3 pe-lg-7">
                        &lt;h5>Launched Assan Theme&lt;/h5>
                        &lt;p>Lorem ipsum is text commonly used in the graphic, print, and publishing
                            industries for previewing layouts and visual mockups.&lt;/p>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>
   
</code>
</pre>
              </div>
          </div>
          <div class="tab-pane fade" id="demohistoryCSS">
            <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                <!--Copy clipboard button-->
                <button
                    class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                    data-clipboard-target="#copyCodeTimelineHistory2" data-clipboard-action="copy" id="copyCodeTimelineHistory2-2">Copy code</button>
<pre id="copyCodeTimelineHistory2" class="language-markup" data-lang="html">
<code>
&lt;!--swiper-slider CSS-->
&lt;link href="assets/vendor/node_modules/css/swiper-bundle.min.css" rel="stylesheet">
</code>
</pre>
            </div>
          </div>
          <div class="tab-pane fade" id="demohistoryJS">
            <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                <!--Copy clipboard button-->
                <button
                    class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                    data-clipboard-target="#copyCodeTimelineHistory3" data-clipboard-action="copy" id="copyCodeTimelineHistory3-3">Copy code</button>
<pre id="copyCodeTimelineHistory3" class="language-markup" data-lang="html">
<code>
    &lt;!--swiper-slider Script-->
    &lt;script src="assets/vendor/node_modules/js/swiper-bundle.min.js">&lt;/script>
    &lt;script>
        // init Swiper:
        const swiper = new Swiper('.swiper-history', {
            slidesPerView: 1,
            spaceBetween: 0,
            autoHeight: true,
            breakpoints: {
                // when window width is >= 480px
                768: {
                    slidesPerView: 2,
                    spaceBetween: 0
                },
                // when window width is >= 640px
                1024: {
                    slidesPerView: 3,
                }
            }
        });
    &lt;/script>
</code>
</pre>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>