<div class="text-center">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary mb-4 btn-sm" data-bs-toggle="modal"
data-bs-target="#snippet-component-timeline-steps">
<i class="bx bx-code-alt"></i>  Show code
 </button>
</div>

<!-- Modal -->
<div class="modal fade" id="snippet-component-timeline-steps" tabindex="-1" aria-labelledby="snippet-component-timeline-stepsLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn z-index-1 btn-outline-secondary border-2 width-4x height-4x fs-4 lh-1 rounded-pill flex-center p-0 position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close">
            <i class="bx bx-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <!--Snippets tab nav-->
        <nav class="nav nav-tabs mb-0">
          <a href="#demo2HTML" data-bs-toggle="tab" class="nav-link active">HTML</a>
      </nav>
      <!--Snippets tabs-->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="demo2HTML">
              <div class="position-relative" style="max-height: 75vh; overflow-y: auto;">
                  <!--Copy clipboard button-->
                  <button
                      class="btn btn-sm position-absolute end-0 top-0 me-3 mt-3 z-index-1 btn-primary copy-link"
                      data-clipboard-target="#copyCodeTimelineSteps1" data-clipboard-action="copy" id="copyCodeTimelineSteps1-1">Copy code</button>
                  <pre id="copyCodeTimelineSteps1" class="language-markup" data-lang="html">
<code>
    &lt;!--Steps list-->
    &lt;ul class="step mx-3 mx-sm-0 list-unstyled mb-0">
    
        &lt;!--step-item-->
        &lt;li class="step-item">
            &lt;div class="step-row">
                &lt;span class="step-icon bg-danger text-white">
                    &lt;!--Icon-->
                    &lt;i class="bx bx-cog align-middle lh-1">&lt;/i>
                &lt;/span>
                &lt;!--Step content-->
                &lt;div class="step-content">
                    &lt;div class="alert alert-danger d-flex mb-0" role="alert">
                        &lt;i class="bx bx-exclamation mt-1 me-4 fs-4">&lt;/i>
                        &lt;div class="">
                            &lt;h6 class="alert-heading">Scheduled Maintenance!&lt;/h6>
                            &lt;hr class="my-2">
                            &lt;p class="text-body mb-0">We're currently updating an issue that's
                                preventing Forms, Meetings and Ads from being modified. All
                                existing forms on websites continue working and accepting
                                submissions.&lt;/p>
                        &lt;/div>
                    &lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/li>

        &lt;!--step-item-->
        &lt;li class="step-item">
            &lt;div class="step-row">
                &lt;span class="step-icon bg-success text-white">
                    &lt;!--Icon-->
                    &lt;i class="bx bxl-dribbble align-middle lh-1">&lt;/i>
                &lt;/span>
                &lt;!--Step content-->
                &lt;div class="step-content">
                    &lt;h6 class="mb-1">Updated to bootstrap 5&lt;/h6>
                    &lt;small class="d-block mb-2 text-muted">June 14, 12:24PM EST&lt;/small>
                    &lt;p class="mb-0">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to
                        make a type specimen book.
                    &lt;/p>
                &lt;/div>
            &lt;/div>
        &lt;/li>

        &lt;!--step-item-->
        &lt;li class="step-item">
            &lt;div class="step-row">
                &lt;span class="step-icon bg-primary text-white">
                    &lt;!--Icon-->
                    &lt;i class="bx bx-bug align-middle lh-1 fs-6">&lt;/i>
                &lt;/span>
                &lt;div class="step-content">
                    &lt;h6 class="mb-1">Minor bug fixes&lt;/h6>
                    &lt;small class="d-block mb-2 text-muted">June 02, 11:24 AM EST&lt;/small>
                    &lt;p class="mb-0">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to
                        make a type specimen book.
                    &lt;/p>
                &lt;/div>
            &lt;/div>
        &lt;/li>
    &lt;/ul>
    &lt;!--End Steps list--> 
</code>
</pre>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>