<!--begin:footer-->
<footer class="position-relative bg-dark text-white overflow-hidden">
    <div class="container pt-9 pt-lg-11 pb-6 position-relative">
        <div class="row">
            <div class="col-6 col-lg-3 col-xl-2 order-lg-2 ms-lg-auto mb-6">
                <h6 class="mb-4">Account</h6>
                <!-- nav -->
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Placing an order</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Shipping</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Track order</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Orders</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Assan Pay</a></li>
                </ul>
                <!-- /.nav -->
            </div>

            <div class="col-6 col-lg-3 col-xl-2 order-lg-3 ms-lg-auto mb-6">
                <h6 class="mb-4">Company</h6>

                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Become a seller</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">News &amp; Media</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    <li class="nav-item d-flex justify-content-between align-items-center">
                        <a class="nav-link" href="#!">Help center
                        </a>
                    </li>
                </ul>
                <!-- /.nav -->
            </div>

            <div class="col-md-6 col-lg-3 col-xl-2 ms-lg-auto order-lg-4 mb-6">
                <h6 class="mb-4">Top Brands</h6>
                <ul class="nav flex-column mb-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Wrangler</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Us polo Assn.</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Puma</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Levis</a></li>
                    <li class="nav-item d-flex justify-content-between align-items-center">
                        <a class="nav-link" href="#!">Flying Machine
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 order-lg-1 mb-6">
                <div class="d-flex align-items-md-stretch flex-column h-100">
                    <div class="flex-grow-1 d-flex flex-column">
                        <small class="d-block mb-3">
                            745K Followers
                        </small>
                        <div class="mb-4">
                            <a href="#!" class="btn btn-outline-white btn-rise">
                                <div class="btn-rise-bg bg-white"></div>
                                <div class="btn-rise-text">
                                    <i class="bx bxl-instagram me-1 align-middle fs-5"></i> Follow us on IG
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- Copyright -->
                    <p class="small text-muted mb-0">© Assan. by Creative DM</p>
                    <!-- End Copyright -->
                </div>
            </div>
        </div>
        <hr class="bg-transparent border-top border-white opacity-25 mb-6 mt-0">
        <div class="row align-items-md-center">
            <div class="col-md-4 mb-3 mb-md-0">
                <!--:payment options-->
                <div class="d-flex justify-content-start">

                    <div class="d-block me-2 my-1">
                        <img src="assets/img/payment/american_express.svg" alt="">
                    </div>
                    <div class="d-block me-2 my-1">
                        <img src="assets/img/payment/paypal.svg" alt="paypal">
                    </div>
                    <div class="d-block me-2 my-1">
                        <img src="assets/img/payment/rupay.svg" alt="rupay">
                    </div>
                    <div class="d-block my-1">
                        <img src="assets/img/payment/visa.svg" alt="visa">
                    </div>
                </div>
                <!--:/payment options-->
            </div>

            <div class="col-md-2 col-xl-4 mb-3 mb-md-0">
                <!-- Links -->
                <ul class="list-inline small mb-0">
                    <li class="list-inline-item me-3">
                        <a class="d-block" href="#!">
                            <i class="bx bxl-facebook fs-4"></i>
                        </a>
                    </li>
                    <li class="list-inline-item me-3">
                        <a class="d-block" href="#!">
                            <i class="bx bxl-twitter fs-4"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="d-block" href="#!">
                            <i class="bx bxl-linkedin fs-4"></i>
                        </a>
                    </li>
                </ul>
                <!-- End Links -->
            </div>


            <div class="col-md-6 col-xl-4 text-md-end">
                <!-- Links -->
                <ul class="list-inline small mb-0">
                    <li class="list-inline-item me-3">
                        <a class="d-block" href="#!">Privacy &amp; Policy</a>
                    </li>
                    <li class="list-inline-item me-3">
                        <a class="d-block" href="#!">Terms &amp; Conditions</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="d-block" href="#!">Careers</a>
                    </li>
                </ul>
                <!-- End Links -->
            </div>
        </div>
    </div>
</footer>
<!--/end:footer-->

<!-- begin:Back to top -->
<a href="#top"
    class="toTop">
    <i class="bx bxs-up-arrow align-middle lh-1"></i>
</a>
<!-- end:Back to top -->


 <!-- scripts -->
 <script src="assets/js/theme.bundle.js"></script>
